@using FATWA_DOMAIN.Models.BugReporting
@using FATWA_DOMAIN.Models.CaseManagment
@using FATWA_DOMAIN.Models.ViewModel.CaseManagment;
@using Syncfusion.Blazor.RichTextEditor
@using static FATWA_DOMAIN.Enums.GeneralEnums
@using static FATWA_DOMAIN.Enums.WorkflowModuleAndActivitiesEnum
@layout MainLayout

@*< History Author = 'Muhammad Zaeem' Date = '2024-04-28' Version = "1.0" Branch = "master" Create Bug Ticket</History>*@
@if (loginState.ClaimList.Where(x => x.Value == "Permissions.Bug.Ticket.Add").Count() > 0)
{
    <div class="row pt-2">
        <div class="col-md-12">
            <RadzenTemplateForm Data="@addBugTicket" TItem="BugTicket" Submit="@FormSubmit">
                <ChildContent>
                    <div class="row pt-2 pb-2">
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div class="k-form-field">
                                <div class="k-form-field-wrap">
                                    <label for="ccs" class="k-label k-form-label">@(translationState.Translate("Ticket_Id") + " *")</label>
                                    <div class="k-form-field-wrap">
                                        <RadzenTextBox Style="width: 100%;" Placeholder="@translationState.Translate("Ticket_Id")" @bind-Value="@addBugTicket.TicketId" Disabled=true Name="TicketId" />
                                        <RadzenRequiredValidator Component="TicketId" Text="@translationState.Translate("Required_Field")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="k-form-field">
                                    <div class="k-form-field-wrap">
                                        <label for="ccs" class="k-label k-form-label">@(translationState.Translate("Created_Date") + " *")</label>
                                        <div class="k-form-field-wrap">
                                            <RadzenDatePicker Placeholder="@translationState.Translate("dd/MM/yyyy")"
                                                              Name="CreatedDate"
                                                              Disabled="true"
                                                              Style="width: 100%;"
                                                              DateFormat="dd/MM/yyyy"
                                                              @bind-Value="@addBugTicket.CreatedDate" />
                                            <RadzenRequiredValidator Component="CreatedDate" Text="@translationState.Translate("Required_Field")" DefaultValue="0">
                                            </RadzenRequiredValidator>
                                        </div>
                                    </div>
                                </div>
                            </div> *@
                        @* </div>
                        <div class="row pb-4"> *@
                        @if (!string.IsNullOrEmpty(BugId))
                        {
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="k-form-field">
                                    <div class="k-form-field-wrap">
                                        <label for="ccs" class="k-label k-form-label">@(translationState.Translate("Bug_Id") + " *")</label>
                                        <div class="k-form-field-wrap">
                                            <RadzenTextBox Style="width: 100%;" Name="BugNumber" Disabled="true" Placeholder="@translationState.Translate("Bug_Id")" @bind-Value="@addBugTicket.BugNumber"></RadzenTextBox>
                                            <RadzenRequiredValidator Component="BugNumber" Text="@translationState.Translate("Required_Field")">
                                            </RadzenRequiredValidator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="k-form-field">
                                <div class="k-form-field-wrap">
                                    <label for="ccs" class="k-label k-form-label">@(translationState.Translate("Subject") + " *")</label>
                                    <div class="k-form-field-wrap">
                                        <RadzenTextBox Style="width: 100%;" Placeholder="@translationState.Translate("Subject")" @bind-Value="@addBugTicket.Subject" Name="Subject" />
                                        <RadzenRequiredValidator Component="Subject" Text="@translationState.Translate("Required_Field")" />
                                        <RadzenRegexValidator Component="Subject" Pattern="@RegexPatterns.NoSpacesPattern" Text="@translationState.Translate("Cannot_have_trailing_spaces")" />
                                        <RadzenLengthValidator Component="Subject" Max="150" Text="@translationState.Translate("Max_One_Fifty_Characters")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="k-form-field">
                                <div class="k-form-field-wrap">
                                    <label for="IssueTypes" class="k-label k-form-label">
                                        <RadzenLabel Text="@(translationState.Translate("Description") + " *")" />
                                    </label>
                                    <div class="k-form-field-wrap">
                                        <SfRichTextEditor EnableAutoUrl="false" EnableRtl="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? false : true)" Locale="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "en-US" : "ar-KW")" @bind-Value="@addBugTicket.Description">
                                            <RichTextEditorToolbarSettings Items="@Tools" />
                                            <RichTextEditorQuickToolbarSettings Image="@ImageTools" />
                                            <RichTextEditorImageSettings EnableResize="true" AllowedTypes=@allowedTypes SaveFormat="SaveFormat.Base64"></RichTextEditorImageSettings>
                                        </SfRichTextEditor>
                                        <div class="rz-message rz-messages-error ">@descriptionValidationMessage</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <FileUpload ReferenceGuid="addBugTicket.Id"
                                                @bind-DeletedAttachementIds="@addBugTicket.DeletedAttachementIds"
                                                Multiple="false"
                                                MaxFileSize="systemSettingState.File_Maximum_Size"
                                                FileTypes="@(systemSettingState.FileTypes.ToList())"
                                                UploadFrom="BugReporting"
                                                MandatoryAttachmentTypeId="(int)AttachmentTypeEnum.Bug"
                                                ModuleId="(int)WorkflowModuleEnum.BugReporting" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 p-3" style="text-align:end;">
                            <RadzenButton Text="@translationState.Translate("Save_As_Draft")"
                                          ButtonStyle="ButtonStyle.Primary"
                                          style="margin-right: 0.2rem !important"
                                          ButtonType="Radzen.ButtonType.Button"
                                          Click="@(()=> SaveAsDraft(addBugTicket))" />
                            <RadzenButton Text="@translationState.Translate("Submit")"
                                          ButtonStyle="ButtonStyle.Primary"
                                          style="margin-right: 0.2rem !important"
                                          ButtonType="Radzen.ButtonType.Submit" />
                            <RadzenButton Text="@translationState.Translate("Cancel")"
                                          ButtonStyle="ButtonStyle.Light"
                                          ButtonType="Radzen.ButtonType.Button"
                                          Click="@ButtonCancelClick" />
                        </div>
                    </div>
                </ChildContent>
            </RadzenTemplateForm>
        </div>
    </div>

}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}
