@page "/reportedbug-view/{BugId}"
@page "/reportedbug-view/{BugId}/{IsCrashReport:bool}"
@using FATWA_DOMAIN.Common
@using FATWA_DOMAIN.Models.BugReporting
@using FATWA_DOMAIN.Models.ViewModel.BugReportingVMs
@using Syncfusion.Blazor.RichTextEditor
@using static FATWA_DOMAIN.Enums.WorkflowModuleAndActivitiesEnum
<PageTitle>@translationState.Translate("View_Bug_Details")</PageTitle>

@if (loginState.ClaimList.Where(x => x.Value == "Permissions.Bug.ReportedBug.Detail").Count() > 0)
{
    <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
        <div class="col-md-6">
            <div class="row no-gutters">
                <RadzenBreadCrumb>
                    <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                    <RadzenBreadCrumbItem Path="@((IsCrashReport ? "/list-crashreport" : "/list-reportedbug"))" Text="@translationState.Translate(IsCrashReport ? "list-crashreport" : "List_Reported_Bug")" />
                    <RadzenBreadCrumbItem Text="@translationState.Translate("View_Bug_Details")" />
                </RadzenBreadCrumb>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="backtoDashboard">

                <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                              Size="ButtonSize.Small"
                              title="@translationState.Translate("Go_Back_HomeScreen")"
                              class="returnBtn"
                              Icon="home" Click="@GoBackHomeScreen" />
            </div>
        </div>
    </div>
    <div class="row TitleBar justify-content-left align-items-center py-4 pt-5">
        <div class="col-md-6">
            <div class="row no-gutters">
                <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("View_Bug_Details")" />
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
        </div>
    </div>
    <RadzenContent Container="main">
        <ChildContent>
            <RadzenCard Style="padding: 30px; border-radius: 8px;">
                <div class="row ">
                    <div class="col-md-12">

                        <RadzenAccordion Multiple=true>
                            <Items>
                                <RadzenAccordionItem Text="@translationState.Translate("Details")" Selected="true">
                                    <div class="row pb-2">
                                        <div class="col-12 datagrid-rz-label">
                                            <div class="row no-gutters">
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Bug_Id"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@detailReportedBug?.PrimaryBugId</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Creation_Date"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@detailReportedBug?.CreatedDate.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Issue_Type"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? detailReportedBug?.IssueTypeEn : detailReportedBug?.IssueTypeAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Subject"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(detailReportedBug?.Subject)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Application"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? detailReportedBug?.ApplicationEn : detailReportedBug?.ApplicationAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Module"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? detailReportedBug?.ModuleEn : detailReportedBug?.ModuleAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Screen_Name_OR_Url"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@detailReportedBug?.ScreenReference</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Status"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? detailReportedBug?.StatusEn : detailReportedBug?.StatusAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reported_By"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@detailReportedBug?.CreatedBy</h3>
                                                    </div>
                                                </div>
                                                @if (detailReportedBug?.ModifiedBy != null)
                                                {
                                                    <div class="col-6 detailSection">
                                                        <div class="detailHeading">
                                                            <h3>@translationState.Translate("Modified_By"):</h3>
                                                        </div>
                                                        <div class="detailContent">
                                                            <h3>@detailReportedBug?.ModifiedBy</h3>
                                                        </div>
                                                    </div>
                                                }
                                                @if (detailReportedBug?.ModifiedDate != null)
                                                {
                                                    <div class="col-6 detailSection">
                                                        <div class="detailHeading">
                                                            <h3>@translationState.Translate("Modification_Date"):</h3>
                                                        </div>
                                                        <div class="detailContent">
                                                            <h3>@detailReportedBug?.ModifiedDate?.ToString("dd/MM/yyyy")</h3>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </RadzenAccordionItem>
                            </Items>
                        </RadzenAccordion>

                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">

                        <RadzenAccordion Multiple=true>
                            <Items>
                                <RadzenAccordionItem Text="@translationState.Translate("Description")" Selected="true">
                                    <div class="col-12">
                                        <div class="detailContent">
                                            @* <h3>@(new MarkupString(detailReportedBug?.Description))</h3> *@
                                            <RadzenHtmlEditor class="@(ContainsArabic(detailReportedBug.Description) ? "draftEditor bugEditor bugArabicUI" : "draftEditor bugEditor bugEnglishUI")" @bind-Value="@(detailReportedBug.Description)" Disabled="true">
                                            </RadzenHtmlEditor>
                                        </div>
                                    </div>
                                </RadzenAccordionItem>
                            </Items>
                        </RadzenAccordion>

                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">

                        @if (detailReportedBug.Id != Guid.Empty)
                        {
                            <RadzenAccordion Multiple=true>
                                <Items>
                                    <RadzenAccordionItem Text="@translationState.Translate("Documents")" Selected="true">
                                        <FileUpload ModuleId="(int)WorkflowModuleEnum.BugReporting" IsViewOnly="true" ReferenceGuid="@detailReportedBug.Id" Multiple="true" MaxFileSize="systemSettingState.File_Maximum_Size" FileTypes="@(systemSettingState.FileTypes.ToList())" UploadFrom="BugReporting"></FileUpload>
                                    </RadzenAccordionItem>
                                </Items>
                            </RadzenAccordion>
                        }


                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">

                        <RadzenAccordion Multiple=true>
                            <Items>
                                <RadzenAccordionItem Text="@translationState.Translate("Comments")" Selected="true">

                                    <div class="col-md-12 popup-buttons-alignment p-0  ">
                                        <RadzenButton Icon="add_circle" style="margin-bottom: 10px" Text="@translationState.Translate("Add_Comment")" Click="@((args) => OnClickAddComment())" />
                                    </div>

                                    @if (isShowEditor)
                                    {
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                                                <SfRichTextEditor CssClass="bugEditor" Height="200px" EnableAutoUrl="false" EnableRtl="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? false : true)" Locale="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "en-US" : "ar-KW")" @bind-Value="@commentValue">
                                                    <RichTextEditorToolbarSettings Items="@Tools" />
                                                    <RichTextEditorQuickToolbarSettings Image="@ImageTools" />
                                                    <RichTextEditorImageSettings EnableResize="true" AllowedTypes=@allowedTypes SaveFormat="SaveFormat.Base64"></RichTextEditorImageSettings>
                                                </SfRichTextEditor>

                                            </div>
                                        </div>
                                        <div class="col-md-12 popup-buttons-alignment p-0  pt-2 pb-2">
                                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="@translationState.Translate("Submit")" Click="@(() => AddComment())" />
                                            <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 0.2rem !important" Text="@translationState.Translate("Cancel")" Click="OnCancel" />

                                        </div>
                                    }
                                    @foreach (var comment in bugTicketComments.Where(c => c.ParentCommentId == null))
                                    {
                                        var firstLetter = GetUserFirstLetter(comment);

                                        <div class="comment-row">
                                            @* Parent Comment Display *@
                                            <div class="d-flex flex-start align-items-center">
                                                <div class="rounded-circle shadow-1-strong me-3 d-flex align-items-center justify-content-center mx-2 username-icon">
                                                    @firstLetter.Result
                                                </div>
                                                <div>
                                                    <h6 class="fw-bold mb-1">@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? comment.CommenterNameEn : comment.CommenterNameAr)</h6>
                                                    <p class="text-muted small mb-0">
                                                        @comment.CreatedDate.ToString("dd/MM/yyyy h:mm tt")
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="mt-3 pb-2 px-3">
                                                @if (editingCommentId == comment.Id)
                                                {
                                                    <div class="row">
                                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                            <SfRichTextEditor CssClass="bugEditor" Height="200px" EnableAutoUrl="false" EnableRtl="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? false : true)" Locale="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "en-US" : "ar-KW")" @bind-Value="@commentValue">
                                                                <RichTextEditorToolbarSettings Items="@Tools" />
                                                                <RichTextEditorQuickToolbarSettings Image="@ImageTools" />
                                                                <RichTextEditorImageSettings EnableResize="true" AllowedTypes=@allowedTypes SaveFormat="SaveFormat.Base64"></RichTextEditorImageSettings>
                                                            </SfRichTextEditor>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 popup-buttons-alignment p-0  pt-2 pb-2">
                                                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="@translationState.Translate("Submit")" Click="@(() => AddComment())" />
                                                        <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 0.2rem !important" Text="@translationState.Translate("Cancel")" Click="OnCancel" />

                                                    </div>
                                                }
                                                else
                                                {
                                                    @* @(new MarkupString(comment.Comment)) *@
                                                    <RadzenHtmlEditor class="@(ContainsArabic(comment.Comment) ? "draftEditor bugEditor bugArabicUI" : "draftEditor bugEditor bugEnglishUI")" @bind-Value="@(comment.Comment)" Disabled="true">
                                                    </RadzenHtmlEditor>
                                                }
                                            </p>
                                            <div class="small d-flex justify-content-start pb-2">
                                                <TelerikButton Class="d-flex align-items-center me-3 mx-3" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" FillMode="@ThemeConstants.Button.FillMode.Link" OnClick="@(() => ShowReplyBox(comment.Id))">Reply</TelerikButton>
                                                @if (comment.CreatedBy == loginState.Username)
                                                {
                                                    <TelerikButton Class="d-flex align-items-center me-3 mx-3" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" FillMode="@ThemeConstants.Button.FillMode.Link" OnClick="@(() => EditComment(comment))">Edit</TelerikButton>
                                                    <TelerikButton Class="d-flex align-items-center me-3 mx-3" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" FillMode="@ThemeConstants.Button.FillMode.Link" OnClick="@(() => DeleteComment(comment))">Delete</TelerikButton>
                                                }
                                            </div>
                                            <hr />
                                            @* Reply Editor *@

                                            @if (replyToCommentId == comment.Id)
                                            {
                                                <div class="row">
                                                    <div class="col-12">
                                                        <SfRichTextEditor CssClass="bugEditor" Height="200px" @bind-Value="@commentValue">
                                                            <RichTextEditorToolbarSettings Items="@Tools" />
                                                            <RichTextEditorQuickToolbarSettings Image="@ImageTools" />
                                                            <RichTextEditorImageSettings EnableResize="true" AllowedTypes=@allowedTypes SaveFormat="SaveFormat.Base64"></RichTextEditorImageSettings>
                                                        </SfRichTextEditor>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 popup-buttons-alignment p-0  pt-2 pb-2">
                                                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="@translationState.Translate("Submit")" Click="@(() => AddReply(comment.Id))" />
                                                    <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 0.2rem !important" Text="Cancel" Click="@CancelReply" />
                                                </div>
                                            }

                                            @* Display replies *@
                                            <div class="replies mx-5">
                                                @foreach (var reply in bugTicketComments.Where(c => c.ParentCommentId == comment.Id))
                                                {
                                                    var UserName = @GetUserFirstLetter(reply);

                                                    <div class="ml-4 pb-5">
                                                        <div class="d-flex flex-start align-items-center">
                                                            <div class="rounded-circle shadow-1-strong me-3 d-flex align-items-center justify-content-center mx-2 username-icon">
                                                                @UserName.Result
                                                            </div>
                                                            <div>
                                                                <h6 class="fw-bold mb-1">@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? reply.CommenterNameEn : reply.CommenterNameAr)</h6>
                                                                <p class="text-muted small mb-0">
                                                                    @reply.CreatedDate.ToString("dd/MM/yyyy h:mm tt")
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p class="mt-3 pb-21 px-3">
                                                            @if (editingCommentId == reply.Id)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                        <SfRichTextEditor CssClass="bugEditor" Height="200px" EnableAutoUrl="false" EnableRtl="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? false : true)" Locale="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "en-US" : "ar-KW")" @bind-Value="@commentValue">
                                                                            <RichTextEditorToolbarSettings Items="@Tools" />
                                                                            <RichTextEditorQuickToolbarSettings Image="@ImageTools" />
                                                                            <RichTextEditorImageSettings EnableResize="true" AllowedTypes=@allowedTypes SaveFormat="SaveFormat.Base64"></RichTextEditorImageSettings>
                                                                        </SfRichTextEditor>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 popup-buttons-alignment p-0  pt-2 pb-2">
                                                                    <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="@translationState.Translate("Submit")" Click="@(() => AddComment())" />
                                                                    <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 0.2rem !important" Text="@translationState.Translate("Cancel")" Click="OnCancel" />

                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                @* @(new MarkupString(reply.Comment)) *@
                                                                <RadzenHtmlEditor class="@(ContainsArabic(reply.Comment) ? "draftEditor bugEditor bugArabicUI" : "draftEditor bugEditor bugEnglishUI")" @bind-Value="@(reply.Comment)" Disabled="true">
                                                                </RadzenHtmlEditor>
                                                            }
                                                        </p>
                                                        @if (reply.CreatedBy == loginState.Username)
                                                        {
                                                            <div class="small d-flex justify-content-start pb-2">
                                                                <TelerikButton Class="d-flex align-items-center me-3 mx-3" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" FillMode="@ThemeConstants.Button.FillMode.Link" OnClick="@(() => EditComment(reply))">Edit</TelerikButton>
                                                                <TelerikButton Class="d-flex align-items-center me-3 mx-3" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" FillMode="@ThemeConstants.Button.FillMode.Link" OnClick="@(() => DeleteComment(reply))">Delete</TelerikButton>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </RadzenAccordionItem>

                            </Items>
                        </RadzenAccordion>

                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">

                        <RadzenAccordion Multiple=true>
                            <Items>
                                <RadzenAccordionItem Text="@translationState.Translate("FeedBack")">
                                    <div class="col-md-12 popup-buttons-alignment p-0 ">
                                        <RadzenButton Icon="add_circle" style="margin-bottom: 10px" Text="@translationState.Translate("Add_FeedBack")" Click="@((args) => AddFeedBack())" />
                                    </div>
                                    <div class="row tableContent table-responsive no-gutters pb-3">
                                        <RadzenDataGrid @ref="feedbackGrid"
                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                        AllowFiltering="false"
                                                        AllowPaging="true"
                                                        PageSize="@systemSettingState.Grid_Pagination"
                                                        Count=@(bugTicketFeedBack != null ? bugTicketFeedBack.Count() : 0)
                                                        AllowSorting="true"
                                                        PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                        ShowPagingSummary="true"
                                                        Data="@bugTicketFeedBack"
                                                        TItem="BugTicketCommentVM">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="BugTicketCommentVM" Property="Comment" Title="@translationState.Translate("FeedBack_Text")"></RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="BugTicketCommentVM" Property="@(Thread.CurrentThread.CurrentUICulture.Name=="en-US"? "CommenterNameEn":"CommenterNameAr")" Title="@translationState.Translate("Name")"></RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="BugTicketCommentVM" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Date")"></RadzenDataGridColumn>
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                </RadzenAccordionItem>
                            </Items>
                        </RadzenAccordion>

                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">

                        <RadzenAccordion Multiple=true>
                            <Items>
                                <RadzenAccordionItem Text="@translationState.Translate("History")">
                                    <div class="row tableContent table-responsive no-gutters pb-3">
                                        <RadzenDataGrid @ref="historyGrid"
                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                        AllowFiltering="false"
                                                        AllowPaging="true"
                                                        PageSize="@systemSettingState.Grid_Pagination"
                                                        AllowSorting="true"
                                                        Count=@(bugStatusHistories != null ? bugStatusHistories.Count() : 0)
                                                        PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                        ShowPagingSummary="true"
                                                        Data="@bugStatusHistories"
                                                        TItem="TicketStatusHistoryVM">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="TicketStatusHistoryVM" Property="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US"? "Value_En":"Value_Ar" )" Title="@translationState.Translate("Status")"></RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="TicketStatusHistoryVM" Property="@(Thread.CurrentThread.CurrentUICulture.Name=="en-US"? "UserNameEn":"UserNameAr")" Title="@translationState.Translate("UserName")"></RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="TicketStatusHistoryVM" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Date")"></RadzenDataGridColumn>
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                </RadzenAccordionItem>

                            </Items>
                        </RadzenAccordion>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <RadzenAccordion Multiple=true>
                            <Items>
                                <RadzenAccordionItem Text="@translationState.Translate("Tagged_Tickets")">
                                    <div class="row tableContent table-responsive no-gutters pb-3">
                                        <RadzenDataGrid @ref="ticketGrid"
                                                        AllowFiltering="false"
                                                        AllowPaging="true"
                                                        AllowSorting="true"
                                                        ShowPagingSummary="true"
                                                        Data="@getTicket"
                                                        PageSize="@systemSettingState.Grid_Pagination"
                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                        Count=@(getTicket != null ? getTicket.Count() : 0)
                                                        PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                        TItem="TicketListVM">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="TicketListVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="80px" TextAlign="TextAlign.Center">
                                                    <Template Context="rowItem">
                                                        @if (rowItem.AssignTo == loginState.UserDetail.UserId || rowItem.CreatedBy == loginState.UserDetail.Email || loginState.UserRoles.Any(x => x.RoleId == SystemRoles.BugAdmin) || loginState.UserRoles.Any(x => x.RoleId == SystemRoles.FatwaAdmin))
                                                        {
                                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="visibility" Title="@translationState.Translate("View_Detail")" Size="ButtonSize.Small" Click="@((args) => ViewBugTicket(rowItem))" @onclick:stopPropagation="true" />
                                                        }
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property="TicketId" Title="@translationState.Translate("Ticket_Id")" />
                                                <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property="Subject" Title="@translationState.Translate("Subject")" />
                                                <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US"?"StatusEn" :"StatusAr") Title="@translationState.Translate("Status")" />
                                                <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property="CreatedBy" Title="@translationState.Translate("Reported_By")" />
                                                <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property="ResolvedBy" Title="@translationState.Translate("Resolved_By")" />
                                                <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Created_Date")" TextAlign="TextAlign.Center" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                </RadzenAccordionItem>

                            </Items>
                        </RadzenAccordion>

                    </div>
                </div>
                @if (bugResolution.Count() > 0)
                {
                    <div class="row pt-4">
                        <div class="col-md-12">
                            <RadzenAccordion Multiple=true>
                                <Items>
                                    <RadzenAccordionItem Text="@translationState.Translate("Ticket_Resolution")">
                                        @foreach (var resolution in bugResolution)
                                        {
                                            var firstLetter = GetUserFirstLetter(resolution);
                                            <div class="comment-row">
                                                @* Parent Comment Display *@
                                                <div class="d-flex flex-start align-items-center">
                                                    <div class="rounded-circle shadow-1-strong me-3 d-flex align-items-center justify-content-center mx-2 username-icon">
                                                        @firstLetter.Result
                                                    </div>
                                                    <div>
                                                        <h6 class="fw-bold mb-1">@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? resolution.CommenterNameEn : resolution.CommenterNameAr)</h6>
                                                        <p class="text-muted small mb-0">
                                                            @resolution.CreatedDate.ToString("dd/MM/yyyy")
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="mt-3 pb-2 px-3">
                                                    @* @(new MarkupString(resolution.Comment)) *@
                                                    <RadzenHtmlEditor class="@(ContainsArabic(resolution.Comment) ? "draftEditor bugEditor bugArabicUI" : "draftEditor bugEditor bugEnglishUI")" @bind-Value="@(resolution.Comment)" Disabled="true">
                                                    </RadzenHtmlEditor>
                                                </p>
                                                <hr />

                                            </div>
                                        }
                                    </RadzenAccordionItem>
                                </Items>
                            </RadzenAccordion>
                        </div>
                    </div>
                }
            </RadzenCard>
        </ChildContent>
    </RadzenContent>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}

@{
    async Task<string> GetUserFirstLetter(BugTicketCommentVM comment)
    {
        string commenterName = comment.CommenterNameEn;
        char firstLetter = commenterName.Length > 0 ? commenterName[0] : '?';
        return firstLetter.ToString();
    }
    bool ContainsArabic(string input)
    {
        if (string.IsNullOrEmpty(input))
            return false;

        foreach (char c in input)
        {
            if (c >= '\u0600' && c <= '\u06FF') // Arabic Unicode range
            {
                return true;
            }
        }
        return false;
    }
}


