@page "/ExceptionViews"
@layout MainLayout

@using Blazored.LocalStorage;
@using Radzen;
@using Radzen.Blazor
@using Telerik.Blazor;
@using Telerik.Blazor.Components;
@using Microsoft.AspNetCore.Authorization
<!--<History Author = 'Ijaz Ahmad' Date='2022-05-25' Version="1.0" Branch="master">Exception Views</History>-->
<PageTitle> @translationState.Translate("Request_Details") </PageTitle>

<RadzenContent Container="main">
    <ChildContent>
        <RadzenTemplateForm Submit="@FormSubmit">
            <ChildContent> 
                <div class="row case-party-row">
                    <div class="col-md-12">
                        <div class="col-md-12 col-sm-12"> 
                            <RadzenFieldset Text="@translationState.Translate("Request_Details")" style="font-weight: bold; margin-top: 5px;">
                                <div div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="col-md-12 col-sm-12">
                                            <RadzenLabel Text="@translationState.Translate("Court_Type")" Component="CourtType" style="width: 100%;font-weight: bold;">
                                            </RadzenLabel>
                                        </div>
                                        <div class="col-md-12 col-sm-12">

                                            <RadzenDropDown class="ddp"
                                                            TValue="int"
                                                            Placeholder="@translationState.Translate("Select")"
                                                            AllowFiltering="true"
                                                            Data=@MOJRollsCourtsddl
                                                            TextProperty="Name" ValueProperty="Id"
                                                            @bind-Value=@MOJRollsCourtsId
                                                            Change="@OnChangeMOJRollsCourts"
                                                            style="width: 30% !important;" />
                                        </div>
                                    </div>
                                </div>
                                <div div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="col-md-12 col-sm-12">
                                            <RadzenLabel Text="@translationState.Translate("Roll_type")" Component="DocumentTypeId" style="width: 100%;font-weight: bold;">
                                            </RadzenLabel>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <RadzenDropDown TValue="int" class="ddp"
                                                            Placeholder="@translationState.Translate("Select")"
                                                            AllowFiltering="true"
                                                            Data=@MOJRollsddl
                                                            TextProperty="Description"
                                                            ValueProperty="Id" @bind-Value=@MOJRollsId
                                                            Change="@OnChangeMOJRolls"
                                                            style="width: 30% !important;" />
                                        </div>
                                    </div>
                                </div>
                                <div div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="col-md-12 col-sm-12">
                                            <RadzenLabel Text="@translationState.Translate("Chmaber_Name")" Component="DocumentTypeId" style="width: 100%;font-weight: bold;">
                                            </RadzenLabel>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <RadzenDropDown TValue="int"
                                                            class="ddp"
                                                            Placeholder="@translationState.Translate("Select")"
                                                            AllowFiltering="true"
                                                            Data=@MOJRollsChamberddl
                                                            TextProperty="Name"
                                                            ValueProperty="Id"
                                                            @bind-Value=@MOJRollsChamberId
                                                            Change="@OnChangeMOJRollsChamberVM"
                                                            style="width: 30% !important;" />
                                        </div>
                                    </div>
                                </div>
                                <div div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="col-md-12 col-sm-12">
                                            <RadzenLabel Text="@translationState.Translate("Chambers_Number")" Component="DocumentTypeId" style="width: 100%;font-weight: bold;">
                                            </RadzenLabel>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <RadzenDropDown TValue="int"
                                                            class="ddp"
                                                            Placeholder="@translationState.Translate("Select")"
                                                            AllowFiltering="true"
                                                            Data=@MOJRollsChamberTypeCodeddl
                                                            TextProperty="Name"
                                                            ValueProperty="Id"
                                                            @bind-Value=@MOJRollsChamberTypeCodeId
                                                            Change="@OnChangeMOJRollsChamberTypeCode"
                                                            style="width: 30% !important;" />
                                        </div>
                                    </div>
                                </div>
                                <div div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="col-md-12 col-sm-12">
                                            <RadzenLabel Text="@translationState.Translate("Session_Date")" Component="DocumentTypeId" style="width: 100%;font-weight: bold;">
                                            </RadzenLabel>

                                        </div>
                                        <div class="col-md-12 col-sm-12 ">
                                            <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" @bind-Value=@MOJRollsSessionDate Change=@(args => GetSessionDAte(args, "DatePicker", "dd/MM/yyyy")) style="width: 30% !important;" />
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                    </div>
                                </div> 
                            </RadzenFieldset>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <RadzenFieldset Text="@translationState.Translate("Exception_details")" style="font-weight: bold;    margin-top: 5px; ">

                                <label>
                                    @translationState.Translate("Exception_details"): @ExceptionDetails
                                </label>
                            </RadzenFieldset>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <RadzenFieldset Text="@translationState.Translate("Action")">
                                <RadzenCheckBox @bind-Value=@checkBox1Value Name="CheckBox1" TValue="bool" Change=@(args => OnChange(args, "CheckBox1 CheckBox")) />
                                <RadzenLabel Text="@translationState.Translate("try_again")" Component="CheckBox1" Class="MojRollsExceptionRetryCheckbox" />
                            </RadzenFieldset>
                        </div>

                        <div class="row mt-4 popup-buttons-alignment">
                            <div class="col-12 p-0">
                                <RadzenButton ButtonStyle="ButtonStyle.Primary"
                                              style="margin-right: 0.2rem !important"
                                              ButtonType="Radzen.ButtonType.Submit"
                                              Disabled=@IsBtnView
                                              Text="@translationState.Translate("Submits")"
                                              Click="@save">
                                </RadzenButton>
                                <RadzenButton Text="@translationState.Translate("Cancel")"
                                              ButtonStyle="ButtonStyle.Light"
                                              Style="margin-left: 1rem"
                                              Click="@CloseDialog" />
                            </div>
                        </div>
                    </div>
                </div>
            </ChildContent>
        </RadzenTemplateForm>
    </ChildContent>
</RadzenContent>

