@layout MainLayout
@using FATWA_DOMAIN.Models.AdminModels.UserManagement;
<RadzenTemplateForm Data="user" TItem="User" Submit="@SubmitChnages">
    <ChildContent>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            @if (IsTemporaryPassword == true)
            {
                <p style="font-size: 0.8rem !important; font-weight: 400; color: #a8a9ac;">@translationState.Translate("Temp_Password_Policy") </p>
            }
            <div class="form-group row pt-2">
                <div class="col-md-12">
                    <RadzenLabel Text=@translationState.Translate("New_Password") />
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-11">
                        
                                <RadzenTextBox type="@(password ? "password" : "text")"
                                           Style="display: block; width: 100%;" Name="Password"
                                           @bind-Value=@user.Password
                                           Change="@(()=>ValidatePassword(@user.Password))"
                                               Placeholder="@(IsTemporaryPassword==true? @translationState.Translate("Minimum_8_Characters"): @translationState.Translate("New_Password"))" />
                                                            <RadzenRequiredValidator Component="Password" Text=@translationState.Translate("Enter_Password") Popup="true" Style="position: absolute" />
                         

                        </div>
                        <div class="col-md-1 p-0">
                            <RadzenButton Icon="@(password ? "visibility" : "visibility_off")"
                                          Click="TogglePassword" Variant="Variant.Text" Size="ButtonSize.Small"
                                          Style="position: absolute; vertical-align: middle; padding: 7px !important; border-radius: 5px !important;" />
                        </div>
                    </div>
                </div>
                <div class="col-12 pt-1 py-1">
                    @if (!string.IsNullOrEmpty(user.Password))
                    {
                        <RadzenLengthValidator Min="8" Component="Password" Text=@translationState.Translate("Minimum_8_Characters") />
                    }
                    <div class="rz-message rz-messages-error ">@translationState.Translate(@PasswordValidationMessage)</div>
                </div>

                <div class="table-eng-ar">

                    @if (!IsTemporaryPassword)
                    {
                       
                            <table>
                                <tr>
                                    <td colspan="2" style="text-align:center; font-weight: bold;">@translationState.Translate("Password_Policy")</td>
                                </tr>
                                <tr>
                                <td style="text-align:start"> @translationState.Translate("Must_Have_8_Characters") </td>

                                </tr>
                                <tr>
                                <td style="text-align:start"> @translationState.Translate("Must_Have_Atleast_1_Uppercase_Letter") </td>

                                </tr>
                                <tr>
                                <td style="text-align:start"> @translationState.Translate("Must_Have_Atleast_1_Lowerercase_Letter") </td>

                                </tr>
                                <tr>
                                <td style="text-align:start"> @translationState.Translate("Must_Have_Atleast_1_Number") </td>

                                </tr>
                            <tr>
                                <td style="text-align:start"> @translationState.Translate("Must_Have_Atleast_1_Special_Character") (@specialCharacter) </td>

                                </tr>
                            </table>
                       
                    }

                </div>
            </div>
            <div class="form-group row" style="margin-top: -8px;">
                <div class="col-12">
                    <RadzenLabel Text="@translationState.Translate("Confirm_Password")" />
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-11">
                            <RadzenPassword type="@(confirmpassword ? "password" : "text")" Name="RepeatedPassword" @bind-Value="@user.ConfirmPassword" Style="display: block; width: 100%"
                                            Placeholder=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? " Confirm Password " : "تأكيد كلمة المرور ") />
                            <RadzenRequiredValidator Component="RepeatedPassword" Text="@translationState.Translate("Require_Valid_Password")" Popup="true" Style="position: absolute" />
                            <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(user.ConfirmPassword))
                                                    Value=@user.Password Component="RepeatedPassword" Text="@translationState.Translate("Passowrd_Dont_Match")" Popup="true" Style="position: absolute" />
                        </div>
                        <div class="col-md-1 p-0">
                            <RadzenButton Icon="@(confirmpassword ? "visibility" : "visibility_off")"
                                          Click="ToggleConfirmPassword" Variant="Variant.Text" Size="ButtonSize.Small"
                                          Style="position: absolute; vertical-align: middle; padding: 7px !important; border-radius: 5px !important;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-buttons-alignment px-0">
                <RadzenButton ButtonType="Radzen.ButtonType.Submit"
                              IsBusy="@busy"
                              Style="margin-left: 10px; margin-right: 10px;"
                              Text="@translationState.Translate("Submit")" />
                <RadzenButton Text="@translationState.Translate("Cancel")"
                              ButtonStyle="ButtonStyle.Light"
                              Click="@CancelChanges" />
            </div>
        </div>
    </ChildContent>
</RadzenTemplateForm>
<style>
    .rz-label {
        width: -webkit-fill-available;
    }

    .rz-textbox {
        width: -webkit-fill-available;
    }

    .rz-dialog-wrapper {
        filter: drop-shadow(2px 4px 6px black);
    }

    .pinstructions-list li {
        font-size: 13px;
        line-height: 1.2;
        color: #909090;
        font-weight: 400;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

    th {
        border: 1px solid #dddddd;
        background-color: #f2f2f2;
        text-align: left;
        padding: 3px;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 3px;
    }
</style>
