@page "/Index"

@using FATWA_DOMAIN.Models.ViewModel
@using FATWA_WEB.Data
@using FATWA_WEB.Resources
@using FATWA_WEB.Services;
@using FATWA_WEB.Services.Lms
@using static FATWA_GENERAL.Helper.Response;

@inject TranslationState translationState
@inject DashboardService dashboardService
@inject SpinnerService spinnerService
<PageTitle>@translationState.Translate("Dashboard")</PageTitle>

<RadzenContent Container="main">
    <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
                <div class="col-md-6">
                    <div class="row no-gutters">
                       
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="backtoDashboard">

                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_Dashboard")"
                                      class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />

                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_HomeScreen")"
                                      class="returnBtn"
                                      Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>
            </ChildContent>
</RadzenContent>

@*<div class="container-fluid">
    <div class="row">
        <div class="col-12 pb-5 px-3 px-lg-5">
            <div class="container-fluid p-0" style="position: relative">
                <div class="row no-gutters mx-n2">
                   @* <div class="col-xl-4 col-lg-6 p-2">
                        <div class="rz-card card" id="cMfZXnl6kE" _bl_c1989146-be04-4d96-80eb-fcdbd9f59ab2="">
                            <h3 style=" overflow-wrap: break-word; ">
                                @translationState.Translate("Total_books")
                            </h3>
                            <label class="DashboardFirstSectionLabel">@dashboardResult?.LegalLiteratureCount</label>
                            <div class="rz-chart rz-scheme-pastel" style="width: 100%; height: 120px; margin-bottom: -30px;" id="HQFM4Ggb9k" _bl_2c4ee7cf-944c-4d06-920e-e7542aed95d5="">
                                <svg style="width: 100%; height: 100%">
                                    <g transform="translate(0, 32)">
                                        <defs>
                                            <clipPath id="clipPathHQFM4Ggb9k">
                                                <path d="M 0 56 L 199.3000030517578 56 L 199.3000030517578 0 L 0 0"></path>
                                            </clipPath>
                                        </defs>


                                        <g class="rz-column-series rz-series-0">
                                            <path d="M -12.456250190734863 47.6 A 0 0 0 0 1 -12.456250190734863 47.6 L 12.456250190734863 47.6 A 0 0 0 0 1 12.456250190734863 47.6 L 12.456250190734863 56 L -12.456250190734863 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathHQFM4Ggb9k); -webkit-clip-path: url(#clipPathHQFM4Ggb9k);"></path>
                                            <path d="M 27.4037504196167 19.6 A 0 0 0 0 1 27.4037504196167 19.6 L 52.316250801086426 19.6 A 0 0 0 0 1 52.316250801086426 19.6 L 52.316250801086426 56 L 27.4037504196167 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathHQFM4Ggb9k); -webkit-clip-path: url(#clipPathHQFM4Ggb9k);"></path>
                                            <path d="M 67.26375102996826 25.199999999999996 A 0 0 0 0 1 67.26375102996826 25.199999999999996 L 92.17625141143799 25.199999999999996 A 0 0 0 0 1 92.17625141143799 25.199999999999996 L 92.17625141143799 56 L 67.26375102996826 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathHQFM4Ggb9k); -webkit-clip-path: url(#clipPathHQFM4Ggb9k);"></path>
                                            <path d="M 107.12375164031982 39.2 A 0 0 0 0 1 107.12375164031982 39.2 L 132.03625202178955 39.2 A 0 0 0 0 1 132.03625202178955 39.2 L 132.03625202178955 56 L 107.12375164031982 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathHQFM4Ggb9k); -webkit-clip-path: url(#clipPathHQFM4Ggb9k);"></path>
                                            <path d="M 146.9837522506714 30.8 A 0 0 0 0 1 146.9837522506714 30.8 L 171.8962526321411 30.8 A 0 0 0 0 1 171.8962526321411 30.8 L 171.8962526321411 56 L 146.9837522506714 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathHQFM4Ggb9k); -webkit-clip-path: url(#clipPathHQFM4Ggb9k);"></path>
                                            <path d="M 186.84375286102295 28 A 0 0 0 0 1 186.84375286102295 28 L 211.75625324249268 28 A 0 0 0 0 1 211.75625324249268 28 L 211.75625324249268 56 L 186.84375286102295 56 Z" fill="#009B51" stroke-width="0" style="clip-path: url(#clipPathHQFM4Ggb9k); -webkit-clip-path: url(#clipPathHQFM4Ggb9k);"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 p-2">
                        <div class="rz-card card" id="RfZVTEYqsk" _bl_763c8981-b13d-40dd-8ba6-9ef7a5a67337="">
                            <h3 style=" overflow-wrap: break-word; ">@translationState.Translate("Total_Legal_Documents")</h3>
                            <label class="DashboardFirstSectionLabel">@dashboardResult?.LegalDocumentCount</label>
                            <div class="rz-chart rz-scheme-pastel" style="width: 100%; height: 120px; margin-bottom: -30px;" id="VdtJPyAfFk" _bl_463d6243-1355-45b9-8297-13d9afe0a091="">
                                <svg style="width: 100%; height: 100%">
                                    <g transform="translate(0, 32)">
                                        <defs>
                                            <clipPath id="clipPathVdtJPyAfFk">
                                                <path d="M 0 56 L 199.3000030517578 56 L 199.3000030517578 0 L 0 0"></path>
                                            </clipPath>
                                        </defs>
                                        <g class="rz-column-series rz-series-0">
                                            <path d="M -12.456250190734863 43.4 A 0 0 0 0 1 -12.456250190734863 43.4 L 12.456250190734863 43.4 A 0 0 0 0 1 12.456250190734863 43.4 L 12.456250190734863 56 L -12.456250190734863 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                            <path d="M 27.4037504196167 33.599999999999994 A 0 0 0 0 1 27.4037504196167 33.599999999999994 L 52.316250801086426 33.599999999999994 A 0 0 0 0 1 52.316250801086426 33.599999999999994 L 52.316250801086426 56 L 27.4037504196167 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                            <path d="M 67.26375102996826 25.199999999999996 A 0 0 0 0 1 67.26375102996826 25.199999999999996 L 92.17625141143799 25.199999999999996 A 0 0 0 0 1 92.17625141143799 25.199999999999996 L 92.17625141143799 56 L 67.26375102996826 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                            <path d="M 107.12375164031982 22.4 A 0 0 0 0 1 107.12375164031982 22.4 L 132.03625202178955 22.4 A 0 0 0 0 1 132.03625202178955 22.4 L 132.03625202178955 56 L 107.12375164031982 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                            <path d="M 146.9837522506714 33.599999999999994 A 0 0 0 0 1 146.9837522506714 33.599999999999994 L 171.8962526321411 33.599999999999994 A 0 0 0 0 1 171.8962526321411 33.599999999999994 L 171.8962526321411 56 L 146.9837522506714 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                            <path d="M 186.84375286102295 36.400000000000006 A 0 0 0 0 1 186.84375286102295 36.400000000000006 L 211.75625324249268 36.400000000000006 A 0 0 0 0 1 211.75625324249268 36.400000000000006 L 211.75625324249268 56 L 186.84375286102295 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 p-2">
                        <div class="rz-card card" id="RfZVTEYqsk" _bl_763c8981-b13d-40dd-8ba6-9ef7a5a67337="">
                            <h3 style=" overflow-wrap: break-word; ">@translationState.Translate("Total_Legal_Principles")</h3>
                            <label class="DashboardFirstSectionLabel">@dashboardResult?.LegalPrincipleCount</label>
                            <div class="rz-chart rz-scheme-pastel" style="width: 100%; height: 120px; margin-bottom: -30px;" id="VdtJPyAfFk" _bl_463d6243-1355-45b9-8297-13d9afe0a091="">
                                <svg style="width: 100%; height: 100%">
                                    <g transform="translate(0, 32)">
                                        <defs>
                                            <clipPath id="clipPathVdtJPyAfFk">
                                                <path d="M 0 56 L 199.3000030517578 56 L 199.3000030517578 0 L 0 0"></path>
                                            </clipPath>
                                        </defs>
                                        <g class="rz-column-series rz-series-0">
                                            <path d="M -12.456250190734863 43.4 A 0 0 0 0 1 -12.456250190734863 43.4 L 12.456250190734863 43.4 A 0 0 0 0 1 12.456250190734863 43.4 L 12.456250190734863 56 L -12.456250190734863 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                            <path d="M 27.4037504196167 33.599999999999994 A 0 0 0 0 1 27.4037504196167 33.599999999999994 L 52.316250801086426 33.599999999999994 A 0 0 0 0 1 52.316250801086426 33.599999999999994 L 52.316250801086426 56 L 27.4037504196167 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                            <path d="M 67.26375102996826 25.199999999999996 A 0 0 0 0 1 67.26375102996826 25.199999999999996 L 92.17625141143799 25.199999999999996 A 0 0 0 0 1 92.17625141143799 25.199999999999996 L 92.17625141143799 56 L 67.26375102996826 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                            <path d="M 107.12375164031982 22.4 A 0 0 0 0 1 107.12375164031982 22.4 L 132.03625202178955 22.4 A 0 0 0 0 1 132.03625202178955 22.4 L 132.03625202178955 56 L 107.12375164031982 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                            <path d="M 146.9837522506714 33.599999999999994 A 0 0 0 0 1 146.9837522506714 33.599999999999994 L 171.8962526321411 33.599999999999994 A 0 0 0 0 1 171.8962526321411 33.599999999999994 L 171.8962526321411 56 L 146.9837522506714 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                            <path d="M 186.84375286102295 36.400000000000006 A 0 0 0 0 1 186.84375286102295 36.400000000000006 L 211.75625324249268 36.400000000000006 A 0 0 0 0 1 211.75625324249268 36.400000000000006 L 211.75625324249268 56 L 186.84375286102295 56 Z" fill="#F31155" stroke-width="0" style="clip-path: url(#clipPathVdtJPyAfFk); -webkit-clip-path: url(#clipPathVdtJPyAfFk);"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>*@
 
@code
{
    DashboardVM dashboardResult;

    protected override async Task OnInitializedAsync()
    {
        spinnerService.Show();

        await Load();

        spinnerService.Hide();

    }

    protected virtual async Task Load()
    {  
        var result = await dashboardService.GetDashboardDetails();
        if (result.IsSuccessStatusCode)
        {
            dashboardResult = (DashboardVM)result.ResultData;
        }
        else
        {
            await invalidRequestHandlerService.ReturnBadRequestNotification(result);
        }
    }

    #region Redirect Function

    private void GoBackDashboard()
    {
        navigationManager.NavigateTo("/dashboard");
    }
    private void GoBackHomeScreen()
    {
        navigationManager.NavigateTo("/index");
    }

    #endregion
}