@page "/case-study-view/{CaseautomatedNumber}"
@using FATWA_DOMAIN.Models.ViewModel.MojStatistics;
@using FATWA_DOMAIN.Models;
@using Telerik.Blazor;
@using Telerik.Blazor.Components
@layout MainLayout
@*//<History Author = 'Ijaz Ahmad' Date='2023-08-08' Version="1.0" Branch="master"> Populate Request Grid</History>*@
@*//<History Author = 'Hassan Abbas' Date='2024-02-13' Version="1.0" Branch="master"> Migrated from Statistics Case Study Project</History>*@
@if (loginState.ClaimList.Any(x => x.Value == "Permissions.ODRP.MojStatisticsCaseStudy.View"))
{
    <RadzenContent Container="main">

        <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3 tab-webkit-fill">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenBreadCrumb>
                            <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                            <RadzenBreadCrumbItem Path="/case-study-list" Text="@translationState.Translate("MOJ_Statistics_Case_Study")" />
                            <RadzenBreadCrumbItem Text="@translationState.Translate("Detail_Case_Study")" />
                        </RadzenBreadCrumb>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="backtoDashboard">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back")"
                                      class="returnBtn" Icon="@(System.Globalization.CultureInfo.CurrentCulture.Name == "en-US"? "arrow_back" : "arrow_forward")" Click="@RedirectBack" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back_Dashboard")"
                                  class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back_HomeScreen")"
                                  class="returnBtn"
                                  Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>
            <div class="row TitleBar justify-content-left align-items-center py-4">
                <div class="col-md-12">
                    <div class="row no-gutters">
                        <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Detail_Case_Study")" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row d-block justify-content-left p-0 m-0 tab-webkit-fill">
                        <RadzenAccordion>
                            <Items>
                                <div class="row no-gutters">
                                    <div class="col-6 detailSection">
                                        <div class="detailHeading">
                                            <h3>@translationState.Translate("CaseAutomatedNumber"):</h3>
                                        </div>
                                        <div class="detailContent">
                                            <h3>@CaseautomatedNumber</h3>
                                        </div>
                                    </div>
                                </div>
                                <RadzenAccordionItem Text="@translationState.Translate("Case_Details")" Selected="true">
                                    <RadzenTabs TabPosition="Radzen.TabPosition.Top" RenderMode="TabRenderMode.Client">
                                        <Tabs>

                                            <div class="row pb-2">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tableContent table-responsive">

                                                        <RadzenDataGrid @ref="CaseDetailsGrid"
                                                                    Data="@caseDetails"
                                                                    TItem="MojStatsCaseDetailsVM"
                                                                    EmptyText="@translationState.Translate("No_record_found")"
                                                                    Width="100%"
                                                                    AllowPaging="true"
                                                                    AllowSorting="true"
                                                                    AllowColumnResize="true"
                                                                    PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                    SelectionMode="DataGridSelectionMode.Single"
                                                                    ExpandMode="DataGridExpandMode.Single"
                                                                    AllowRowSelectOnRowClick="@allowRowSelectOnRowClick">

                                                            <Columns>

                                                                <RadzenDataGridColumn TItem="MojStatsCaseDetailsVM" Property="CaseNumber" Width="122px" Title="@translationState.Translate("Case_Number")">

                                                                </RadzenDataGridColumn>
                                                                <RadzenDataGridColumn TItem="MojStatsCaseDetailsVM" FormatString="{0:dd/MM/yyyy}" Width="108px" Property="CaseDate" Title="@translationState.Translate("Case_Date")">
                                                                </RadzenDataGridColumn>
                                                                <RadzenDataGridColumn TItem="MojStatsCaseDetailsVM" Property="CourtName" Width="120px" Title="@translationState.Translate("Court_Name")">
                                                                </RadzenDataGridColumn>
                                                                <RadzenDataGridColumn TItem="MojStatsCaseDetailsVM" Property="ChamberType" Width="135px" Title="@translationState.Translate("Chamber_Type")">
                                                                </RadzenDataGridColumn>
                                                                <RadzenDataGridColumn TItem="MojStatsCaseDetailsVM" Property="ChamberNumber" Width="150px" Title="@translationState.Translate("Chamber_Number")">
                                                                </RadzenDataGridColumn>



                                                            </Columns>
                                                        </RadzenDataGrid>

                                                    </div>
                                                </div>
                                            </div>
                                        </Tabs>
                                    </RadzenTabs>
                                </RadzenAccordionItem>
                                <RadzenAccordionItem Text="@translationState.Translate("Parties_Detail")" Selected="false">
                                    <RadzenTabs TabPosition="Radzen.TabPosition.Top" RenderMode="TabRenderMode.Client">
                                        <Tabs>


                                            <div class="row tableContent table-responsive no-gutters pb-3">
                                                <div class="col-md-12">

                                                    <RadzenDataGrid @ref="PartiesGrid"
                                                                Data="@partiesDetails"
                                                                TItem="MojStatsPartiesDetailsVM"
                                                                EmptyText="@translationState.Translate("No_record_found")"
                                                                Width="100%"
                                                                AllowPaging="true"
                                                                AllowSorting="true"
                                                                AllowColumnResize="true"
                                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                SelectionMode="DataGridSelectionMode.Single"
                                                                ExpandMode="DataGridExpandMode.Single"
                                                                AllowRowSelectOnRowClick="@allowRowSelectOnRowClick">

                                                        <Columns>
                                                            <RadzenDataGridColumn TItem="MojStatsPartiesDetailsVM" Property="PartyType" Width="115px" Title="@translationState.Translate("Party_Type")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsPartiesDetailsVM" Property="CaseNumber" Width="125px" Title="@translationState.Translate("Case_Number")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsPartiesDetailsVM" Property="PartyName" Title="@translationState.Translate("Party_Name")">
                                                            </RadzenDataGridColumn>
                                                        </Columns>
                                                    </RadzenDataGrid>

                                                </div>
                                            </div>
                                        </Tabs>
                                    </RadzenTabs>
                                </RadzenAccordionItem>
                                <RadzenAccordionItem Text="@translationState.Translate("Hearing_Detail")" Selected="false">
                                    <RadzenTabs TabPosition="Radzen.TabPosition.Top" RenderMode="TabRenderMode.Client">
                                        <Tabs>

                                            <div class="row tableContent table-responsive no-gutters pb-3">
                                                <div class="col-md-12">

                                                    <RadzenDataGrid @ref="HearingDetailsGrid"
                                                                Data="@hearingDetails"
                                                                TItem="MojStatsHearingVM"
                                                                EmptyText="@translationState.Translate("No_record_found")"
                                                                Width="100%"
                                                                AllowPaging="true"
                                                                AllowSorting="true"
                                                                AllowColumnResize="true"
                                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                SelectionMode="DataGridSelectionMode.Single"
                                                                ExpandMode="DataGridExpandMode.Single"
                                                                AllowRowSelectOnRowClick="@allowRowSelectOnRowClick">

                                                        <Columns>

                                                            <RadzenDataGridColumn TItem="MojStatsHearingVM" Property="CaseNumber" Width="118px" Title="@translationState.Translate("Case_Number")">

                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsHearingVM" Width="120px" FormatString="{0:dd/MM/yyyy}" Property="HearingDate" Title="@translationState.Translate("Hearing_Date")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsHearingVM" Width="110px" Property="CourtName" Title="@translationState.Translate("Court_Name")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsHearingVM" Width="130px" Property="ChamberType" Title="@translationState.Translate("Chamber_Type")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsHearingVM" Width="152px" Property="ChamberNumber" Title="@translationState.Translate("Chamber_Number")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsHearingVM" Width="170px" Property="CourtDecisionCode" Title="@translationState.Translate("Court_Decision_Code")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsHearingVM" Width="130px" Property="CourtDecision" Title="@translationState.Translate("Court_Decision")">
                                                            </RadzenDataGridColumn>


                                                        </Columns>
                                                    </RadzenDataGrid>

                                                </div>
                                            </div>

                                        </Tabs>
                                    </RadzenTabs>
                                </RadzenAccordionItem>
                                <RadzenAccordionItem Text="@translationState.Translate("Judgements_Detail")" Selected="false">
                                    <RadzenTabs TabPosition="Radzen.TabPosition.Top" RenderMode="TabRenderMode.Client">
                                        <Tabs>


                                            <div class="row tableContent table-responsive no-gutters pb-3">
                                                <div class="col-md-12">

                                                    <RadzenDataGrid @ref="JudgmentsGrid"
                                                                Data="@judgementsDetailsList"
                                                                TItem="MojStatsViewJudgementsVM"
                                                                EmptyText="@translationState.Translate("No_record_found")"
                                                                Width="100%"
                                                                RowExpand="@ExpandCases"
                                                                AllowColumnResize="true"
                                                                SelectionMode="DataGridSelectionMode.Single"
                                                                ExpandMode="DataGridExpandMode.Single"
                                                                AllowRowSelectOnRowClick="@allowRowSelectOnRowClick">
                                                        <Template Context="veiwJudgements">
                                                            <RadzenCard class="bg-light">
                                                                <div class="row pb-2">
                                                                    <div class="col-md-4">
                                                                        <h2 class="formHeading">@translationState.Translate("Judgement_Statement")</h2>
                                                                        <div class="divider"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row pb-2">
                                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                        <div class="tableContent table-responsive">
                                                                            <div class=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "detailContent detailContentTextBalence" : "detailContentar detailContentTextBalence")>
                                                                                @JudgementsStatements
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </RadzenCard>
                                                        </Template>
                                                        <Columns>
                                                            <RadzenDataGridColumn TItem="MojStatsViewJudgementsVM" Property="CaseNumber" Width="115px" Title="@translationState.Translate("Case_Number")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsViewJudgementsVM" Property="CourtName" Width="90px" Title="@translationState.Translate("Court_Name")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsViewJudgementsVM" FormatString="{0:dd/MM/yyyy}" Property="JudgementDate" Width="90px" Title="@translationState.Translate("Judgement_Date")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsViewJudgementsVM" Property="JudgementStatement" Width="172px" Title="@translationState.Translate("Judgement_Statement")">
                                                            </RadzenDataGridColumn>
                                                        </Columns>
                                                    </RadzenDataGrid>

                                                </div>
                                            </div>
                                        </Tabs>
                                    </RadzenTabs>
                                </RadzenAccordionItem>
                                <RadzenAccordionItem Text="@translationState.Translate("Execution_Details")" Selected="false">
                                    <RadzenTabs TabPosition="Radzen.TabPosition.Top" RenderMode="TabRenderMode.Client">
                                        <Tabs>


                                            <div class="row tableContent table-responsive no-gutters pb-3">
                                                <div class="col-md-12">

                                                    <RadzenDataGrid @ref="ExecutionDetailsGrid"
                                                                Data="@executionVMs"
                                                                TItem="MojStatsExecutionVM"
                                                                EmptyText="@translationState.Translate("No_record_found")"
                                                                Width="100%"
                                                                AllowPaging="true"
                                                                RowExpand="@ExpandExecution"
                                                                AllowSorting="true"
                                                                AllowColumnResize="true"
                                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                SelectionMode="DataGridSelectionMode.Single"
                                                                ExpandMode="DataGridExpandMode.Single"
                                                                AllowRowSelectOnRowClick="@allowRowSelectOnRowClick">
                                                        <Template Context="executionexpend">
                                                            <RadzenCard class="bg-light">
                                                                <div class="row pb-2">
                                                                    <div class="col-md-4">
                                                                        <h2 class="formHeading">@translationState.Translate("Execution_Financial")</h2>
                                                                        <div class="divider"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row pb-2">
                                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                        <div class="tableContent table-responsive">

                                                                            <RadzenDataGrid @ref="ExecutionFinancialGrid"
                                                                                        Data="@executionFinancialslist"
                                                                                        TItem="MojStatsExecutionFinancialVM"
                                                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                                                        Width="100%"
                                                                                        AllowPaging="true"
                                                                                        AllowSorting="true"
                                                                                        AllowColumnResize="true"
                                                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                                        SelectionMode="DataGridSelectionMode.Single"
                                                                                        ExpandMode="DataGridExpandMode.Single"
                                                                                        AllowRowSelectOnRowClick="@allowRowSelectOnRowClick">


                                                                                <Columns>

                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionFinancialVM" Property="DocumentNumber" Width="175px" Title="@translationState.Translate("Document_Number")">
                                                                                    </RadzenDataGridColumn>
                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionFinancialVM" Width="172px" Property="ProcedureType" Title="@translationState.Translate("Procedure_Type")">
                                                                                    </RadzenDataGridColumn>
                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionFinancialVM" Width="133px" Property="ProcedureDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Procedure_Date")">
                                                                                    </RadzenDataGridColumn>
                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionFinancialVM" Width="145px" Property="PayerName" Title="@translationState.Translate("Payer_Name")">
                                                                                    </RadzenDataGridColumn>

                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionFinancialVM" Width="138px" Property="ReceiverName" Title="@translationState.Translate("Receiver_Name")">
                                                                                    </RadzenDataGridColumn>

                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionFinancialVM" Width="145px" Property="Amount" Title="@translationState.Translate("Total_Amount")">
                                                                                    </RadzenDataGridColumn>
                                                                                </Columns>
                                                                            </RadzenDataGrid>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="row pb-2">
                                                                    <div class="col-md-4">
                                                                        <h2 class="formHeading">@translationState.Translate("Execution_Procedure")</h2>
                                                                        <div class="divider"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row pb-2">
                                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                        <div class="tableContent table-responsive">

                                                                            <RadzenDataGrid @ref="ExecutionProceduresGrid"
                                                                                        Data="@executionprocedurelist"
                                                                                        TItem="MojStatsExecutionProcedureVM"
                                                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                                                        Width="100%"
                                                                                        AllowPaging="true"
                                                                                        AllowSorting="true"
                                                                                        AllowColumnResize="true"
                                                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                                        SelectionMode="DataGridSelectionMode.Single"
                                                                                        ExpandMode="DataGridExpandMode.Single"
                                                                                        AllowRowSelectOnRowClick="@allowRowSelectOnRowClick">
                                                                                <Columns>
                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionProcedureVM" Property="DocumentNumber" Width="175px" Title="@translationState.Translate("Document_Number")">
                                                                                    </RadzenDataGridColumn>
                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionProcedureVM" Width="172px" Property="ProcedureType" Title="@translationState.Translate("Procedure_Type")">
                                                                                    </RadzenDataGridColumn>
                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionProcedureVM" Width="138px" Property="ProcedureDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Procedure_Date")">
                                                                                    </RadzenDataGridColumn>
                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionProcedureVM" Width="145px" Property="FileStatus" Title="@translationState.Translate("File_Status")">
                                                                                    </RadzenDataGridColumn>
                                                                                    <RadzenDataGridColumn TItem="MojStatsExecutionProcedureVM" Width="185px" Property="Balance" Title="@translationState.Translate("Total_Amount")">
                                                                                    </RadzenDataGridColumn>
                                                                                </Columns>
                                                                            </RadzenDataGrid>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </RadzenCard>
                                                        </Template>

                                                        <Columns>

                                                            <RadzenDataGridColumn TItem="MojStatsExecutionVM" Property="ExecutionFileNumber" Width="175px" Title="@translationState.Translate("Execution_FileNumber")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsExecutionVM" Width="105px" Property="FileStatus" Title="@translationState.Translate("File_Status")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsExecutionVM" Width="145px" Property="FileOpeningDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("File_OpeningDate")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsExecutionVM" Width="172px" Property="AttachedFileNumber" Title="@translationState.Translate("Attached_FileNumber")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsExecutionVM" Width="118px" Property="AttachedFileSection" Title="@translationState.Translate("Attached_FileSection")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsExecutionVM" Width="118px" Property="FileBalance" Title="@translationState.Translate("File_Balance")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsExecutionVM" Width="118px" Property="ExecuterNumber" Title="@translationState.Translate("Executer_Number")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsExecutionVM" Width="185px" Property="Notes" Title="@translationState.Translate("Notes")">
                                                            </RadzenDataGridColumn>
                                                        </Columns>
                                                    </RadzenDataGrid>

                                                </div>
                                            </div>
                                        </Tabs>
                                    </RadzenTabs>
                                </RadzenAccordionItem>
                                <RadzenAccordionItem Text="@translationState.Translate("Announcement_Details")" Selected="false">
                                    <RadzenTabs TabPosition="Radzen.TabPosition.Top" RenderMode="TabRenderMode.Client">
                                        <Tabs>
                                            <div class="row tableContent table-responsive no-gutters pb-3">
                                                <div class="col-md-12">
                                                    <RadzenDataGrid @ref="AnnouncementDetailsGrid"
                                                                Data="@announcementVMs"
                                                                TItem="MojStatsAnnouncementVM"
                                                                EmptyText="@translationState.Translate("No_record_found")"
                                                                Width="100%"
                                                                AllowPaging="true"
                                                                AllowSorting="true"
                                                                AllowColumnResize="true"
                                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                SelectionMode="DataGridSelectionMode.Single"
                                                                ExpandMode="DataGridExpandMode.Single"
                                                                AllowRowSelectOnRowClick="@allowRowSelectOnRowClick">
                                                        <Columns>
                                                            <RadzenDataGridColumn TItem="MojStatsAnnouncementVM" Property="AnnouncementNumber" Width="185px" Title="@translationState.Translate("Announcement_Number")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsAnnouncementVM" Property="HearingDate" FormatString="{0:dd/MM/yyyy}" Width="125px" Title="@translationState.Translate("Hearing_Date")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsAnnouncementVM" Property="DistributionStatus" Width="185px" Title="@translationState.Translate("Distribution_Status")">
                                                            </RadzenDataGridColumn>

                                                            <RadzenDataGridColumn TItem="MojStatsAnnouncementVM" Property="AnnouncementMakingDate" FormatString="{0:dd/MM/yyyy}" Width="215px" Title="@translationState.Translate("Announcement_MakingDate")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsAnnouncementVM" Property="AnnouncementGoOutDate" FormatString="{0:dd/MM/yyyy}" Width="208px" Title="@translationState.Translate("Announcement_GoOutDate")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsAnnouncementVM" Property="ActualAnnouncementDate" FormatString="{0:dd/MM/yyyy}" Width="206px" Title="@translationState.Translate("ActualAnnouncement_Date")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsAnnouncementVM" Property="LastUpdateDate" FormatString="{0:dd/MM/yyyy}" Width="206px" Title="@translationState.Translate("Last_UpdateDate")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsAnnouncementVM" Property="AnnouncementResult" Width="175px" Title="@translationState.Translate("Announcement_Result")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsAnnouncementVM" Property="Reason" Width="150px" Title="@translationState.Translate("Reason")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsAnnouncementVM" Property="CaseNumber" Width="185px" Title="@translationState.Translate("Refrence_CaseNumber")">
                                                            </RadzenDataGridColumn>

                                                        </Columns>
                                                    </RadzenDataGrid>
                                                </div>
                                            </div>
                                        </Tabs>
                                    </RadzenTabs>
                                </RadzenAccordionItem>
                                <RadzenAccordionItem Text="@translationState.Translate("Releted_Files")" Selected="false">
                                    <RadzenTabs TabPosition="Radzen.TabPosition.Top" RenderMode="TabRenderMode.Client">
                                        <Tabs>
                                            <div class="row tableContent table-responsive no-gutters pb-3">
                                                <div class="col-md-12">
                                                    <RadzenDataGrid @ref="RelatedFilesGrid"
                                                                Data="@filesDetails"
                                                                TItem="MojStatsFilesDetailsVM"
                                                                EmptyText="@translationState.Translate("No_record_found")"
                                                                Width="100%"
                                                                AllowPaging="true"
                                                                AllowSorting="true"
                                                                AllowColumnResize="true"
                                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                SelectionMode="DataGridSelectionMode.Single"
                                                                ExpandMode="DataGridExpandMode.Single"
                                                                AllowRowSelectOnRowClick="@allowRowSelectOnRowClick">
                                                        <Columns>
                                                            <RadzenDataGridColumn TItem="MojStatsFilesDetailsVM" Width="65px" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                                                <Template Context="row">
                                                                    <RadzenButton ButtonStyle="ButtonStyle.Info"
                                                                              Icon="visibility"
                                                                              Size="ButtonSize.Small"
                                                                              Class="viewIcon"
                                                                              Click="@((args) => ViewFiles(row))" @onclick:stopPropagation="true" />
                                                                </Template>
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsFilesDetailsVM" Property="CaseNumber" Width="125px" Title="@translationState.Translate("Case_Number")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsFilesDetailsVM" Property="DocumentTypeName" Width="170px" Title="@translationState.Translate("Document_Type")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsFilesDetailsVM" FormatString="{0:dd/MM/yyyy}" Width="170px" Property="DocumentDate" Title="@translationState.Translate("Document_Date")">
                                                            </RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="MojStatsFilesDetailsVM" Property="NumberofPages" Width="142px" Title="@translationState.Translate("Numberof_Pages")">
                                                            </RadzenDataGridColumn>

                                                        </Columns>
                                                    </RadzenDataGrid>
                                                </div>
                                            </div>
                                        </Tabs>
                                    </RadzenTabs>
                                </RadzenAccordionItem>
                                <RadzenAccordionItem Text="@translationState.Translate("Case_Study")" Selected="false">
                                    <div class="row no-gutters pb-3">
                                        <div class="col-md-12">
                                            <RadzenTemplateForm Data="@canJudgement" TItem="MojStatsCanJudgementStatusVM" Submit="@FormSubmit" Style="display:contents">
                                                <ChildContent>
                                                    <div class="col-md-12 save-case-request-col k-overflow-y-scroll">
                                                        <RadzenCard class="m-2">

                                                            <div class="row pb-2 align-items-center">
                                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                                    <div class="form-group rz-calendar-webkit-fill">
                                                                        <RadzenLabel Text="@(translationState.Translate("Raised_By"))" Component="JudgementStatusLookup" />
                                                                        <RadzenDropDown Data="@raisedLookups"
                                                                                    AllowFiltering="true"
                                                                                    AllowClear="true"
                                                                                    TextProperty="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")"
                                                                                    ValueProperty="Id"
                                                                                    Placeholder="@translationState.Translate("Select")"
                                                                                    Style="display:block;"
                                                                                    @bind-Value="canJudgement.RaisedById"
                                                                                    Name="Raised"
                                                                                    Change="@OnRaised" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                                    <div class="form-group rz-calendar-webkit-fill">
                                                                        <RadzenLabel Text="@(translationState.Translate("Judgement_Statuses"))" Component="JudgementStatusLookup" />
                                                                        <RadzenDropDown Data="@judgementStatuses"
                                                                                    AllowFiltering="true"
                                                                                    AllowClear="true"
                                                                                    TextProperty="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Value_En" : "Value_Ar")"
                                                                                    ValueProperty="Id"
                                                                                    Placeholder="@translationState.Translate("Select")"
                                                                                    Style="display:block;"
                                                                                    @bind-Value="canJudgement.JudgementStatusId"
                                                                                    Name="JudgementStatusLookup"
                                                                                    Change="@OnJudgementsStatus" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row pb-2 align-items-center">

                                                                <div class="col-md-12">
                                                                    <div class="form-group">

                                                                        <div class="tableContent table-responsive">
                                                                            <RadzenDataGrid @ref="partiesjudgmentAmountGrid"
                                                                                        AllowAlternatingRows="false"
                                                                                        AllowFiltering="false"
                                                                                        AllowPaging="true"
                                                                                        PageSize="5"
                                                                                        AllowSorting="true"
                                                                                        EditMode="DataGridEditMode.Single"
                                                                                        Data="@CasePartiesJudgementAmountVMs"
                                                                                        TItem="MojStatsCasePartiesJudgementAmountVM"
                                                                                        RowUpdate="@OnUpdateRow"
                                                                                        RowCreate="@OnCreateRow"
                                                                                        Sort="@Reset"
                                                                                        Page="@Reset"
                                                                                        Filter="@Reset">
                                                                                <Columns>
                                                                                    <RadzenDataGridColumn TItem="MojStatsCasePartiesJudgementAmountVM" Width="320px" Property="PartyName" Title="@translationState.Translate("Party_Name")">
                                                                                        <FooterTemplate>
                                                                                            <b>@(translationState.Translate("Total_Amount"))</b>

                                                                                        </FooterTemplate>
                                                                                    </RadzenDataGridColumn>

                                                                                    <RadzenDataGridColumn TItem="MojStatsCasePartiesJudgementAmountVM" Property="PartyType" Title="@translationState.Translate("Party_Type")">
                                                                                    </RadzenDataGridColumn>
                                                                                    <RadzenDataGridColumn TItem="MojStatsCasePartiesJudgementAmountVM" Property="AmountPaid" Title="@translationState.Translate("Amount_Paid")">
                                                                                        <Template Context="CasePartiesJudgement">
                                                                                            @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:#,0.000}", CasePartiesJudgement.AmountPaid)
                                                                                        </Template>
                                                                                        <EditTemplate Context="CasePartiesJudgement">
                                                                                            <RadzenNumeric Min="0" Max="1000000000" @bind-Value="CasePartiesJudgement.AmountPaid" TValue="decimal?" Style="width:100%" @oninput="@(() => ValidateInput(CasePartiesJudgement, nameof(CasePartiesJudgement.AmountPaid)))" step="any">
                                                                                            </RadzenNumeric>
                                                                                        </EditTemplate>
                                                                                        <FooterTemplate>
                                                                                            <b> @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:#,0.000}", CasePartiesJudgementAmountVMs.Sum(o => o.AmountPaid))</b>
                                                                                        </FooterTemplate>
                                                                                    </RadzenDataGridColumn>
                                                                                    <RadzenDataGridColumn TItem="MojStatsCasePartiesJudgementAmountVM" Property="AmountReceived" Title="@translationState.Translate("Amount_Received")">
                                                                                        <Template Context="CasePartiesJudgement">
                                                                                            @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:#,0.000}", CasePartiesJudgement.AmountReceived)
                                                                                        </Template>
                                                                                        <EditTemplate Context="CasePartiesJudgement">
                                                                                            <RadzenNumeric Min="0" Max="1000000000" @bind-Value="CasePartiesJudgement.AmountReceived" TValue="decimal?" Style="width:100%" @oninput="@(() => ValidateInput(CasePartiesJudgement, nameof(CasePartiesJudgement.AmountReceived)))" step="any">
                                                                                            </RadzenNumeric>

                                                                                        </EditTemplate>
                                                                                        <FooterTemplate>
                                                                                            <div style="width: 400px !important; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                                                                                <b>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:#,0.000}", CasePartiesJudgementAmountVMs.Sum(o => o.AmountReceived))</b>
                                                                                                <br />
                                                                                            </div>
                                                                                        </FooterTemplate>
                                                                                    </RadzenDataGridColumn>
                                                                                    <RadzenDataGridColumn TItem="MojStatsCasePartiesJudgementAmountVM" Property="LawyerExpense" Title="@translationState.Translate("Lawyer_Expense")">
                                                                                        <Template Context="CasePartiesJudgement">
                                                                                            @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:#,0.000}", CasePartiesJudgement.LawyerExpense)
                                                                                        </Template>
                                                                                        <EditTemplate Context="CasePartiesJudgement">
                                                                                            <RadzenNumeric Min="0" Max="1000000000" @bind-Value="CasePartiesJudgement.LawyerExpense" TValue="decimal?" Style="width:100%" @oninput="@(() => ValidateInput(CasePartiesJudgement, nameof(CasePartiesJudgement.LawyerExpense)))" step="any">
                                                                                            </RadzenNumeric>

                                                                                        </EditTemplate>
                                                                                        <FooterTemplate>
                                                                                            <b> @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:#,0.000}", CasePartiesJudgementAmountVMs.Sum(o => o.LawyerExpense))</b>
                                                                                        </FooterTemplate>
                                                                                    </RadzenDataGridColumn>

                                                                                    <RadzenDataGridColumn TItem="MojStatsCasePartiesJudgementAmountVM" Width="102px" Context="CasePartiesJudgement" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Frozen="true">

                                                                                        <Template Context="CasePartiesJudgement">
                                                                                            @if (!isEditMode)
                                                                                            {

                                                                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                                                                                      Class="editIcon"
                                                                                                      Icon="mode"
                                                                                                      Title="@translationState.Translate("Edit")"
                                                                                                      Size="ButtonSize.Small" Click="@(args => { EditRow(CasePartiesJudgement); })" @onclick:stopPropagation="true">
                                                                                                </RadzenButton>

                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                                                                                      Class="editIcon"
                                                                                                      Icon="mode"
                                                                                                      Title="@translationState.Translate("Edit")"
                                                                                                      Size="ButtonSize.Small" Click="@(args => { EditRow(CasePartiesJudgement); })" @onclick:stopPropagation="true">
                                                                                                </RadzenButton>

                                                                                            }
                                                                                        </Template>
                                                                                        <EditTemplate Context="CasePartiesJudgement">
                                                                                            @if (isEditMode)
                                                                                            {

                                                                                                <RadzenButton Icon="check"
                                                                                                      ButtonStyle="ButtonStyle.Success"
                                                                                                      Size="ButtonSize.Medium"
                                                                                                      Click="@((args) => SaveRow(CasePartiesJudgement))">
                                                                                                </RadzenButton>
                                                                                                <RadzenButton Icon="close"
                                                                                                      ButtonStyle="ButtonStyle.Light"
                                                                                                      Size="ButtonSize.Medium" Click="@((args) => CancelEdit(CasePartiesJudgement))">
                                                                                                </RadzenButton>
                                                                                            }

                                                                                        </EditTemplate>
                                                                                    </RadzenDataGridColumn>
                                                                                </Columns>
                                                                            </RadzenDataGrid>
                                                                            @if (!AreTotalsValid())
                                                                            {
                                                                                <div style="margin-top: 20px; color: red;">@translationState.Translate("Amount_are_not_equal")</div>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row pb-2 align-items-center">
                                                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                                    <div class="form-group">
                                                                        <RadzenLabel Text="@(translationState.Translate("Judgments_Amount") + " " + Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "(KWD)" : "(د.ك)")" Component="JudgementAmount" />
                                                                        <RadzenTextBox Name="JudgementAmount" Disabled="true" Placeholder="0" @bind-Value="@JudgementAmount" @oninput="@(args => OnAmount(args))"></RadzenTextBox>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                         
                                                            <div class="row pb-4 align-items-center">
                                                                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                                                    <div class="form-group">
                                                                        <TelerikCheckBox Id="OpenExecution" @bind-Value="@canJudgement.OpenExecution" OnChange="@OnExecution"></TelerikCheckBox>
                                                                        <RadzenLabel Text="@(translationState.Translate("OpenExecution_File"))" Class="executionfilecheckboxlabel" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row pb-2 align-items-center">
                                                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

                                                                    <div class="form-group rz-calendar-webkit-fill">
                                                                        <RadzenLabel Text="@(translationState.Translate("OpenExecution_File_Level"))" Component="ExecutionFileLevelLookup" />
                                                                        <RadzenDropDown Data="@executionfilelevellookups"
                                                                                    AllowFiltering="true"
                                                                                    AllowClear="true"
                                                                                    TextProperty="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Value_En" : "Value_Ar")"
                                                                                    ValueProperty="Id"
                                                                                    Placeholder="@translationState.Translate("Select")"
                                                                                    Style="display:block;"
                                                                                    @bind-Value="canJudgement.ExecutionFilelevelId"
                                                                                    Name="ExecutionFileLevelLookup"
                                                                                    Disabled="@IsddlView"
                                                                                    Change="@ExecutionFileleve" />

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row pb-2">
                                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                    <div class="form-group rz-calendar-webkit-fill">
                                                                        <RadzenLabel Text="@translationState.Translate("Remarks")" Component="Remarks" />
                                                                        <RadzenTextArea Placeholder="@translationState.Translate("Remarks")" @bind-Value="@(canJudgement.Remarks)" Change="@((string args)=>OnRemarks(args))" Class="w-100" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row pb-2">
                                                                <div class="col-md-12">

                                                                    <div class="col-12 d-flex justify-content-end p-0 popup-buttons-alignment">
                                                                        <RadzenButton ButtonType="Radzen.ButtonType.Submit" style="margin-left: 0.5rem !important;  " Disabled="@IsView" Text="@translationState.Translate("Submit")">
                                                                        </RadzenButton>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </RadzenCard>
                                                    </div>

                                                </ChildContent>
                                            </RadzenTemplateForm>
                                        </div>
                                    </div>
                                </RadzenAccordionItem>
                            </Items>
                        </RadzenAccordion>
                    </div>
                </div>
            </div>
        </ChildContent>
    </RadzenContent>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}
