@page "/request-need-more-detail/{CommunicationId}/{SubModuleId}/{ByActivity}"
@page "/request-need-more-detail/{ReferenceId}/{CommunicationId}/{SubModuleId}/{ByActivity}"
@page "/request-need-more-detail/{ReferenceId}/{CommunicationId}/{SubModuleId}/{ByActivity}/{TaskId}"

@layout MainLayout

@using FATWA_DOMAIN.Common;
@using FATWA_DOMAIN.Models.ViewModel.CommunicationVMs
@using Syncfusion.Blazor.PdfViewer
@using Syncfusion.Blazor.PdfViewerServer
@using FATWA_DOMAIN.Models.ViewModel
@using FATWA_DOMAIN.Models
@using static FATWA_DOMAIN.Enums.CaseManagementEnums;
@using static FATWA_DOMAIN.Enums.TaskEnums
@using static FATWA_DOMAIN.Enums.GeneralEnums;
@using static FATWA_DOMAIN.Enums.CommunicationEnums;

<PageTitle>@translationState.Translate(TransKeyHeader)</PageTitle>
<!--<History Author = "Nabeel ur Rehman" Date="2022-10-11" Version="1.0" Branch="master"> View Detail of Case Request and Registerd Request</History>-->
@if (loginState.ClaimList.Where(x => x.Value == "Permissions.Comm.Communication.Detail").Count() > 0)
{
    <RadzenContent Container="main">
        <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3 tab-webkit-fill">
                <div class="col-9">
                    <div class="row no-gutters">
                        <RadzenBreadCrumb>
                            <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                            <RadzenBreadCrumbItem Path="@CaseRequestUrlS" Text="@translationState.Translate(TransKeyUrl)" />
                            @if (Activity == (int)CommunicationTypeEnum.SendResponse)
                            {
                                <RadzenBreadCrumbItem Text="@translationState.Translate("Send_Response")" />
                            }
                            else if (Activity == (int)CommunicationTypeEnum.FinalDocument)
                            {
                                <RadzenBreadCrumbItem Text="@translationState.Translate("Final_Document_Detail")" />
                            }
                            else if (Activity == (int)CommunicationTypeEnum.G2GTarasolCorrespondence)
                            {

                                <RadzenBreadCrumbItem Text="@translationState.Translate("G2G_Tarasol_Correspondence")" />
                            }
                            else
                            {
                                <RadzenBreadCrumbItem Text="@translationState.Translate(TransKeyHeader)" />

                            }
                        </RadzenBreadCrumb>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    <div class="backtoDashboard">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back")"
                                      class="returnBtn" Icon="@(System.Globalization.CultureInfo.CurrentCulture.Name == "en-US"? "arrow_back" : "arrow_forward")" Click="@RedirectBack" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_Dashboard")"
                                      class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />

                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_HomeScreen")"
                                      class="returnBtn"
                                      Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>

            <div class="row TitleBar justify-content-left align-items-center py-4">
                <div class="col-12">
                    <div class="row no-gutters">
                        @if (Activity == (int)CommunicationTypeEnum.SendResponse)
                        {
                            <RadzenHeading Size="H1" Text="@translationState.Translate("Legal_Notification_Response_Detail")" />
                        }
                        else if (Activity == (int)CommunicationTypeEnum.SendMessage)
                        {
                            <RadzenHeading Size="H1" Text="@translationState.Translate("Communication_Response_Send_Message_Detail")" />
                        }
                        else if (Activity == (int)CommunicationTypeEnum.FinalDocument)
                        {
                            <RadzenHeading Size="H1" Text="@translationState.Translate("Final_Document_Detail")" />
                        }
                        else if (Activity == (int)CommunicationTypeEnum.CaseRequest)
                        {
                            <RadzenHeading Size="H1" Text="@translationState.Translate("Case_Request_Correspondence_Detail")" />
                        }
                        else
                        {
                            <RadzenHeading Size="H1" Text="@translationState.Translate("Legal_Notification_Details")" />
                        }
                    </div>
                </div>
            </div>
            @if (isRecordFound)
            {
                <div class="row justify-content-center mainContentBlock no-gutters p-0 tab-webkit-fill">

                    <div class="col-12">
                        <div class="row d-block justify-content-left mainContentBlock p-0">
                            <RadzenAccordion>
                                <Items>
                                    @if (Activity == (int)CommunicationTypeEnum.SendResponse
                                   || Activity == (int)CommunicationTypeEnum.InvalidityofJudgment
                                   || Activity == (int)CommunicationTypeEnum.InterpretationofJudgment
                                   || Activity == (int)CommunicationTypeEnum.AcceptSaveAndCloseFile
                                   || Activity == (int)CommunicationTypeEnum.RejectSaveAndCloseFile
                                   || Activity == (int)CommunicationTypeEnum.StopExecutionOfJudgment
                                   )
                                    {
                                        <RadzenAccordionItem Text="@translationState.Translate("Legal_Notification_Response_Detail")" Selected="true">
                                            <div class="row no-gutters">
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reference_No"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.ReferenceNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Activity"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.Activity_En : @communicationDetail?.Activity_Ar)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Communication_Response_Title"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@translationState.Translate(communicationDetail?.CommunicationResponseTitle)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Description"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.Description</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Correspondence_Type"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.CorrespondenceTypeEn : @communicationDetail?.CorrespondenceTypeAr)</h3>
                                                    </div>
                                                </div>
                                                @if (communicationDetail?.CorrespondenceTypeId == (int)CommunicationCorrespondenceTypeEnum.Inbox)
                                                {
                                                    <div class="col-6 detailSection">
                                                        <div class="detailHeading">
                                                            <h3>@translationState.Translate("Inbox_Number"):</h3>
                                                        </div>
                                                        <div class="detailContent">
                                                            <h3>@communicationDetail?.InboxNumber</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 detailSection">
                                                        <div class="detailHeading">
                                                            <h3>@translationState.Translate("Inbox_Date"):</h3>
                                                        </div>
                                                        <div class="detailContent">
                                                            <h3>@communicationDetail?.InboxDate?.ToString("dd/MM/yyyy"):</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 detailSection">
                                                        <div class="detailHeading">
                                                            <h3>@translationState.Translate("Reference_Number"):</h3>
                                                        </div>
                                                        <div class="detailContent">
                                                            <h3>@communicationDetail?.G2GReferenceNumber</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 detailSection">
                                                        <div class="detailHeading">
                                                            <h3>@translationState.Translate("Reference_Date"):</h3>
                                                        </div>
                                                        <div class="detailContent">
                                                            <h3>@communicationDetail?.G2GReferenceDate?.ToString("dd/MM/yyyy"):</h3>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-6 detailSection">
                                                        <div class="detailHeading">
                                                            <h3>@translationState.Translate("Outbox_Number"):</h3>
                                                        </div>

                                                        <div class="detailContent">
                                                            <h3>@communicationDetail?.OutboxNumber</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 detailSection">
                                                        <div class="detailHeading">
                                                            <h3>@translationState.Translate("OutBox_Date"):</h3>
                                                        </div>
                                                        <div class="detailContent">
                                                            <h3>@communicationDetail?.OutboxDate?.ToString("dd/MM/yyyy"):</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 detailSection">
                                                        <div class="detailHeading">
                                                            <h3>@translationState.Translate("Government_Entity_Name"):</h3>
                                                        </div>
                                                        <div class="detailContent">
                                                            <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.PartyEntityEn : @communicationDetail?.PartyEntityAr)</h3>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </RadzenAccordionItem>
                                    }
                                    else if (Activity == (int)CommunicationTypeEnum.SendMessage || Activity == (int)CommunicationTypeEnum.G2GTarasolCorrespondence)
                                    {
                                        <RadzenAccordionItem Text="@translationState.Translate("Communication_Response_Send_Message_Detail")" Selected="true">
                                            <div class="row no-gutters">
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reference_No"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.ReferenceNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Activity"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.Activity_En : @communicationDetail?.Activity_Ar)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Communication_Response_Title"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@translationState.Translate(communicationDetail?.CommunicationResponseTitle)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Description"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.Description</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Correspondence_Type"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.CorrespondenceTypeEn : @communicationDetail?.CorrespondenceTypeAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Inbox_Number"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.InboxNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Inbox_Date"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.InboxDate?.ToString("dd/MM/yyyy"):</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reference_Number"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.G2GReferenceNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reference_Date"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.G2GReferenceDate?.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </RadzenAccordionItem>
                                    }
                                    else if (Activity == (int)CommunicationTypeEnum.FinalDocument)
                                    {
                                        <RadzenAccordionItem Text="@translationState.Translate("Final_Document_Detail")" Selected="true">
                                            <div class="row no-gutters">
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("File_Number"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.ReferenceNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Date"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.RequestOrFileDate?.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Document_Date"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.ResponseDate?.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Legal_Notification_Type"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.ResponseTypeEn : @communicationDetail?.ResponseTypeAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Due_Date"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.DueDate?.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Outbox_Number"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.OutboxNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("OutboxDate"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.OutboxDate?.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Priority"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.PriorityNameEN : @communicationDetail?.PriorityNameAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Additiona_GE_Users"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.AdditionalGEUserEn : @communicationDetail?.AdditionalGEUserAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reciever_GE"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.PartyEntityEn : @communicationDetail?.PartyEntityAr)</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </RadzenAccordionItem>
                                    }
                                    else if (Activity == (int)CommunicationTypeEnum.CaseRequest)
                                    {
                                        <RadzenAccordionItem Text="@translationState.Translate("Case_Request_Correspondence_Detail")" Selected="true">
                                            <div class="row no-gutters">
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Number"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.ReferenceNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Activity"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.Activity_En : @communicationDetail?.Activity_Ar)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Communication_Response_Title"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@translationState.Translate(communicationDetail?.CommunicationResponseTitle)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Correspondence_Type"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.CorrespondenceTypeEn : @communicationDetail?.CorrespondenceTypeAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Inbox_Number"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.InboxNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Inbox_Date"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.InboxDate?.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reference_Number"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.G2GReferenceNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reference_Date"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.G2GReferenceDate?.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Description"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.Description</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </RadzenAccordionItem>
                                    }
                                    else
                                    {
                                        <RadzenAccordionItem Text="@translationState.Translate("Legal_Notification_Details")" Selected="true">
                                            <div class="row no-gutters">
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Case_No"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.ReferenceNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Case_Registration_Date"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.RequestOrFileDate?.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Legal_Notification_Type"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.ResponseTypeEn : @communicationDetail?.ResponseTypeAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Legal_Notification_Date"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.ResponseDate?.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("OutboxNumber"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.OutboxNumber</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("OutboxDate"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@communicationDetail?.OutboxDate?.ToString("dd/MM/yyyy")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Government_Entity_Name"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.PartyEntityEn : @communicationDetail?.PartyEntityAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Additiona_GE_Users"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.AdditionalGEUserEn : @communicationDetail?.AdditionalGEUserAr)</h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Priority"):</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @communicationDetail?.PriorityNameEN : @communicationDetail?.PriorityNameAr)</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </RadzenAccordionItem>
                                    }
                                </Items>
                            </RadzenAccordion>
                            <RadzenAccordion>
                                <Items>
                                    <RadzenAccordionItem Text="@translationState.Translate("Document_Viewer")" Selected="false">
                                        <div class="col-md-12">
                                            <div class="row justify-content-right ">
                                                @if (ShowDocumentViewer)
                                                {
                                                    @* <TelerikPdfViewer @ref="PdfViewerRef"
                                                                      Width="100%"
                                                                      Height="1000px"
                                                                      Data="@FileData"
                                                                      Class="m-3" /> *@
                                                    <SfPdfViewerServer EnableNavigationToolbar="false"
                                                                       Width="100%"
                                                                       Height="1000px"
                                                                       @ref="@pdfViewer"
                                                                       EnableRtl="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? false : true)"
                                                                       Locale="@(Thread.CurrentThread.CurrentUICulture.Name)"
                                                                       ID="pdfviewerDetailCommunication"
                                                                       DocumentPath="@DocumentPath"
                                                                       InteractionMode="InteractionMode.Pan">
                                                    </SfPdfViewerServer>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <h2 class="formHeading">@translationState.Translate("Attachments")</h2>
                                            <div class="row pb-2">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tableContent table-responsive datagrid-rz-label">
                                                        <RadzenDataGrid AllowPaging="true"
                                                                        PageSize="@systemSettingState.Grid_Pagination"
                                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                                        PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                                        ShowPagingSummary="true"
                                                                        AllowSorting="true"
                                                                        AllowFiltering="false"
                                                                        FilterMode="Radzen.FilterMode.Advanced"
                                                                        Data="@OfficialAttachments"
                                                                        TItem="TempAttachementVM">
                                                            <Columns>
                                                                <RadzenDataGridColumn TItem="TempAttachementVM" Width="50px" Frozen="true" Title="@translationState.Translate("Action")" Context="attachment" Filterable="false" Sortable="false" TextAlign="Radzen.TextAlign.Center">
                                                                    <Template Context="attachment">
                                                                        <RadzenButton ButtonStyle="ButtonStyle.Info"
                                                                                      Icon="visibility"
                                                                                      Class="viewIcon"
                                                                                      title="@translationState.Translate("View")"
                                                                                      Click="@(args => ViewAttachement(attachment))"
                                                                        @onclick:stopPropagation="true"
                                                                                      Disabled="attachment.StoragePath == null" />
                                                                    </Template>
                                                                </RadzenDataGridColumn>
                                                                <RadzenDataGridColumn TItem="TempAttachementVM" Width="150px" Property="AttachmentTypeId" Title="@translationState.Translate("Document_Type")">
                                                                    <Template Context="attachment">
                                                                        @if (attachment.AttachmentTypeId == (int)AttachmentTypeEnum.Other)
                                                                        {
                                                                            <RadzenLabel Text="@attachment.OtherAttachmentType" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <RadzenLabel Text=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? $"{AttachmentTypes?.Where(t => t.AttachmentTypeId == attachment.AttachmentTypeId).FirstOrDefault()?.Type_En}" : $"{AttachmentTypes?.Where(t => t.AttachmentTypeId == attachment.AttachmentTypeId).FirstOrDefault()?.Type_Ar}") />
                                                                        }
                                                                    </Template>
                                                                </RadzenDataGridColumn>
                                                            </Columns>
                                                        </RadzenDataGrid>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </RadzenAccordionItem>
                                </Items>
                            </RadzenAccordion>
                            @if (loginState.UserRoles.Any(r => r.RoleId == SystemRoles.HOS) && loginState.UserDetail.SectorTypeId == (int)OperatingSectorTypeEnum.CivilCommercialPartialUrgentCases)
                            {
                                <RadzenAccordion>
                                    <Items>
                                        <RadzenAccordionItem Text="@translationState.Translate("Document_Published_By_HOS_Regional")" Selected="true">
                                            <div class="col-md-12">
                                                <div class="row justify-content-right ">
                                                    @if (ShowDocumentViewer)
                                                    {
                                                        @* <TelerikPdfViewer @ref="PdfViewerRef"
                                                                          Width="100%"
                                                                          Height="1000px"
                                                                          Data="@PublishedDocumentFileData"
                                                                          Class="m-3" /> *@
                                                        <SfPdfViewerServer EnableNavigationToolbar="false"
                                                                           Width="100%"
                                                                           Height="1000px"
                                                                           @ref="@pdfViewer"
                                                                           EnableRtl="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? false : true)"
                                                                           Locale="@(Thread.CurrentThread.CurrentUICulture.Name)"
                                                                           ID="pdfviewerDetailCommunication"
                                                                           DocumentPath="@DocumentPath"
                                                                           InteractionMode="InteractionMode.Pan">
                                                        </SfPdfViewerServer>
                                                    }
                                                </div>
                                            </div>
                                        </RadzenAccordionItem>
                                    </Items>
                                </RadzenAccordion>
                            }
                        </div>
                    </div>
                </div>
                @if (loginState.UserDetail.SectorTypeId == (int)OperatingSectorTypeEnum.CivilCommercialRegionalCases && communicationDetail?.StopExeRejectionReason != null)
                {
                    <div class="row">
                        <div class="col-12">
                            <RadzenLabel Text="@translationState.Translate("Rejection_Reason")" Component="Remarks" style="width: 100%" />
                            <RadzenTextArea Placeholder="@translationState.Translate("Reason")" @bind-Value="@(communicationDetail.StopExeRejectionReason)" Name="Remarks" Disabled="true" Rows="3" class="w-100" />
                        </div>
                    </div>
                }
                @if (Activity == (int)CommunicationTypeEnum.G2GTarasolCorrespondence)
                {
                    <RadzenAccordion>
                        <Items>
                            <RadzenAccordionItem Text="@translationState.Translate("Correspondence_History")">
                                <div class="row pt-4">
                                    <div class="col-12">
                                        <RadzenFieldset>
                                            <ChildContent>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="row tableContent table-responsive no-gutters pb-3">
                                                                <RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
                                                                @ref="CorrespondenceHistoryGrid"
                                                                                Data="@CorrespondenceHistory"
                                                                                AllowFiltering="false"
                                                                                FilterMode="Radzen.FilterMode.Advanced"
                                                                                AllowPaging="true"
                                                                                AllowSorting="true"
                                                                                TItem="CorrespondenceHistoryVM"
                                                                                PageSize="@systemSettingState.Grid_Pagination"
                                                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center">
                                                                    <Columns>

                                                                        <RadzenDataGridColumn TItem="CorrespondenceHistoryVM" Width="150px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "SenderNameEn" : "SenderNameAr") Title="@translationState.Translate("Sender")" />
                                                                        <RadzenDataGridColumn TItem="CorrespondenceHistoryVM" Width="150px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "RecieverNameEn" : "RecieverNameAr") Title="@translationState.Translate("Reciever")" />
                                                                        <RadzenDataGridColumn TItem="CorrespondenceHistoryVM" Width="150px" Property="Reason" Title="@translationState.Translate("Reason")" />

                                                                        <RadzenDataGridColumn TItem="CorrespondenceHistoryVM" Width="150px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "ActionEn" : "ActionAr") Title="@translationState.Translate("Action")" />

                                                                    </Columns>
                                                                </RadzenDataGrid>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ChildContent>
                                        </RadzenFieldset>
                                    </div>
                                </div>
                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>
                }
                @if (communicationDetail != null)
                {
                    <div class="buttoncontainer">
                        <input type="checkbox" id="toggle" />
                        <label class="floatingbutton" for="toggle"></label>
                        <nav class="nav">
                            <ul>
                                <TelerikButton Class="cancleBtn"
                                               ButtonType="Telerik.Blazor.ButtonType.Button"
                                               ThemeColor="light"
                                               OnClick="@BtnBack"> @translationState.Translate("Back") </TelerikButton>
                                @if (!managerTaskReminderData.Where(x => x.ManagerId == loginState.UserDetail.UserId).Any())
                            {
                                @if (Activity == (int)CommunicationTypeEnum.G2GTarasolCorrespondence)
                                {
                                    if (IsHOS)
                                    {
                                        <TelerikButton Class="cancleBtn"
                                                       ButtonType="Telerik.Blazor.ButtonType.Button"
                                                       ThemeColor="light"
                                                       OnClick="@ForwardToLawyer"> @translationState.Translate("Forward_To_Lawyer") </TelerikButton>
                                        <TelerikButton Class="cancleBtn"
                                                       ButtonType="Telerik.Blazor.ButtonType.Button"
                                                       ThemeColor="light"
                                                       OnClick="@ForwardToSector"> @translationState.Translate("Forward_To_Sector") </TelerikButton>
                                        <TelerikButton Class="cancleBtn"
                                                       ButtonType="Telerik.Blazor.ButtonType.Button"
                                                       ThemeColor="light"
                                                       OnClick="@SendBackToSender"> @translationState.Translate("Send_Back_To_Sender") </TelerikButton>
                                    }
                                    else
                                    {
                                        <TelerikButton Class="cancleBtn"
                                                       ButtonType="Telerik.Blazor.ButtonType.Button"
                                                       ThemeColor="light"
                                                       OnClick="@SendBackToHos"> @translationState.Translate("Send_Back_To_Hos") </TelerikButton>
                                    }

                                }

                                @if (loginState.UserDetail.SectorTypeId != (int)OperatingSectorTypeEnum.CivilCommercialPartialUrgentCases
                               && communicationDetail?.StopExeRejectionReason != null) // need to reset this button location / condition
                                {
                                    <TelerikButton Class="cancleBtn"
                                                   ButtonType="Telerik.Blazor.ButtonType.Button"
                                                   ThemeColor="light"
                                                   OnClick="@CompleteTask"> @translationState.Translate("Completed") </TelerikButton>
                                }
                                else
                                {
                                    @if (Activity == (int)CommunicationTypeEnum.StopExecutionOfJudgment
                                   && loginState.UserDetail.SectorTypeId != (int)OperatingSectorTypeEnum.CivilCommercialPartialUrgentCases)
                                    {
                                        <TelerikButton Class="cancleBtn"
                                                       ButtonType="Telerik.Blazor.ButtonType.Button"
                                                       OnClick="@BtnView"
                                                       ThemeColor="light"> @translationState.Translate("View_Details")</TelerikButton>
                                    }
                                    @if (taskDetailVM?.TaskStatusId == (int)TaskStatusEnum.Pending)
                                    {
                                        @if (Activity == (int)CommunicationTypeEnum.AcceptSaveAndCloseFile)
                                        {

                                            <TelerikButton Class="cancleBtn"
                                                           ButtonType="Telerik.Blazor.ButtonType.Button"
                                                           ThemeColor="light"
                                                           OnClick="@SaveAndCloseFile">
                                                @translationState.Translate("Save_And_Close_File")
                                            </TelerikButton>
                                        }
                                        else
                                        {
                                            <TelerikButton Class="cancleBtn"
                                                           ButtonType="Telerik.Blazor.ButtonType.Button"
                                                           ThemeColor="light"
                                                           OnClick="@CompleteTask"> @translationState.Translate("Completed") </TelerikButton>

                                            <TelerikButton Class="cancleBtn"
                                                           ButtonType="Telerik.Blazor.ButtonType.Button"
                                                           ThemeColor="lightrequest-need-more-detail"
                                                           OnClick="@NeedMoreInfo"> @translationState.Translate("Legal_Notification_Reply") </TelerikButton>
                                        }
                                        @if (Activity == (int)CommunicationTypeEnum.StopExecutionOfJudgment
                                       && loginState.UserDetail.SectorTypeId == (int)OperatingSectorTypeEnum.CivilCommercialRegionalCases)
                                        {
                                            <TelerikButton Class="cancleBtn"
                                                           ButtonType="Telerik.Blazor.ButtonType.Button"
                                                           ThemeColor="light" OnClick="@DraftAFile">@translationState.Translate("Draft_A_File")</TelerikButton>
                                        }
                                        @if (Activity == (int)CommunicationTypeEnum.StopExecutionOfJudgment
                                       && loginState.UserDetail.SectorTypeId == (int)OperatingSectorTypeEnum.CivilCommercialPartialUrgentCases)
                                        {
                                            <TelerikButton Class="cancleBtn"
                                                           ButtonType="Telerik.Blazor.ButtonType.Button"
                                                           ThemeColor="light" OnClick="@ApproveFile">@translationState.Translate("Work_on_stop_execution_request_File")</TelerikButton>

                                            <TelerikButton Class="cancleBtn"
                                                           ButtonType="Telerik.Blazor.ButtonType.Button"
                                                           ThemeColor="light" OnClick="@RejectFile">@translationState.Translate("Reject_stop_execution_requestt_File")</TelerikButton>
                                        }
                                    }
                                }
                            }

                        </ul>
                    </nav>
                </div>
                }
            }
            else
            {
                <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("No_record_found")</div>
            }
        </ChildContent>
    </RadzenContent>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}
