@page "/send-copy/{RequestId}"
@using FATWA_DOMAIN.Models.CaseManagment
@layout MainLayout

@*<History Author = 'Hassan Abbas' Date='2022-10-21' Version="1.0" Branch="master">Create a new copy of the Case Request and Send it to another Sector </History>*@
<RadzenContent Container="main">
    <RadzenTemplateForm Data="@caseRequest" Visible="@(caseRequest != null)" TItem="CaseRequest" Submit="@FormSubmit">
        <ChildContent>
            <div class="row pt-2 pb-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">

                        <RadzenLabel Text="@translationState.Translate("Sector")" Component="SectorType" />
                        <RadzenDropDown Data="@SectorTypes.Where(x=>x.Id != loginState.UserDetail.SectorTypeId)" AllowFiltering="true" AllowClear="true"
                                        TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar") ValueProperty="Id" Placeholder="@translationState.Translate("Select")"
                                        Style="display:block;" @bind-Value="approvalTracking.SectorTo" Name="SecType"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                        <div class="rz-message rz-messages-error ">@typeValidationMsgSector</div>
                    </div>

                    <div class="form-group">
                        <RadzenLabel Text="@translationState.Translate("Reason")" Component="Remarks" style="width: 100%"> </RadzenLabel>
                        <RadzenTextArea Placeholder="@translationState.Translate("Reason")" Name="Remarks" @bind-Value="@(approvalTracking.Remarks)" Cols="54" Rows="3" />

                        <div class="rz-message rz-messages-error ">@typeValidationMsgReason</div>
                    </div>

                    <div class="row mt-4 popup-buttons-alignment">
                        <div class="col-12 p-0">
                            <RadzenButton Text="@translationState.Translate("Submit")"
                                          ButtonStyle="ButtonStyle.Primary"
                                          Style="margin-right: 1rem"
                                          Click="@FormSubmit"
                                          ButtonType="Radzen.ButtonType.Submit" />
                            <RadzenButton Text="@translationState.Translate("Cancel")"
                                          ButtonStyle="ButtonStyle.Light"
                                          Click="@ButtonCancelClick" />
                        </div>
                    </div>
                </div>
            </div>
        </ChildContent>
    </RadzenTemplateForm>
</RadzenContent>