@page "/update-case-parties"
@using FATWA_DOMAIN.Models.CaseManagment
@using FATWA_DOMAIN.Models.ViewModel.CaseManagment
@using static FATWA_DOMAIN.Enums.GeneralEnums
@using static FATWA_DOMAIN.Enums.CaseManagementEnums
@using FATWA_WEB.Pages.Shared
@using static FATWA_DOMAIN.Enums.WorkflowModuleAndActivitiesEnum
@layout MainLayout

<!-- <History Author = 'Hassan Abbas' Date='2022-12-10' Version="1.0" Branch="master">Update Case Parties</History> -->
<RadzenContent Container="main">
    <ChildContent>
        <div class="row case-party-row">
            <div class="col-md-12">
                <RadzenCard>
                    <div class="row pb-1">
                        <div class="col-md-4">
                            <h2 class="formHeading">@translationState.Translate("Plantiff")</h2>
                            @*<div class="divider"></div>*@
                        </div>
                        <div class="col-md-8 d-flex justify-content-end">
                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="add" Text="@translationState.Translate("Add")" Click="@( () => AddParty((int)CasePartyCategoryEnum.Plaintiff))">
                            </RadzenButton>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-12 datagrid-rz-label">
                            <div class="tableContent ">
                                <RadzenDataGrid @ref="PartiesGrid"
                                                AllowPaging="false"
                                                PageSize="@systemSettingState.Grid_Pagination"
                                                class="partyFile"
                                                Data="@(CasePartyLinks?.Where(x => x.CategoryId == (int)CasePartyCategoryEnum.Plaintiff || x.CasePartyCategory == CasePartyCategoryEnum.Plaintiff).OrderBy(x => x.TypeId))"
                                                TItem="CasePartyLinkVM"
                                                EmptyText="@translationState.Translate("No_record_found")"
                                                Width="100%"
                                                RowRender="@PartyRowRender"
                                                AllowFiltering="false"
                                                FilterMode="Radzen.FilterMode.Advanced"
                                                AllowSorting="true"
                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                >
                                    <Template Context="partyLink">
                                        <FileUpload ReferenceGuid="partyLink.Id"
                                                    IsViewOnly="true"
                                                    ModuleId="(int)WorkflowModuleEnum.CaseManagement" />
                                    </Template>
                                    <Columns>
                                        <RadzenDataGridColumn TItem="CasePartyLinkVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                            <Template Context="row">
                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" class="approvalIcon" Icon="visibility" Title="@translationState.Translate("View_Detail")" Size="ButtonSize.Small" Click="@((args) => DetailCaseParty(row))" @onclick:stopPropagation="true" />
                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" class="deleteIcon" Icon="delete_outline" Title="@translationState.Translate("delete")" Size="ButtonSize.Small" Click="@((args) => DeleteParty(row))" @onclick:stopPropagation="true" />
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="CasePartyLinkVM" Property="Name" Width="150px" Title="@translationState.Translate("Name")">
                                            <Template Context="party">
                                                @if (party.CasePartyType == CasePartyTypeEnum.Individual || party.TypeId == (int)CasePartyTypeEnum.Individual || party.CasePartyType == CasePartyTypeEnum.Company || party.TypeId == (int)CasePartyTypeEnum.Company)
                                                {
                                                    <RadzenLabel Text="@party.Name" />
                                                }
                                                else
                                                {
                                                    <RadzenLabel Text=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? $"{party.RepresentativeEn}" : $"{party.RepresentativeAr}") />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="CasePartyLinkVM" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "TypeName_En" : "TypeName_Ar") Title="@translationState.Translate("Type")" />
                                        <RadzenDataGridColumn TItem="CasePartyLinkVM" Property="CivilId" Title="@translationState.Translate("CivilId_CRN")">
                                            <Template Context="party">
                                                @if (party.CasePartyType == CasePartyTypeEnum.Individual || party.TypeId == (int)CasePartyTypeEnum.Individual)
                                                {
                                                    <RadzenLabel Text="@party.CivilId" />
                                                }
                                                else if (party.CasePartyType == CasePartyTypeEnum.Company || party.TypeId == (int)CasePartyTypeEnum.Company)
                                                {
                                                    <RadzenLabel Text="@party.CRN" />
                                                }
                                                else
                                                {
                                                    <RadzenLabel Text="-" />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn Width="140px" TItem="CasePartyLinkVM" Property="GovtEntity_En" Title="@translationState.Translate("Government_Entity")">
                                            <Template Context="party">
                                                @if (party.CasePartyType == CasePartyTypeEnum.GovernmentEntity || party.TypeId == (int)CasePartyTypeEnum.GovernmentEntity)
                                                {
                                                    <RadzenLabel Text=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? $"{party.GovtEntity_En}" : $"{party.GovtEntity_Ar}") />
                                                }
                                                else
                                                {
                                                    <RadzenLabel Text="-" />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="CasePartyLinkVM" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Created_Date")">
                                        </RadzenDataGridColumn>
                                    </Columns>
                                </RadzenDataGrid>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-md-4">
                            <h2 class="formHeading">@translationState.Translate("Defendent_Party")</h2>
                            @*<div class="divider"></div>*@
                        </div>
                        <div class="col-md-8 d-flex justify-content-end">
                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="add" Text="@translationState.Translate("Add")" Click="@( () => AddParty((int)CasePartyCategoryEnum.Defendant))">
                            </RadzenButton>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-12 datagrid-rz-label">
                            <div class="tableContent ">
                                <RadzenDataGrid @ref="PartiesGrid"
                                                AllowPaging="true"
                                                PageSize="@systemSettingState.Grid_Pagination"
                                                class="partyFile"
                                                Data="@(CasePartyLinks?.Where(x => x.CategoryId == (int)CasePartyCategoryEnum.Defendant || x.CasePartyCategory == CasePartyCategoryEnum.Defendant).OrderBy(x => x.TypeId))"
                                                TItem="CasePartyLinkVM"
                                                EmptyText="@translationState.Translate("No_record_found")"
                                                Width="100%"
                                                RowRender="@PartyRowRender"
                                                AllowFiltering="false"
                                                FilterMode="Radzen.FilterMode.Advanced"
                                                AllowSorting="true"
                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                >
                                    <Template Context="partyLink">
                                        <FileUpload ReferenceGuid="partyLink.Id"
                                                    IsViewOnly="true"
                                                    ModuleId="(int)WorkflowModuleEnum.CaseManagement" />
                                    </Template>
                                    <Columns>
                                        <RadzenDataGridColumn TItem="CasePartyLinkVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                            <Template Context="row">
                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" class="approvalIcon" Icon="visibility" Title="@translationState.Translate("View_Detail")" Size="ButtonSize.Small" Click="@((args) => DetailCaseParty(row))" @onclick:stopPropagation="true" />
                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" class="deleteIcon" Icon="delete_outline" Title="@translationState.Translate("delete")" Size="ButtonSize.Small" Click="@((args) => DeleteParty(row))" @onclick:stopPropagation="true" />
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="CasePartyLinkVM" Property="Name" Width="150px" Title="@translationState.Translate("Name")">
                                            <Template Context="party">
                                                @if (party.CasePartyType == CasePartyTypeEnum.Individual || party.TypeId == (int)CasePartyTypeEnum.Individual || party.CasePartyType == CasePartyTypeEnum.Company || party.TypeId == (int)CasePartyTypeEnum.Company)
                                                {
                                                    <RadzenLabel Text="@party.Name" />
                                                }
                                                else
                                                {
                                                    <RadzenLabel Text=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? $"{party.RepresentativeEn}" : $"{party.RepresentativeAr}") />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                         <RadzenDataGridColumn TItem="CasePartyLinkVM" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "TypeName_En" : "TypeName_Ar") Title="@translationState.Translate("Type")" />
                                        <RadzenDataGridColumn TItem="CasePartyLinkVM" Property="CivilId" Title="@translationState.Translate("CivilId_CRN")">
                                            <Template Context="party">
                                                @if (party.CasePartyType == CasePartyTypeEnum.Individual || party.TypeId == (int)CasePartyTypeEnum.Individual)
                                                {
                                                    <RadzenLabel Text="@party.CivilId" />
                                                }
                                                else if (party.CasePartyType == CasePartyTypeEnum.Company || party.TypeId == (int)CasePartyTypeEnum.Company)
                                                {
                                                    <RadzenLabel Text="@party.CRN" />
                                                }
                                                else
                                                {
                                                    <RadzenLabel Text="-" />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn Width="140px" TItem="CasePartyLinkVM" Property="GovtEntity_En" Title="@translationState.Translate("Government_Entity")">
                                            <Template Context="party">
                                                @if (party.CasePartyType == CasePartyTypeEnum.GovernmentEntity || party.TypeId == (int)CasePartyTypeEnum.GovernmentEntity)
                                                {
                                                    <RadzenLabel Text=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? $"{party.GovtEntity_En}" : $"{party.GovtEntity_Ar}") />
                                                }
                                                else
                                                {
                                                    <RadzenLabel Text="-" />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="CasePartyLinkVM" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Created_Date")">
                                        </RadzenDataGridColumn>
                                       
                                    </Columns>
                                </RadzenDataGrid>
                            </div>
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
