@page "/add-execution-request/{CaseId}"

@using FATWA_DOMAIN.Models.CaseManagment
@using FATWA_DOMAIN.Models.ViewModel.CaseManagment
@using Syncfusion.Blazor.PdfViewer
@using Syncfusion.Blazor.PdfViewerServer
@using FATWA_DOMAIN.Models.ViewModel
@using FATWA_DOMAIN.Models
@using static FATWA_DOMAIN.Enums.GeneralEnums;
@using static FATWA_DOMAIN.Enums.WorkflowParameterEnums
@using static FATWA_DOMAIN.Enums.WorkflowModuleAndActivitiesEnum
@using static FATWA_DOMAIN.Enums.CaseManagementEnums

@layout MainLayout

<!--<History Author = "Hassan Abbas" Date="2023-04-05" Version="1.0" Branch="master"> Add Execution Request</History>-->
@if (loginState.ClaimList.Where(x => x.Value == "Permissions.CMS.RegisteredCase.AddExecutionRequest").Count() > 0)
{
    <RadzenContent Container="main">
        <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenBreadCrumb>
                            <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                            <RadzenBreadCrumbItem Path="@("/case-view/" + CaseId)" Text="@translationState.Translate("View_Case_Details")" />
                            <RadzenBreadCrumbItem Text="@translationState.Translate("Create_Execution_Request")" />
                        </RadzenBreadCrumb>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="backtoDashboard"> 
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_Dashboard")"
                                      class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_HomeScreen")"
                                      class="returnBtn"
                                      Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>

            <div class="row TitleBar justify-content-left align-items-center py-4">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenHeading Size="H1" Text="@translationState.Translate("Create_Execution_Request")" />
                    </div>
                </div>
            </div>
            <RadzenTemplateForm Data="@executionRequest" Visible="@(executionRequest != null)" TItem="MojExecutionRequest" Submit="@SubmitExecutionRequest">
                    <ChildContent>
            <div class="row d-block justify-content-left p-0 m-0">
                <RadzenCard>
                    <RadzenAccordion>
                        <Items>
                            <RadzenAccordionItem Text="@translationState.Translate("Case_Details")" Selected="true">
                                <div class="row pb-2">
                                    <div class="col-12 datagrid-rz-label">
                                        <div class="row no-gutters">
                                            <div class="col-6 detailSection">
                                                <div class="detailHeading">
                                                    <h3>@translationState.Translate("CAN_Number"):</h3>
                                                </div>
                                                <div class="detailContent">
                                                    <h3>@registeredCase?.CANNumber</h3>
                                                </div>
                                            </div>
                                            <div class="col-6 detailSection">
                                                <div class="detailHeading">
                                                    <h3>@translationState.Translate("Case_Number"):</h3>
                                                </div>
                                                <div class="detailContent">
                                                    <h3>@registeredCase?.CaseNumber</h3>
                                                </div>
                                            </div>
                                            <div class="col-6 detailSection">
                                                <div class="detailHeading">
                                                    <h3>@translationState.Translate("Case_Date"):</h3>
                                                </div>
                                                <div class="detailContent">
                                                    <h3>@registeredCase?.CreatedDate.ToString("dd/MM/yyyy")</h3>
                                                </div>
                                            </div>
                                            <div class="col-6 detailSection">
                                                <div class="detailHeading">
                                                    <h3>@translationState.Translate("Court_Type"):</h3>
                                                </div>
                                                <div class="detailContent">
                                                    <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @registeredCase?.CourtTypeNameEn : @registeredCase?.CourtTypeNameAr)</h3>
                                                </div>
                                            </div>
                                            <div class="col-6 detailSection">
                                                <div class="detailHeading">
                                                    <h3>@translationState.Translate("Court_Name"):</h3>
                                                </div>
                                                <div class="detailContent">
                                                    <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @registeredCase?.CourtNameEn : @registeredCase?.CourtNameAr)</h3>
                                                </div>
                                            </div>
                                            <div class="col-6 detailSection">
                                                <div class="detailHeading">
                                                    <h3>@translationState.Translate("Chamber_Name"):</h3>
                                                </div>
                                                <div class="detailContent">
                                                    <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @registeredCase?.ChamberNameEn : @registeredCase?.ChamberNameAr)</h3>
                                                </div>
                                            </div>
                                            <div class="col-6 detailSection">
                                                <div class="detailHeading">
                                                    <h3>@translationState.Translate("Chamber_Number"):</h3>
                                                </div>
                                                <div class="detailContent">
                                                    <h3>@registeredCase?.ChamberNumber</h3>
                                                </div>
                                            </div>
                                            <div class="col-6 detailSection">
                                                <div class="detailHeading">
                                                    <h3>@translationState.Translate("Is_Confidential"):</h3>
                                                </div>
                                                <div class="detailContent">
                                                    @{
                                                        bool isConfidential = registeredCase?.IsConfidential ?? false;
                                                    }
                                                    @if (isConfidential)
                                                    {
                                                        <h3>@translationState.Translate("Yes")</h3>
                                                    }
                                                    else
                                                    {
                                                        <h3>@translationState.Translate("No")</h3>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>
                    <RadzenAccordion>
                        <Items>
                            <RadzenAccordionItem Text="@translationState.Translate("Remarks")" Selected="true">
                                <div class="row pb-2">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="tableContent table-responsive datagrid-rz-label">
                                            <RadzenTextArea Placeholder="@translationState.Translate("Remarks")" @bind-Value="@(executionRequest.Remarks)" Name="Remarks" Class="w-100" />
                                                    <RadzenRegexValidator Component="Remarks" Text="@translationState.Translate("Cannot_have_trailing_spaces")" Pattern="@RegexPatterns.NoLeadingSpacesTextAreaPattern" />
                                            <RadzenLengthValidator Component="Remarks" Max="1000" Text="@translationState.Translate("Max_Thousand_Characters")" />
                                        </div>
                                    </div>
                                </div>
                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>
                    <RadzenAccordion>
                        <Items>
                            <RadzenAccordionItem Text="@translationState.Translate("Case_Details")" Selected="true">
                                <div class="row pb-2">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="tableContent table-responsive datagrid-rz-label">
                                            <RadzenDataGrid @ref="gridAttachments"
                                                            AllowFiltering="false"
                                                            AllowPaging="true"
                                                            AllowSorting="true"
                                                            Data="@attachments?.Where(a => a.DocType?.ToLower() == ".pdf")"
                                                            TItem="TempAttachementVM"
                                                            Count="@(attachments != null ? attachments.Count() : 0)"
                                                            PageSize="@systemSettingState.Grid_Pagination"
                                                            PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                            PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                            PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                            EmptyText="@translationState.Translate("No_record_found")"
                                                            PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                            SelectionMode="DataGridSelectionMode.Multiple"
                                                            AllowRowSelectOnRowClick="@allowRowSelectOnRowClick"
                                                            @bind-Value=@executionRequest.SelectedDocuments
                                                            ShowPagingSummary="true">
                                                <Columns>
                                                    <RadzenDataGridColumn TItem="TempAttachementVM" Width="40px" Sortable="false" Filterable="false" TextAlign="Radzen.TextAlign.Center">
                                                        <HeaderTemplate>
                                                            <RadzenCheckBox TriState="false"
                                                                            Value="@((attachments!=null && executionRequest.SelectedDocuments != null)? (attachments.Except(executionRequest.SelectedDocuments).Any()? false : true) :false)"
                                                                            TValue="bool"
                                                                            Change="@(args => executionRequest.SelectedDocuments = args ? attachments.ToList() : null)" />
                                                        </HeaderTemplate>
                                                        <Template Context="data">
                                                            <RadzenCheckBox TriState="false"
                                                                            Value="@(executionRequest.SelectedDocuments != null && executionRequest.SelectedDocuments.Contains(data))"
                                                                            TValue="bool"
                                                                            Change=@(args => { if(!allowRowSelectOnRowClick) { gridAttachments.SelectRow(data); }}) />
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="TempAttachementVM" Frozen="true" Context="attachment" Filterable="false" Sortable="false" TextAlign="Radzen.TextAlign.Center" Title="@translationState.Translate("Action")">
                                                        <Template Context="attachment">
                                                            <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="visibility" Class="viewIcon" Click="@(args => ViewAttachement(attachment))" @onclick:stopPropagation="true" Disabled="attachment.StoragePath == null">
                                                            </RadzenButton>
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="TempAttachementVM" Property="AttachmentTypeId" Title="@translationState.Translate("Document_Type")">
                                                        <Template Context="attachment">
                                                            @if (attachment.AttachmentTypeId == (int)AttachmentTypeEnum.Other)
                                                            {
                                                                <RadzenLabel Text="@attachment.OtherAttachmentType" />
                                                            }
                                                            else
                                                            {
                                                                <RadzenLabel Text=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? $"{AttachmentTypes?.Where(t => t.AttachmentTypeId == attachment.AttachmentTypeId)?.FirstOrDefault()?.Type_En}" : $"{AttachmentTypes?.Where(t => t.AttachmentTypeId == attachment.AttachmentTypeId)?.FirstOrDefault()?.Type_Ar}") />
                                                            }
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="TempAttachementVM" Property="Description" Title="@translationState.Translate("Description")">
                                                        <Template Context="attachment">
                                                            @if (String.IsNullOrEmpty(attachment.Description) || attachment.Description == "null")
                                                            {
                                                                <RadzenLabel Text="-" />
                                                            }
                                                            else
                                                            {
                                                                <RadzenLabel Text="@attachment.Description" />
                                                            }
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="TempAttachementVM" Property="FileName" Title="@translationState.Translate("File_Name")">
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="TempAttachementVM" Property="DocDateTime" Width="90px" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Document_Date")">
                                                    </RadzenDataGridColumn>

                                                </Columns>
                                            </RadzenDataGrid>
                                        </div>
                                    </div>
                                </div>
                                @if (DisplayDocumentViewer)
                                {
                                    <RadzenCard class="bg-light m-3">
                                        <div class="row pb-2">
                                            <div class="col-md-4">
                                                <h2 class="formHeading">@translationState.Translate("Document_Viewer")</h2>
                                            </div>
                                            <div class="col-md-8 d-flex justify-content-end">
                                                <RadzenButton ButtonStyle="ButtonStyle.Light"
                                                              class="btn-close-custom"
                                                              Text="@translationState.Translate("Close")"
                                                              Click="@( () => DisplayDocumentViewer = false )" />
                                            </div>
                                        </div>
                                        <div class="row pb-2" style="overflow:scroll">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                               @*  <TelerikPdfViewer @ref="PdfViewerRef"
                                                                  Width="100%"
                                                                  Height="800px"
                                                                  Data="@FileDataViewer">
                                                    <PdfViewerToolBar>
                                                        <PdfViewerToolBarSeparator />
                                                        <PdfViewerToolBarDownloadTool />
                                                        <PdfViewerToolBarPrintTool />
                                                        <PdfViewerToolBarPagerTool />
                                                        <PdfViewerToolBarSpacer />
                                                        <PdfViewerToolBarZoomTool />
                                                        <PdfViewerToolBarSelectionTool />
                                                        <PdfViewerToolBarSearchTool />
                                                    </PdfViewerToolBar>
                                                </TelerikPdfViewer> *@
                                                <SfPdfViewerServer EnableNavigationToolbar="false"
                                                                   Width="100%"
                                                                   Height="1000px"
                                                                   @ref="@pdfViewer"
                                                                           EnableRtl="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? false : true)"
                                                                           Locale="@(Thread.CurrentThread.CurrentUICulture.Name)"
                                                                   ID="pdfviewerDetailCommunication"
                                                                   DocumentPath="@DocumentPath"
                                                                   InteractionMode="InteractionMode.Pan">
                                                </SfPdfViewerServer>
                                            </div>
                                        </div>
                                    </RadzenCard>
                                }

                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>
                    <div class="row d-flex justify-content-center align-items-center pb-3 mt-2">
                        <div class="col-md-6 d-flex justify-content-start">
                            <RadzenButton Class="cancleBtn" ButtonType="Radzen.ButtonType.Button" Click="@RedirectBack">@translationState.Translate("Back")</RadzenButton>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <RadzenButton ButtonType="Radzen.ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" Text="@translationState.Translate("Submit")">
                            </RadzenButton>
                        </div>
                    </div>
                </RadzenCard>
            </div>
            </ChildContent>
            </RadzenTemplateForm>
        </ChildContent>
    </RadzenContent>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}