@page "/decision-requests"
@layout MainLayout
@using FATWA_DOMAIN.Models.ViewModel.AdminVM.CaseManagment;
@using FATWA_DOMAIN.Models.ViewModel.CaseManagment;


@if (loginState.ClaimList.Any(x => x.Value == "Permissions.CMS.Case.DecisionList"))
{
<RadzenContent Container="main">
    <ChildContent>
        <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
            <div class="col-md-6">
                <RadzenBreadCrumb>
                    <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                    <RadzenBreadCrumbItem Text="@translationState.Translate("Regenrate_Execution_Requests")" />
                </RadzenBreadCrumb>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <div class="backtoDashboard">
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back_Dashboard")"
                                  class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back_HomeScreen")"
                                  class="returnBtn"
                                  Icon="home" Click="@GoBackHomeScreen" />
                </div>
            </div>
        </div>

        <div class="row TitleBar justify-content-center align-items-center py-4">
            <div class="col-md-12">
                <div class="row no-gutters">
                    <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Regenrate_Execution_Requests")" />
                </div>
            </div>

        </div>
        <div class="row justify-content-center mainContentBlock py-4">
            <div class="col-md-12">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex">
                        <RadzenTextBox class="searchBox"
                                       Placeholder="@translationState.Translate("Grid_Search")"
                                       Name="Textbox0"
                            @oninput="@(async(args) => {await OnSearchInput($"{args.Value}");})" />
                     </div>
                </div>
                <div class="row tableContent table-responsive no-gutters pb-3">
                    <RadzenDataGrid @ref="grid"
                                    FilterMode="Radzen.FilterMode.Advanced"
                                    Count="@(getjugdmentDecisionVMs?.Any() == true ? getjugdmentDecisionVMs.FirstOrDefault().TotalCount : 0)"
                                    AllowFiltering="false"
                                    AllowPaging="true"
                                    AllowSorting="true"
                                    LoadData="OnLoadData"
                                    Data="@FilteredJudgementDecisionList"
                                    Sort="OnSortData"
                                    TItem="CmsJugdmentDecisionVM"
                                    PageSize="@systemSettingState.Grid_Pagination"
                                    PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                    PageSizeText="@translationState.Translate("Items_Per_Page")"
                                    PageSizeOptions="@systemSettingState.Page_Size_Options"
                                    EmptyText="@translationState.Translate("No_record_found")"
                                    PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                    ShowPagingSummary="true"
                                    ColumnWidth="200px">
                        <Columns>
                            <RadzenDataGridColumn TItem="CmsJugdmentDecisionVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center">
                                <Template Context="row">
                                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="visibility" Size="ButtonSize.Small" Click="@((args) => DetailJudgmentDecision(row))" @onclick:stopPropagation="true" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="CmsJugdmentDecisionVM" Width="150px" Property="Title" Title="@translationState.Translate("Title")" />
                            <RadzenDataGridColumn TItem="CmsJugdmentDecisionVM" Width="150px" Property="Description" Title="@translationState.Translate("Description")" />
                            <RadzenDataGridColumn TItem="CmsJugdmentDecisionVM" Width="150px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "DecisionTypeEn" : "DecisionTypeAr") Title="@translationState.Translate("Decision_Type")" />                            
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}

