@using FATWA_DOMAIN.Models
@layout MainLayout
 

<RadzenTemplateForm Data="@legalPublicationSourceName" Visible="@(legalPublicationSourceName != null)" TItem="LegalPublicationSourceName" Submit="@Form0Submit">
    <ChildContent>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-group">
                <RadzenLabel Text="@(translationState.Translate("English_Name") + "*")" Component="Name_En" />
                <RadzenTextBox class="flex-grow-1" Placeholder="@translationState.Translate("English_Name")" @bind-Value="@(legalPublicationSourceName.Name_En)" Name="Name_En" />
                <RadzenRegexValidator Component="Name_En" Text="@translationState.Translate("Only_English_Character_allowed")" Pattern="@RegexPatterns.EnglishPattern" />
                <RadzenRequiredValidator Component="Name_En" Text="@translationState.Translate("Required_Field")" />
                <RadzenLengthValidator Component="Name_En" Max="90" Text="@translationState.Translate("Max_Ninety_Characters")" />
            </div>

            <div class="form-group">
                <RadzenLabel Text="@(translationState.Translate("Arabic_Name") +"*")" Component="Name_Ar" />
                <RadzenTextBox class="pt-1 flex-grow-1" Placeholder="@translationState.Translate("Arabic_Name")" @bind-Value="@(legalPublicationSourceName.Name_Ar)" Name="Name_Ar" />
                <RadzenRegexValidator Component="Name_Ar" Text="@translationState.Translate("Only_Arabic_Characters_Are_Allowed")" Pattern="@RegexPatterns.ArabicPattern" />
                <RadzenRequiredValidator Component="Name_Ar" Text="@translationState.Translate("Required_Field")"></RadzenRequiredValidator>
                <RadzenLengthValidator Component="Name_Ar" Max="90" Text="@translationState.Translate("Max_Ninety_Characters")" />

            </div>
            <div class="popup-buttons-alignment ">
                <RadzenButton ButtonType="Radzen.ButtonType.Submit"
                              Style="margin-left: 10px; margin-right: 10px;"
                              ButtonStyle="ButtonStyle.Primary" Text="@translationState.Translate("Save")">
                </RadzenButton>
                <RadzenButton Text="@translationState.Translate("Cancel")"
                              ButtonStyle="ButtonStyle.Light"
                              Click="@Button2Click">
                </RadzenButton>
            </div>
        </div>
    </ChildContent>
</RadzenTemplateForm>