@page "/LLS-lookups"
@using FATWA_DOMAIN.Enums.Common;
@using FATWA_DOMAIN.Models
@using FATWA_DOMAIN.Models.ViewModel.AdminVM.Lookups;
@using static FATWA_DOMAIN.Enums.GeneralEnums
@layout MainLayout

<!--<History Author = "Nabeel ur Rehman" Date="2022-07-21" Version="1.0" Branch="master"> Adding/Updating new Group and Assign/Unassign Role and users to it.</History>-->
<PageTitle>@translationState.Translate("LLS_Lookups")</PageTitle>
@if (loginState.ClaimList.Any(x => x.Value == "Admin.Permissions.Menu.LLS.Configuration"))
{
    <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
        <div class="col-md-6">
            <div class="row no-gutters">
                <RadzenBreadCrumb>
                    <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                    <RadzenBreadCrumbItem Text="@translationState.Translate("Legislation_Lookups")" />
                </RadzenBreadCrumb>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="backtoDashboard">
                <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                              Size="ButtonSize.Small"
                              title="@translationState.Translate("Go_Back_HomeScreen")"
                              class="returnBtn"
                              Icon="home" Click="@GoBackHomeScreen" />
            </div>
        </div>
    </div>
    <div class="row TitleBar justify-content-left align-items-center py-4 pt-5">
        <div class="col-md-6">
            <div class="row no-gutters">
                <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Legislation_Lookups")" />
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end ">
        </div>
    </div>
    <RadzenContent Container="main">
        <ChildContent>
            <RadzenCard Style="padding: 30px; border-radius: 8px;">
                <div class="row">
                    <div class="col-lg-12">
                        <RadzenAccordion Multiple="true">
                            <Items>
                                <RadzenAccordionItem Selected="true" Text="@translationState.Translate("Legal_Publication_Source")">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <RadzenTextBox Placeholder="@translationState.Translate("Grid_Search")" style="display: block; margin-bottom: 10px; width: 100%" 
                                            Name="Textbox0"
                                            @oninput="@(async(args) => {await grid1.GoToPage(0);await OnSearchInput($"{args.Value}");})" />
                                        </div>
                                        <div class="col-md-8 text-right-custom-gridcolumn">
                                            <RadzenButton Icon="add_circle" style="margin-bottom: 10px" Text="@translationState.Translate("Add")" Click="@Button1Click" />
                                        </div>
                                    </div>
                                    <div class="row tableContent pb-3">
                                        <div class="col-md-12">
                                            <RadzenDataGrid @ref="grid1"
                                                            FilterMode="Radzen.FilterMode.Advanced"
                                                            AllowPaging="true"
                                                            AllowSorting="true"
                                                            AllowFiltering="false"
                                                            Data="@FilteredlegalPublicationSourceNames"
                                                            TItem="LegalPublicationSourceNameVM"
                                                            PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                            PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                            EmptyText="@translationState.Translate("No_record_found")"
                                                            RowExpand="@ExpandDraftVersionslegalPublicationSourceNames"
                                                            ShowPagingSummary="true"
                                                            ExpandMode="DataGridExpandMode.Single"
                                                            Count="@(FilteredlegalPublicationSourceNames != null ? FilteredlegalPublicationSourceNames.Count() : 0)"
                                                            PageSize="@loginState.PageSize"
                                                            PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                            PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")">
                                                <Template Context="legalPublicationSourceNames">
                                                    <RadzenCard class="bg-light">
                                                        <div class="row pb-2">
                                                            <div class="col-md-4">
                                                                @translationState.Translate("Legal_Publication_Source_History")
                                                                <div class="divider"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <RadzenTextBox Trim Placeholder="@translationState.Translate("Grid_Search")" style="display: block; margin-bottom: 10px; width: 100%"
                                                                                Name="Textbox0"
                                                                                @oninput="@(async(args) => {searchHistory = $"{args.Value}";await gridLookupHistoryVM.GoToPage(0);})">
                                                                 </RadzenTextBox>
                                                             </div>
                                                         </div>
                                                         <div class="row pb-2">

                                                             <div class="col-md-12 tableAdditionButton d-flex justify-content-end px-0 pb-3">
                                                             </div>
                                                             <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                 <div class="tableContent table-responsive">
                                                                     <RadzenDataGrid @ref="gridLookupHistoryVM"
                                                                                     EmptyText="@translationState.Translate("No_record_found")"
                                                                                     Width="100%"
                                                                                     AllowFiltering="false"
                                                                                     FilterMode="Radzen.FilterMode.Advanced"
                                                                                     AllowPaging="true"
                                                                                     AllowSorting="true"
                                                                                     Data="@LookupHistoryVM?.Where(LookupsHistory => searchHistory == null ||
																													(LookupsHistory.NameEn?.Contains(searchHistory, StringComparison.OrdinalIgnoreCase) == true) ||
																													(LookupsHistory.NameAr?.Contains(searchHistory, StringComparison.OrdinalIgnoreCase) == true))"
                                                                                     TItem="LookupsHistory"
                                                                                     PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                                     ShowPagingSummary="true"
                                                                                     SelectionMode="DataGridSelectionMode.Multiple"
                                                                                     Count="@(LookupHistoryVM != null ? LookupHistoryVM.Count() : 0)"
                                                                                     PageSize="@loginState.PageSize"
                                                                                     PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                                                     PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                                                     PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")">
                                                                         <Columns>
                                                                             <RadzenDataGridColumn TItem="LookupsHistory" Width="155px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "NameEn" : "NameAr") Title="@translationState.Translate(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")">
                                                                                 <Template Context="historydata">
                                                                                     <div>
                                                                                         @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @historydata.NameEn + "(" + @historydata.NameAr + ")" : @historydata.NameAr + "(" + @historydata.NameEn + ")")
                                                                                    </div>
                                                                                </Template>
                                                                            </RadzenDataGridColumn>
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "UserFullNameEn" : "UserFullNameAr") Title="@translationState.Translate("Modified_By")" />
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="140px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Modified_Date")" />
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="150px" Property="StatusId" Title="@translationState.Translate("Remarks")">
                                                                                <Template Context="lookupshistory">
                                                                                    <RadzenLabel Text='@(lookupshistory.StatusId == 1 ? translationState.Translate("Added") : translationState.Translate("Updated"))'></RadzenLabel>
                                                                                </Template>
                                                                            </RadzenDataGridColumn>
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="110px" Property="IsActive" Title="@translationState.Translate("Active")" TextAlign="TextAlign.Center" Sortable="false" Filterable="false">
                                                                                <Template Context="data">
                                                                                    <RadzenCheckBox TriState="false" TValue="bool" Value="@data.IsActive" Disabled />
                                                                                 </Template>
                                                                             </RadzenDataGridColumn>
                                                                         </Columns>
                                                                     </RadzenDataGrid>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </RadzenCard>
                                                 </Template>
                                                 <Columns>
                                                     <RadzenDataGridColumn TItem="LegalPublicationSourceNameVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center">
                                                         <Template Context="UserRowClick">
                                                             <RadzenButton ButtonStyle="ButtonStyle.Info"
                                                                           Class="editIcon"
                                                                           Title="@translationState.Translate("Edit")"
                                                                           Icon="mode"
                                                                           Size="ButtonSize.Small"
                                                                           Click="@((args) => EditItem(UserRowClick))"
                                                             @onclick:stopPropagation="true" />
                                                             <RadzenButton ButtonStyle="ButtonStyle.Danger"
                                                                           Class="Delete"
                                                                           Title="@translationState.Translate("Delete")"
                                                                           Icon="delete_outline"
                                                                           Size="ButtonSize.Small"
                                                                           Click="@((args) => DeleteItem(UserRowClick))"
                                                             @onclick:stopPropagation="true" />
                                                         </Template>
                                                     </RadzenDataGridColumn>
                                                     <RadzenDataGridColumn TItem="LegalPublicationSourceNameVM" Width="155px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar") Title="@translationState.Translate(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")">
                                                         <Template Context="data">
                                                             <div>
                                                                 @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @data.Name_En + "(" + @data.Name_Ar + ")" : @data.Name_Ar + "(" + @data.Name_En + ")")
                                                            </div>
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="LegalPublicationSourceNameVM" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "UserFullNameEn" : "UserFullNameAr") Title="@translationState.Translate("Created_By")" />
                                                    <RadzenDataGridColumn TItem="LegalPublicationSourceNameVM" Width="140px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Created_Date")" />
                                                    <RadzenDataGridColumn TItem="LegalPublicationSourceNameVM" Width="110px" Property="IsActive" Title="@translationState.Translate("Active")" TextAlign="TextAlign.Center" Sortable=" false" Filterable="false">
                                                        <Template Context="data">
                                                            @if (data.IsActive != true)
                                                            {
                                                                <RadzenCheckBox TriState="false" TValue="bool" Value="false" Change=@((args) =>GridActiveButtonClick1(data)) />
                                                            }
                                                            else
                                                            {

                                                                <RadzenCheckBox TriState="false" TValue="bool" Value="true" Change=@((args) =>GridActiveButtonClick1(data)) />
                                                            }
                                                        </Template>
                                                    </RadzenDataGridColumn>


                                                </Columns>
                                            </RadzenDataGrid>
                                        </div>
                                    </div>
                                </RadzenAccordionItem>
                                <RadzenAccordionItem Text="@translationState.Translate("Legislation_Type")">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <RadzenTextBox Placeholder="@translationState.Translate("Grid_Search")" style="display: block; margin-bottom: 10px; width: 100%"
                                            Name="Textbox0"
                                            @oninput="@(async(args) => {await grid0.GoToPage(0); await OnSearchInputlegallegislationType($"{args.Value}");})" />
                                         </div>
                                        <div class="col-md-8 text-right-custom-gridcolumn">
                                            <RadzenButton Icon="add_circle" style="margin-bottom: 10px" Text="@translationState.Translate("Add")" Click="@Button0Click" />
                                        </div>
                                    </div>
                                    <div class="row tableContent pb-3">
                                        <div class="col-md-12">
                                            <RadzenDataGrid @ref="grid0"
                                                            FilterMode="Radzen.FilterMode.Advanced"
                                                            AllowFiltering="false"
                                                            AllowPaging="true"
                                                            AllowSorting="true"
                                                            PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                            PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                            EmptyText="@translationState.Translate("No_record_found")"
                                                            Data="@FilteredlegalLegislationType"
                                                            TItem="LegallegislationtypesVM"
                                                            RowExpand="@ExpandDraftVersionslegalLegislationType"
                                                            ExpandMode="DataGridExpandMode.Single"
                                                            ShowPagingSummary="true"
                                                            Count="@(FilteredlegalLegislationType != null ? FilteredlegalLegislationType.Count() : 0)"
                                                            PageSize="@loginState.PageSize"
                                                            PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                            PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")">
                                                <Template Context="legalLegislationType">
                                                    <RadzenCard class="bg-light">
                                                        <div class="row pb-2">
                                                            <div class="col-md-4">
                                                                @translationState.Translate("Legislation_Type_History")
                                                                <div class="divider"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <RadzenTextBox Trim Placeholder="@translationState.Translate("Grid_Search")" style="display: block; margin-bottom: 10px; width: 100%"
                                                                                Name="Textbox0"
                                                                                @oninput="@(async(args) => {searchHistory = $"{args.Value}";await gridLookupHistoryVM.GoToPage(0);})">
                                                                 </RadzenTextBox>
                                                             </div>
                                                         </div>
                                                         <div class="row pb-2">

                                                             <div class="col-md-12 tableAdditionButton d-flex justify-content-end px-0 pb-3">
                                                             </div>
                                                             <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                 <div class="tableContent table-responsive">
                                                                     <RadzenDataGrid @ref="gridLookupHistoryVM"
                                                                                     EmptyText="@translationState.Translate("No_record_found")"
                                                                                     Width="100%"
                                                                                     AllowFiltering="false"
                                                                                     FilterMode="Radzen.FilterMode.Advanced"
                                                                                     AllowPaging="true"
                                                                                     AllowSorting="true"
                                                                                     Data="@LookupHistoryVM?.Where(LookupsHistory => searchHistory == null ||
                                                                                                            (LookupsHistory.NameEn?.Contains(searchHistory, StringComparison.OrdinalIgnoreCase) == true) ||
                                                                                                            (LookupsHistory.NameAr?.Contains(searchHistory, StringComparison.OrdinalIgnoreCase) == true))"
                                                                                     TItem="LookupsHistory"
                                                                                     PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                                     ShowPagingSummary="true"
                                                                                     SelectionMode="DataGridSelectionMode.Multiple"
                                                                                     Count="@(LookupHistoryVM != null ? LookupHistoryVM.Count() : 0)"
                                                                                     PageSize="@loginState.PageSize"
                                                                                     PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                                                     PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                                                     PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")">
                                                                         <Columns>
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="155px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "NameEn" : "NameAr") Title="@translationState.Translate(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "NameEn" : "NameAr")">
                                                                                 <Template Context="historydata">
                                                                                     <div>
                                                                                         @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @historydata.NameEn + "(" + @historydata.NameAr + ")" : @historydata.NameAr + "(" + @historydata.NameEn + ")")
                                                                                    </div>
                                                                                </Template>
                                                                            </RadzenDataGridColumn>
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="140px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Modified_Date")" />
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "UserFullNameEn" : "UserFullNameAr") Title="@translationState.Translate("Modified_By")" />
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="150px" Property="StatusId" Title="@translationState.Translate("Remarks")">
                                                                                <Template Context="lookupshistory">
                                                                                    <RadzenLabel Text='@(lookupshistory.StatusId == 1 ? translationState.Translate("Added") : translationState.Translate("Updated"))'></RadzenLabel>
                                                                                </Template>
                                                                            </RadzenDataGridColumn>
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="110px" Property="IsActive" Title="@translationState.Translate("Active")" TextAlign="TextAlign.Center" Sortable=" false" Filterable="false">
                                                                                <Template Context="data">
                                                                                    <RadzenCheckBox TriState="false" TValue="bool" Value="@data.IsActive" Disabled />
                                                                                 </Template>
                                                                             </RadzenDataGridColumn>


                                                                         </Columns>
                                                                     </RadzenDataGrid>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </RadzenCard>
                                                 </Template>
                                                 <Columns>
                                                     <RadzenDataGridColumn TItem="LegallegislationtypesVM" Width="90px" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                                         <Template Context="UserRowClick">

                                                             <RadzenButton ButtonStyle="ButtonStyle.Info"
                                                                           Class="editIcon"
                                                                           Title="@translationState.Translate("Edit")"
                                                                           Icon="mode"
                                                                           Size="ButtonSize.Small"
                                                                           Click="@((args) =>GridEditButtonClick(UserRowClick))"
                                                             @onclick:stopPropagation="true" />
                                                             <RadzenButton ButtonStyle="ButtonStyle.Danger"
                                                                           Class="Delete"
                                                                           Title="@translationState.Translate("Delete")"
                                                                           Icon="delete_outline"
                                                                           Size="ButtonSize.Small"
                                                                           Click="@((args) =>GridDeleteButtonClick(UserRowClick))"
                                                             @onclick:stopPropagation="true" />

                                                         </Template>
                                                     </RadzenDataGridColumn>
                                                     <RadzenDataGridColumn TItem="LegallegislationtypesVM" Width="155px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar") Title="@translationState.Translate(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")">
                                                         <Template Context="data">
                                                             <div>
                                                                 @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @data.Name_En + "(" + @data.Name_Ar + ")" : @data.Name_Ar + "(" + @data.Name_En + ")")
                                                            </div>
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="LegallegislationtypesVM" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "UserFullNameEn" : "UserFullNameAr") Title="@translationState.Translate("Created_By")" />
                                                    <RadzenDataGridColumn TItem="LegallegislationtypesVM" Width="140px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Created_Date")" />
                                                    <RadzenDataGridColumn TItem="LegallegislationtypesVM" Width="110px" Property="IsActive" TextAlign="TextAlign.Center" Title="@translationState.Translate("Active")" Sortable="false" Filterable="false">
                                                        <Template Context="data">
                                                            @if (data.IsActive == true)
                                                            {
                                                                <RadzenCheckBox TriState="false" TValue="bool" Value="true" Change=@((args) =>GridActiveButtonClick(data)) />
                                                            }
                                                            else
                                                            {
                                                                <RadzenCheckBox TriState="false" TValue="bool" Value="false" Change=@((args) =>GridActiveButtonClick(data)) />

                                                            }
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                </Columns>
                                            </RadzenDataGrid>

                                        </div>
                                    </div>
                                </RadzenAccordionItem>
                            </Items>
                        </RadzenAccordion>
                    </div>
                </div>
            </RadzenCard>
        </ChildContent>
    </RadzenContent>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}