@page "/UMS-Enums"
@using FATWA_DOMAIN.Models
@using FATWA_DOMAIN.Models.CaseManagment;
@using static FATWA_DOMAIN.Enums.GeneralEnums
@using FATWA_DOMAIN.Models.ViewModel.AdminVM.Lookups;
@using FATWA_DOMAIN.Models.ViewModel.AdminVM.UserManagement
@layout MainLayout
<PageTitle>@translationState.Translate("UMS_Fixed_Enums")</PageTitle>
@if (loginState.ClaimList.Any(x => x.Value == "Admin.Permissions.Menu.UMS.Configuration"))
{
<div class="row breadcrumbBar justify-content-center align-items-center pb-3">
    <div class="col-md-6">
        <div class="row no-gutters">
            <RadzenBreadCrumb>
                <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                <RadzenBreadCrumbItem Text="@translationState.Translate("UMS_Fixed_Enums")" />
            </RadzenBreadCrumb>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <div class="backtoDashboard">
            <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                          Size="ButtonSize.Small"
                          title="@translationState.Translate("Go_Back_HomeScreen")"
                          class="returnBtn"
                          Icon="home" Click="@GoBackHomeScreen" />
        </div>
    </div>
</div>
<div class="row TitleBar justify-content-left align-items-center py-4 pt-5">
    <div class="col-md-6">
        <div class="row no-gutters">
            <RadzenHeading Size="H1" class="pageTitle" Text="@(translationState.Translate("UMS_Fixed_Enums"))" />
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end ">
    </div>
</div>
<RadzenContent Container="main">
    <ChildContent>
        <RadzenCard Style="padding: 30px; border-radius: 8px;">
            <div class="row">
                <div class="col-lg-12">
                    <RadzenAccordion Multiple="true">
                        <Items>
                            <RadzenAccordionItem Selected="true" Text="@translationState.Translate("Gender")">
                                <div class="row">
                                    <div class="col-md-4">
                                        <RadzenTextBox Placeholder="@translationState.Translate("Grid_Search")" style="display: block; margin-bottom: 10px; width: 100%" 
                                        Name="Textbox0"
                                            @oninput="@(async(args) => {await GenderGrid.GoToPage(0); await OnSearchEpGender($"{args.Value}");})" />
                                     </div>
                                </div>
                                    <div class="row tableContent pb-3">
                                    <div class="col-md-12">
                                        <RadzenDataGrid @ref="GenderGrid"
                                                        FilterMode="Radzen.FilterMode.Advanced"
                                                        AllowPaging="true"
                                                        AllowSorting="true"
                                                        AllowFiltering="false"
                                                        Data="@FilteredGenderlist"
                                                        TItem="EpGenderVM"
                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                        ShowPagingSummary="true"
                                                        Count="@(FilteredGenderlist != null ? FilteredGenderlist.Count() : 0)"
                                                        PageSize="@loginState.PageSize"
                                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                        PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="EpGenderVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center">
                                                    <Template Context="UserRowClick">
                                                        <RadzenButton ButtonStyle="ButtonStyle.Info"
                                                                      Class="editIcon"
                                                                      Title="@translationState.Translate("Edit")"
                                                                      Icon="mode"
                                                                      Size="ButtonSize.Small"
                                                                      Click="@((args) => EditGender(UserRowClick))"
                                                        @onclick:stopPropagation="true" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="EpGenderVM" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar") Title="@translationState.Translate(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")">
                                                    <Template Context="data">
                                                        <div>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? @data.Name_En + "(" + @data.Name_Ar + ")" : @data.Name_Ar + "(" + @data.Name_En + ")")
                                                        </div>
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="EpGenderVM" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ?"UserFullNameEn" : "UserFullNameAr") Title="@translationState.Translate("Created_By")" />
                                                <RadzenDataGridColumn TItem="EpGenderVM" Width="140px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Created_Date")" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                </div>
                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>
                    <RadzenAccordion Multiple="true">
                        <Items>
                            <RadzenAccordionItem Text="@translationState.Translate("Sector_Type")">
                                <div class="row">
                                    <div class="col-md-4">
                                        <RadzenTextBox Placeholder="@translationState.Translate("Grid_Search")" style="display: block; margin-bottom: 10px; width: 100%"
                                        Name="Textbox0"
                                            @oninput="@(async(args) => {await SectorTypeGrid.GoToPage(0);await OnSearchInputSectorType($"{args.Value}");})" />
                                     </div>
                                </div>
                                    <div class="row tableContent pb-3">
                                    <div class="col-md-12">
                                        <RadzenDataGrid @ref="SectorTypeGrid"
                                                        FilterMode="Radzen.FilterMode.Advanced"
                                                        AllowPaging="true"
                                                        AllowSorting="true"
                                                        AllowFiltering="false"
                                                        Data="@FilteredSectorTypeLkp"
                                                        TItem="SectorTypeVM"
                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                        ShowPagingSummary="true"
                                                            Count="@(FilteredSectorTypeLkp != null ? FilteredSectorTypeLkp.Count() : 0)"
                                                        PageSize="@loginState.PageSize"
                                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                        PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                        RowExpand="@GetSectorTypeLookupHistory">

                                            <Template Context="SectorTypeG2GLookup">
                                                <RadzenCard class="bg-light">
                                                    <div class="row pb-2">
                                                        <div class="col-md-4">
                                                            @translationState.Translate("Sector_Type_History")
                                                            <div class="divider"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <RadzenTextBox Trim Placeholder="@translationState.Translate("Grid_Search")" style="display: block; margin-bottom: 10px; width: 100%"
                                                                            Name="Textbox0"
                                                                            @oninput="@(async(args) => {searchHistory = $"{args.Value}";await gridLookupHistoryVM.GoToPage(0);})">
                                                             </RadzenTextBox>
                                                         </div>
                                                     </div>
                                                     <div class="row pb-2">

                                                         <div class="col-md-12 tableAdditionButton d-flex justify-content-end px-0 pb-3">
                                                         </div>
                                                         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                             <div class="tableContent table-responsive">
                                                                 <RadzenDataGrid @ref="gridLookupHistoryVM"
                                                                                 EmptyText="@translationState.Translate("No_record_found")"
                                                                                 Width="100%"
                                                                                 AllowFiltering="false"
                                                                                 FilterMode="Radzen.FilterMode.Advanced"
                                                                                 AllowPaging="true"
                                                                                 AllowSorting="true"
                                                                                 Data="@LookupHistoryVM?.Where(LookupsHistory => searchHistory == null
                                                                                    ||(LookupsHistory.NameEn?.Contains(searchHistory, StringComparison.OrdinalIgnoreCase) == true)
                                                                                    ||(LookupsHistory.NameAr?.Contains(searchHistory, StringComparison.OrdinalIgnoreCase) == true))"
                                                                                 TItem="LookupsHistory"
                                                                                 PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                                 ShowPagingSummary="true"
                                                                                 SelectionMode="DataGridSelectionMode.Multiple"
                                                                                 Count="@(LookupHistoryVM != null ? LookupHistoryVM.Count() : 0)"
                                                                                 PageSize="@loginState.PageSize"
                                                                                 PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                                                 PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                                                 PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")">
                                                                     <Columns>
                                                                         @if (Thread.CurrentThread.CurrentUICulture.Name == "en-US")
                                                                        {
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="155px" Property="NameEn" Title="@translationState.Translate("Name_En")">
                                                                                <Template Context="historydata">
                                                                                    <div>
                                                                                        @historydata.NameEn ( @historydata.NameAr )
                                                                                    </div>
                                                                                </Template>
                                                                            </RadzenDataGridColumn>
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="140px" Property="UserFullNameEn" Title="@translationState.Translate("Modified_By")" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="155px" Property="NameAr" Title="@translationState.Translate("Name_Ar")">
                                                                                <Template Context="historydata">
                                                                                    <div>
                                                                                        @historydata.NameAr ( @historydata.NameEn )
                                                                                    </div>
                                                                                </Template>
                                                                            </RadzenDataGridColumn>
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="140px" Property="UserFullNameAr" Title="@translationState.Translate("Modified_By")" />
                                                                        }
                                                                        @*  <RadzenDataGridColumn TItem="LookupsHistory" Width="140px" Property="CreatedBy" Title="@translationState.Translate("Modified_By")" /> *@
                                                                        <RadzenDataGridColumn TItem="LookupsHistory" Width="140px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Modified_Date")" />
                                                                        @if (Thread.CurrentThread.CurrentUICulture.Name == "en-US")
                                                                        {
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="150px" Property="StatusId" Title="@translationState.Translate("Remarks")">
                                                                                <Template Context="lookupshistory">
                                                                                    <RadzenLabel Text='@(lookupshistory.StatusId == 1 ? translationState.Translate("Added") : translationState.Translate("Updated"))'></RadzenLabel>
                                                                                </Template>
                                                                            </RadzenDataGridColumn>
                                                                        }
                                                                        else
                                                                        {
                                                                            <RadzenDataGridColumn TItem="LookupsHistory" Width="150px" Property="StatusId" Title="@translationState.Translate("Remarks")">
                                                                                <Template Context="lookupshistory">
                                                                                    <RadzenLabel Text='@(lookupshistory.StatusId == 1 ? translationState.Translate("Added") : translationState.Translate("Updated"))'></RadzenLabel>
                                                                                </Template>
                                                                            </RadzenDataGridColumn>
                                                                        }
                                                                        <RadzenDataGridColumn TItem="LookupsHistory" Width="110px" Property="IsActive" Title="@translationState.Translate("Active")" Sortable="false" Filterable="false">
                                                                                <Template Context="data">
                                                                                    <RadzenCheckBox TriState="false" TValue="bool" Value="@data.IsActive" Disabled />
                                                                                 </Template>
                                                                        </RadzenDataGridColumn>


                                                                    </Columns>
                                                                </RadzenDataGrid>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </RadzenCard>
                                            </Template>
                                            <Columns>
                                                <RadzenDataGridColumn TItem="SectorTypeVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center">
                                                    <Template Context="UserRowClick">
                                                        <RadzenButton ButtonStyle="ButtonStyle.Info"
                                                                      Class="editIcon"
                                                                      title="@translationState.Translate("Edit")"
                                                                      Icon="mode"
                                                                      Size="ButtonSize.Small"
                                                                      Click="@((args) => EditSectorType(UserRowClick))"
                                                        @onclick:stopPropagation="true" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="SectorTypeVM" Width="140px" Property="Id" Title="@translationState.Translate("Enums_Value")" />
                                                <RadzenDataGridColumn TItem="SectorTypeVM" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar") Title="@translationState.Translate(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")" />
                                                    <RadzenDataGridColumn TItem="SectorTypeVM" Width="140px" Title="@translationState.Translate("Roles")">
                                                    <Template Context="Templates">
                                                        <a href="#" @onclick="@(() => ExpandSectorRoles(Templates))" @onclick:preventDefault>@translationState.Translate("Roles")</a>
                                                    </Template>
                                                </RadzenDataGridColumn>

                                                <RadzenDataGridColumn TItem="SectorTypeVM" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "UserFullNameEn" : "UserFullNameAr") Title="@translationState.Translate("Created_By")" />
                                                <RadzenDataGridColumn TItem="SectorTypeVM" Width="140px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Created_Date")" />

                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                </div>
                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>
                </div>
            </div>
        </RadzenCard>
    </ChildContent>
</RadzenContent>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}
@code {
    async Task ExpandSectorRoles(SectorTypeVM args)
    {
        await GetSectorRolesBySectorID(args.Id);
        var title = (Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? args.Name_En : args.Name_Ar);
        await dialogService.OpenAsync(@translationState.Translate("Sector") + ": " + title, ds =>
    @<div class="col-12 p-2">
        <RadzenGrid Data="@sectorRolesList"
                    TItem="SectorRolesVM"
                    AllowPaging="true"
                    AllowSorting="true"
                    EmptyText="@translationState.Translate("No_record_found")"
                    PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                    PageSizeText="@translationState.Translate("Items_Per_Page")"
                    PageSizeOptions="@systemSettingState.Page_Size_Options"
                    ShowPagingSummary="true"
                    Count="@(sectorRolesList != null ? sectorRolesList.Count() : 0)">
            <Columns>
                <RadzenGridColumn TItem="SectorRolesVM" Width="40px" Title="@translationState.Translate("Name")"
                                  Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "RolesNameEn" : "RolesNameAr")>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>,
        new DialogOptions()
        {
            Width = "60% !important",
            CloseDialogOnOverlayClick = false,
        });
    }

}