@page "/add-llslegalprinciple/{JudmentDocumentId}/{selectedTabIndex}"
@page "/edit-llslegalprinciplecontent/{PrincipleContentId}"
@layout MainLayout
@using FATWA_DOMAIN.Models.LLSLegalPrinciple;
@using FATWA_DOMAIN.Models.ViewModel.LLSLegalPrinciple;
@using Syncfusion.Blazor.PdfViewer
@using Syncfusion.Blazor.PdfViewerServer
@using Syncfusion.Blazor.Navigations
@using static FATWA_DOMAIN.Enums.CaseManagementEnums;
@using static FATWA_DOMAIN.Enums.LegalPrinciple.LegalPrincipleEnum;

<!--<History Author = "Umer Zaman" Date="2024-04-18" Version="1.0" Branch="master"> Adding legal principle with judments</History>-->
@if ((loginState.ClaimList.Where(x => x.Value == "Permissions.LPS.Principles.Create").Count() > 0 && PrincipleContentId == null) || (loginState.ClaimList.Where(x => x.Value == "Permissions.LPS.Principles.Edit").Count() > 0 && PrincipleContentId != null))
{
	<RadzenContent Container="main">
		<ChildContent>
			<div class="row breadcrumbBar justify-content-center align-items-center pb-3">
				<div class="col-md-6">
					<RadzenBreadCrumb>
						<RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
						@if (PrincipleContentId != null)
						{
							<RadzenBreadCrumbItem onclick="@RedirectBack" Text="@translationState.Translate("Principle_Hierarchy")" />
							<RadzenBreadCrumbItem Text="@translationState.Translate("Edit_Principle_Content")" />
						}
						else
						{
							<RadzenBreadCrumbItem onclick="@RedirectBack" Text="@translationState.Translate("legal-principle")" />
							<RadzenBreadCrumbItem Text="@translationState.Translate("Add_Principle")" />
						}
					</RadzenBreadCrumb>
				</div>
				<div class="col-md-6 d-flex justify-content-end">
					<div class="backtoDashboard"> 

						<RadzenButton ButtonStyle="ButtonStyle.Secondary"
									  Size="ButtonSize.Small"
									  title="@translationState.Translate("Go_Back_Dashboard")"
									  class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
						<RadzenButton ButtonStyle="ButtonStyle.Secondary"
									  Size="ButtonSize.Small"
									  title="@translationState.Translate("Go_Back_HomeScreen")"
									  class="returnBtn"
									  Icon="home" Click="@GoBackHomeScreen" />
					</div>
				</div>
			</div>

			<div class="row TitleBar justify-content-left align-items-center py-4">
				<div class="col-md-6">
					<div class="row no-gutters">
						@if (PrincipleContentId != null)
						{
							<RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Edit_Principle_Content")"></RadzenHeading>
						}
						else
						{
							<RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Add_Principle")"></RadzenHeading>
						}
					</div>
				</div>
				<div class="col-md-6 d-flex justify-content-end">
				</div>
			</div>

			<div class="row justify-content-center mainContentBlock no-gutters bg-light p-0 py-4" style="overflow:scroll">
				<div class="col-md-6 save-case-request-col k-overflow-y-scroll">
					@if (ShowWizard)
					{
						<TelerikWizard @bind-Value="@Value" OnFinish="@OnWizardFinish">
							<WizardSteps>

								<WizardStep ImageUrl="@filePath1" IconClass="sdads" Label="@translationState.Translate("Principle_Basic_Detail")" OnChange="@OnBasicDetailsStepChange">
									<Content>
										<TelerikForm Model="@validations"
											 @ref="@BasicSectionForm">
											<FormValidation>
												<DataAnnotationsValidator></DataAnnotationsValidator>
											</FormValidation>
											<FormItems>
												<RadzenFieldset>
													<ChildContent>
														<div class="row pb-2">
															 <div class="col-12 col-sm-6 col-md-6">
																<div class="k-form-field">
																	<div class="k-form-field-wrap">
																		<label for="sub" class="k-label k-form-label">@translationState.Translate("Start_Date") *</label>
																		<div class="k-form-field-wrap">
																			<RadzenDatePicker DateFormat="dd/MM/yyyy"
																					  @bind-Value="@lLSLegalPrinciplesContentVM.StartDate" Class="@validations.StartDate" />
																		</div>
																	</div>
																</div>
															</div> 
														 	<div class="col-12 col-sm-6 col-md-6">
																<div class="k-form-field">
																	<div class="k-form-field-wrap">
																		<label for="sub" class="k-label k-form-label">@translationState.Translate("End_Date")</label>
																		<div class="k-form-field-wrap">
																			<RadzenDatePicker DateFormat="dd/MM/yyyy"
																							  @bind-Value="@lLSLegalPrinciplesContentVM.EndDate" Min="lLSLegalPrinciplesContentVM.StartDate" />
																		</div>
																	</div>
																</div>
															</div> 
														</div>
														 <div class="row">
															<div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
																<div class="k-form-field">
																	<div class="k-form-field-wrap">
																		<label for="sub" class="k-label k-form-label">@translationState.Translate("The_Principle") *</label>
																		<div class="k-form-field-wrap">
																			<RadzenHtmlEditor @bind-Value=@(lLSLegalPrinciplesContentVM.PrincipleContent) Class="@validations.PrincipleContent" style="height: 300px; margin-bottom: 1rem;">
																		</RadzenHtmlEditor>
																		</div>
																	</div>
																</div>
															</div>
															@*<div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
																<RadzenFieldset AllowCollapse="false" Style=" margin: 40px auto;">
																	<ChildContent>
																		<div class="row pb-2">
																			<div class="col-md-6">
																				<h2 class="formHeading">@translationState.Translate("The_Principle") *</h2>
																				<div class="divider"></div>
																			</div>
																		</div>
																		<RadzenHtmlEditor @bind-Value=@(lLSLegalPrinciplesContentVM.PrincipleContent) style="height: 250px; margin-bottom: 1rem;">
																		</RadzenHtmlEditor>
																	</ChildContent>
																</RadzenFieldset>
															</div>*@
															<div class="col-12 col-sm-3 col-md-3">
																<div class="k-form-field">
																	<div class="k-form-field-wrap">
																		<label for="sub" class="k-label k-form-label">@translationState.Translate("Page_Number") *</label>
																		<div class="k-form-field-wrap">
																			<RadzenNumeric Placeholder="@translationState.Translate("Page_Number")" Min="1" Name="Number" Class="@validations.PageNumber"
																			onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" @bind-Value="@(lLSLegalPrinciplesContentVM.PageNumber)" />
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
																<div class="form-group">
																	@if (PrincipleContentId != null)
																	{
																		<RadzenButton ButtonStyle="ButtonStyle.Light" Icon="add" Text="@translationState.Translate("Update_Principle_Content_To_Grid")" Click="@( () => AddPrincipleContentIntoGrid() )" Disabled="@(lLSLegalPrinciplesContentVM.PrincipleContentId != Guid.Empty ? false : true)" />
																	}
																	else
																	{
																		<RadzenButton ButtonStyle="ButtonStyle.Light" Icon="add" Text="@translationState.Translate("Add_Principle_Content_To_Grid")" Click="@( () => AddPrincipleContentIntoGrid() )" />
																	}
																</div>
															</div>
														</div> 
														<div class="row tableContent table-responsive no-gutters pb-3">
															<RadzenDataGrid AllowFiltering="false" @ref="gridRelation"
																	EmptyText="@translationState.Translate("No_record_found")"
																	AllowPaging="true"
																	AllowSorting="true"
																	Data="@lLSLegalPrinciplesContentVMs"
																	TItem="LLSLegalPrinciplesContentVM"
																	PageSize="@systemSettingState.Grid_Pagination"
																	PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
																	PageSizeText="@translationState.Translate("Items_Per_Page")"
																	PageSizeOptions="@systemSettingState.Page_Size_Options"
																	ShowPagingSummary="true"
																	ColumnWidth="280px">
																<Columns>
																	<RadzenDataGridColumn TItem="LLSLegalPrinciplesContentVM" Title="@translationState.Translate("Actions")" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center">
																		<Template Context="rowItem">
																			<RadzenButton ButtonStyle="ButtonStyle.Secondary"
																				  Class="editIcon"
																				  Icon="mode"
																				  Title="@translationState.Translate("Edit")"
																				  Size="ButtonSize.Small"
																				  Click="@((args) => EditGridContent(rowItem))"
																				  @onclick:stopPropagation="true" />
																				  @if(rowItem.PageNumber != 0)
																				  {
																					  <RadzenButton ButtonStyle="ButtonStyle.Danger"
																						  Class="deleteIcon"
																						  Title="@translationState.Translate("delete")"
																						  Icon="delete_outline"
																						  Size="ButtonSize.Small"
																						  Click="@((args) => DeleteGridContent(rowItem))"
																						  @onclick:stopPropagation="true" />
																				  }
																		</Template>
																	</RadzenDataGridColumn>
																	<RadzenDataGridColumn TItem="LLSLegalPrinciplesContentVM" Property="PrincipleContent" Title="@translationState.Translate("Principle_Content")" />
																	<RadzenDataGridColumn TItem="LLSLegalPrinciplesContentVM" Property="PageNumber" Title="@translationState.Translate("Page_Number")" Width="120px" />
																</Columns>
															</RadzenDataGrid>
														</div>
													</ChildContent>
												</RadzenFieldset>
											</FormItems>
											<FormButtons></FormButtons>
										</TelerikForm>
									</Content>
								</WizardStep>

								<WizardStep ImageUrl="@filePath3" Label="@translationState.Translate("Principle_Category_Section")">
									<Content>
										<TelerikForm Model="@validations" @ref="@Notes_Form">
											<FormValidation>
												<DataAnnotationsValidator></DataAnnotationsValidator>
											</FormValidation>
											<FormItems>
												<RadzenFieldset>
													<ChildContent>
														<div class="row">
															<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
																<div class="form-group">
																	<h2 class="formHeading">@translationState.Translate("Choose_category")</h2>
																	<div class="divider"></div>
																</div>
															</div>
														</div>
														<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
															<div>
																<SfTreeView @ref="tree"
																	TValue="LLSLegalPrincipleCategoriesVM"
																	ShowCheckBox="true"
																	AutoCheck="false"
																	AllowEditing="false"
																	@bind-CheckedNodes="@LegalPrincipleCategoryList"
																	@bind-SelectedNodes="@selectedNodes">
																	<TreeViewFieldsSettings DataSource="@lLSLegalPrincipleCategoryDetails"
																					Id="CategoryId"
																					ParentID="ParentId"
																					Text="Name"
																					HasChildren="HasSubChildren"
																					Expanded="Expanded">
																	</TreeViewFieldsSettings>
																	<TreeViewEvents TValue="LLSLegalPrincipleCategoriesVM" NodeEdited="NodeEdited" NodeSelected="OnSelect" NodeClicked="nodeClicked"></TreeViewEvents>
																	<SfContextMenu TValue="MenuItem" @ref="menu" Target="#context" Items="@MenuItems">
																		<MenuEvents TValue="MenuItem" ItemSelected="MenuSelect" OnOpen="BeforeContextOpen"></MenuEvents>
																	</SfContextMenu>
																	<TreeViewTemplates TValue="LLSLegalPrincipleCategoriesVM">
																		<NodeTemplate>
																			<div class="treeviewdiv">
																				<div class="nodetext" style="margin-right:10px !important;">
																					<span class="treeName">@((context as LLSLegalPrincipleCategoriesVM).Name)</span>
																				</div>
																				<RadzenButton ButtonStyle="ButtonStyle.Secondary"
																					  id="context"
																					  Icon="keyboard_double_arrow_down"
																					  Size="ButtonSize.Small"
																					  Style="background-color: #000000 !important; padding: 2.5px 2.5px !important; border-radius: 0px !important; "
																					  Click="@(OpenContextMenu)" />
																			</div>
																		</NodeTemplate>
																	</TreeViewTemplates>
																</SfTreeView>
															</div>
														</div>
													</ChildContent>
												</RadzenFieldset>
											</FormItems>
											<FormButtons></FormButtons>
										</TelerikForm>
									</Content>
								</WizardStep>

							</WizardSteps>
							<WizardButtons>
								@{
									var index = context;
									if (index == 0)
									{
										<TelerikButton Class="nextBtn" ButtonType="Telerik.Blazor.ButtonType.Button" ThemeColor="success" OnClick="@( () => OnBasicDetailsStepChangeCustom(index) )">@translationState.Translate("Next")</TelerikButton>
										<TelerikButton Class="cancleBtn" ButtonType="Telerik.Blazor.ButtonType.Button" OnClick="@CancelLegalPrincipleForm">@translationState.Translate("Cancel")</TelerikButton>

									}
									if (index > 0)
									{
										if (index == 1) // basic detail part
										{
											<TelerikButton Class="prevBtn" OnClick="@(() => Value -= 1)">@translationState.Translate("Previous")</TelerikButton>
											<TelerikButton Class="submitBtn" ButtonType="Telerik.Blazor.ButtonType.Button" ThemeColor="success" OnClick="@FormSubmit">@translationState.Translate("Submit")</TelerikButton>
											<TelerikButton Class="cancleBtn" ButtonType="Telerik.Blazor.ButtonType.Button" OnClick="@CancelLegalPrincipleForm">@translationState.Translate("Cancel")</TelerikButton>
										}
									}
								}
							</WizardButtons>
						</TelerikWizard>
					}
				</div>


				<div class="col-md-6 save-case-request-col">
					<SfPdfViewerServer EnableNavigationToolbar="false"
							ZoomMode="ZoomMode.FitToWidth"
							EnableRtl="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? false : true)" Locale="@(Thread.CurrentThread.CurrentUICulture.Name)"
							Width="100%"
							Height="1000px"
							ID="pdfviewer"
							DownloadFileName="@DownloadFileName"
							DocumentPath="@DocumentPath"
							@ref="@pdfViewer"
							ToolbarSettings="@ToolbarSettings"
							InteractionMode="InteractionMode.Pan">
						<PdfViewerEvents DocumentLoaded="DocumentLoaded"></PdfViewerEvents>
					</SfPdfViewerServer>
					@if (ShowSourceDocumentGrid)
					{
						<div class="row tableContent table-responsive no-gutters pb-3">
							@if(dataCommunicationService.selectedLegalPrincipleDocumentTab == (int)JudgementsTabsEnums.AppealJudgements
								|| dataCommunicationService.selectedLegalPrincipleDocumentTab == (int)JudgementsTabsEnums.SupremeJudgements)
							{
								<RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
												@ref="FileGrid"
												AllowFiltering="false"
												FilterMode="Radzen.FilterMode.Advanced"
												AllowPaging="true"
												AllowSorting="true"
												Data="@SeclectedJudmentsDocumentList"
												TItem="LLSLegalPrincipleDocumentVM"
												PageSize="@systemSettingState.Grid_Pagination"
												PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
												PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
												ShowPagingSummary="true"
												PageSizeText="@translationState.Translate("Items_Per_Page")"
												PageSizeOptions="@systemSettingState.Page_Size_Options"
												ColumnWidth="150px">
									<Columns>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleDocumentVM" Property="CANNumber" Title="@translationState.Translate("CAN_Number")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleDocumentVM" Property="CaseNumber" Title="@translationState.Translate("Case_Number")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleDocumentVM" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "CourtEn" : "CourtAr") Title="@translationState.Translate("Court")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleDocumentVM" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "ChamberNameEn" : "ChamberNameAr") Title="@translationState.Translate("Chamber_Name")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleDocumentVM" Property="ChamberNumber" Title="@translationState.Translate("Chamber_Number")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleDocumentVM" Property="JudgementDate" Title="@translationState.Translate("Judgement_Date")" FormatString="{0:dd/MM/yyyy}" />

									</Columns>
								</RadzenDataGrid>
							}
							else if (dataCommunicationService.selectedLegalPrincipleDocumentTab == (int)JudgementsTabsEnums.LegalAdvice)
							{
								<RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
												@ref="FileGridLegal"
												AllowFiltering="false"
												FilterMode="Radzen.FilterMode.Advanced"
												AllowPaging="true"
												AllowSorting="true"
												Data="@LegalAdviceSourceDocument"
												TItem="LLSLegalPrinciplLegalAdviceDocumentVM"
												PageSize="@systemSettingState.Grid_Pagination"
												PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
												PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
												ShowPagingSummary="true"
												PageSizeText="@translationState.Translate("Items_Per_Page")"
												PageSizeOptions="@systemSettingState.Page_Size_Options"
												ColumnWidth="150px">
									<Columns>
										<RadzenDataGridColumn TItem="LLSLegalPrinciplLegalAdviceDocumentVM" Property="CreatedDate" Title="@translationState.Translate("Created_Date")" FormatString="{0:dd/MM/yyyy}" />
										<RadzenDataGridColumn TItem="LLSLegalPrinciplLegalAdviceDocumentVM" Property="FinalDocFileName" Title="@translationState.Translate("File_Name")" />
										<RadzenDataGridColumn TItem="LLSLegalPrinciplLegalAdviceDocumentVM" Property="FileNumber" Title="@translationState.Translate("File_Number")" />
									</Columns>
								</RadzenDataGrid>
							}
							else if (dataCommunicationService.selectedLegalPrincipleDocumentTab == (int)JudgementsTabsEnums.KuwaitAlYawm)
							{
								<RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
												@ref="FileGridKuwait"
												AllowFiltering="false"
												FilterMode="Radzen.FilterMode.Advanced"
												AllowPaging="true"
												AllowSorting="true"
												Data="@KuwaitAlYawmDocument"
												TItem="LLSLegalPrincipleKuwaitAlYoumDocuments"
												PageSize="@systemSettingState.Grid_Pagination"
												PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
												PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
												ShowPagingSummary="true"
												PageSizeText="@translationState.Translate("Items_Per_Page")"
												PageSizeOptions="@systemSettingState.Page_Size_Options"
												ColumnWidth="150px">
									<Columns>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleKuwaitAlYoumDocuments" Property="DocumentTitle" Title="@translationState.Translate("Document_Title")"> </RadzenDataGridColumn>      
										<RadzenDataGridColumn TItem="LLSLegalPrincipleKuwaitAlYoumDocuments" Property="PublicationDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Publication_Date")"> </RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleKuwaitAlYoumDocuments" Property="PublicationDateHijri" Title="@translationState.Translate("Publication_Date_Hijri")" Width="180px"> </RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleKuwaitAlYoumDocuments" Property="EditionNumber" Title="@translationState.Translate("Edition_Number")"> </RadzenDataGridColumn>
									</Columns>
								</RadzenDataGrid>
							}
							else if (dataCommunicationService.selectedLegalPrincipleDocumentTab == (int)JudgementsTabsEnums.Others)
							{
								<RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
												@ref="FileGridOthers"
												AllowFiltering="false"
												FilterMode="Radzen.FilterMode.Advanced"
												AllowPaging="true"
												AllowSorting="true"
												Data="@OtherDocument"
												TItem="LLSLegalPrinciplOtherDocumentVM"
												PageSize="@systemSettingState.Grid_Pagination"
												PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
												PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
												ShowPagingSummary="true"
												PageSizeText="@translationState.Translate("Items_Per_Page")"
												PageSizeOptions="@systemSettingState.Page_Size_Options"
												ColumnWidth="150px">
									<Columns>
										<RadzenDataGridColumn TItem="LLSLegalPrinciplOtherDocumentVM" Property="DocumentDate" Title="@translationState.Translate("Document_Date")" FormatString="{0:dd/MM/yyyy}" />
										<RadzenDataGridColumn TItem="LLSLegalPrinciplOtherDocumentVM" Property="OtherAttachmentType" Title="@translationState.Translate("Document_Type")" />
									</Columns>
								</RadzenDataGrid>
							}
						</div>
					}
					@if (PrincipleContentId != null)
					{
						<div class="row no-gutters">
							<div class="col-md-6 pt-1 ">
								@switch (@SelectedGrid)
								{
									case (int)JudgementsTabsEnums.AppealJudgements:
										<RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Appeal_Judgement_Linked_Documents")" />
										break;
									case (int)JudgementsTabsEnums.SupremeJudgements:
										<RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Supreme_Judgement_Linked_Documents")" />
										break;
									case (int)JudgementsTabsEnums.LegalAdvice:
										<RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Legal_Advice_Linked_Documents")" />
										break;
									case (int)JudgementsTabsEnums.KuwaitAlYawm:
										<RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("KuwaitAlYawm_Linked_Documents")" />
										break;
									case (int)JudgementsTabsEnums.Others:
										<RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Other_Linked_Documents")" />
										break;
									default:
										break;
								}
							</div>
							<div class="col-md-6 px-0 pb-3" style="text-align-last: end;">
								<RadzenButton class="addBtn" Icon="arrow_back_ios_new" Click="OnClickPrevious" Disabled="@isPreviousDisabled" />
								<RadzenButton class="addBtn"
									  Icon="arrow_forward_ios"
									  Click="OnClickNext" Disabled="@isNextDisabled" />
							</div>
						</div>
						<div class="row tableContent table-responsive no-gutters pb-3">
							@if (SelectedGrid == (int)JudgementsTabsEnums.AppealJudgements || SelectedGrid == (int)JudgementsTabsEnums.SupremeJudgements)
							{
								<RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
									@ref="AppealSupremeFileGrid"
									AllowFiltering="false"
									FilterMode="Radzen.FilterMode.Advanced"
									AllowPaging="true"
									AllowSorting="true"
									Data="@(AppealSupremeLinkedDocuments.Where(x=>x.CourtTypeId == (SelectedGrid == (int)JudgementsTabsEnums.AppealJudgements ? (int)CourtTypeEnum.Appeal : (int)CourtTypeEnum.Supreme)))"
									TItem="LLSLegalPrincipleAppealSupremenContentLinkedDocVM"
									ShowPagingSummary="true" ColumnWidth="150px">
									<Columns>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleAppealSupremenContentLinkedDocVM" Filterable="false" Title="@translationState.Translate("Action")" Width="80px" Sortable="false" TextAlign="TextAlign.Center">
											<Template Context="filedetails">
												@{
													string result = (filedetails.ReferenceId.ToString() + filedetails.UploadedDocumentId.ToString() + filedetails.PageNumber.ToString());

													if (result != pdfViewer.DownloadFileName)
													{
														<RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="visibility" class="addIcon" title="@translationState.Translate("View")" Size="ButtonSize.Medium" Click="@((args) => OnGridViewClick(filedetails))" @onclick:stopPropagation="true" />
													}
												}
											</Template>
										</RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleAppealSupremenContentLinkedDocVM" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "JudgementTypeEn" : "JudgementTypeAr") Title="@translationState.Translate("Judgement_Type")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleAppealSupremenContentLinkedDocVM" Property="JudgementDate" Title="@translationState.Translate("Judgement_Date")" FormatString="{0:dd/MM/yyyy}" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleAppealSupremenContentLinkedDocVM" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "CourtEn" : "CourtAr") Title="@translationState.Translate("Court")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleAppealSupremenContentLinkedDocVM" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "ChamberNameEn" : "ChamberNameAr") Title="@translationState.Translate("Chamber_Name")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleAppealSupremenContentLinkedDocVM" Property="ChamberNumber" Title="@translationState.Translate("Chamber_Number")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleAppealSupremenContentLinkedDocVM" Property="CANNumber" Title="@translationState.Translate("CAN_Number")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleAppealSupremenContentLinkedDocVM" Property="CaseNumber" Title="@translationState.Translate("Case_Number")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleAppealSupremenContentLinkedDocVM" Property="PageNumber" Title="@translationState.Translate("Page_Number")" />
									</Columns>
								</RadzenDataGrid>
							}
							else if (SelectedGrid == (int)JudgementsTabsEnums.LegalAdvice)
							{
								<RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
									@ref="LegalAdviceFileGrid"
									AllowFiltering="false"
									FilterMode="Radzen.FilterMode.Advanced"
									AllowPaging="true"
									AllowSorting="true"
									Data="@LegalAdviceLinkedDocuments"
									TItem="LLSLegalPrincipleLegalAdviceContentLinkedDocVM"
									ShowPagingSummary="true" ColumnWidth="150px">
									<Columns>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleLegalAdviceContentLinkedDocVM" Filterable="false" Title="@translationState.Translate("Action")" Width="80px" Sortable="false" TextAlign="TextAlign.Center">
											<Template Context="filedetails">
												@{
													string result = (filedetails.ReferenceId.ToString() + filedetails.UploadedDocumentId.ToString() + filedetails.PageNumber.ToString());

													if (result != pdfViewer.DownloadFileName)
													{
														<RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="visibility" class="addIcon" title="@translationState.Translate("View")" Size="ButtonSize.Medium" Click="@((args) => OnGridViewClick(filedetails))" @onclick:stopPropagation="true" />
													}
												}
											</Template>
										</RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleLegalAdviceContentLinkedDocVM" Property="CreatedDate" Title="@translationState.Translate("Created_Date")" FormatString="{0:dd/MM/yyyy}" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleLegalAdviceContentLinkedDocVM" Property="FinalDocFileName" Title="@translationState.Translate("File_Name")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleLegalAdviceContentLinkedDocVM" Property="FileNumber" Title="@translationState.Translate("File_Number")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleLegalAdviceContentLinkedDocVM" Property="PageNumber" Title="@translationState.Translate("Page_Number")" />
									</Columns>
								</RadzenDataGrid>
							}

							else if (SelectedGrid == (int)JudgementsTabsEnums.KuwaitAlYawm)
							{
								<RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
									@ref="KuwaitAlYoumFileGrid"
									AllowFiltering="false"
									FilterMode="Radzen.FilterMode.Advanced"
									AllowPaging="true"
									AllowSorting="true"
									Data="@KuwaitAlYoumLinkedDocuments"
									TItem="LLSLegalPrincipleKuwaitAlYoumContentLinkedDocVM"
									ShowPagingSummary="true" ColumnWidth="150px">
									<Columns>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleKuwaitAlYoumContentLinkedDocVM" Filterable="false" Title="@translationState.Translate("Action")" Width="80px" Sortable="false" TextAlign="TextAlign.Center">
											<Template Context="filedetails">
												@{
													string result = (filedetails.ReferenceId.ToString() + filedetails.UploadedDocumentId.ToString() + filedetails.PageNumber.ToString());

													if (result != pdfViewer.DownloadFileName)
													{
														<RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="visibility" class="addIcon" title="@translationState.Translate("View")" Size="ButtonSize.Medium" Click="@((args) => OnGridViewClick(filedetails))" @onclick:stopPropagation="true" />
													}
												}
											</Template>
										</RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleKuwaitAlYoumContentLinkedDocVM" Property="DocumentTitle" Title="@translationState.Translate("Document_Title")"> </RadzenDataGridColumn>      
										<RadzenDataGridColumn TItem="LLSLegalPrincipleKuwaitAlYoumContentLinkedDocVM" Property="PublicationDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Publication_Date")"> </RadzenDataGridColumn>      
										<RadzenDataGridColumn TItem="LLSLegalPrincipleKuwaitAlYoumContentLinkedDocVM" Property="PublicationDateHijri" Title="@translationState.Translate("Publication_Date_Hijri")" Width="180px"> </RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleKuwaitAlYoumContentLinkedDocVM" Property="EditionNumber" Title="@translationState.Translate("Edition_Number")"> </RadzenDataGridColumn>
									</Columns>
								</RadzenDataGrid>
							}

							else if (SelectedGrid == (int)JudgementsTabsEnums.Others)
							{
								<RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
									@ref="OthersFileGrid"
									AllowFiltering="false"
									FilterMode="Radzen.FilterMode.Advanced"
									AllowPaging="true"
									AllowSorting="true"
									Data="@OthersLinkedDocuments"
									TItem="LLSLegalPrincipleOthersContentLinkedDocVM"
									ShowPagingSummary="true" ColumnWidth="150px">
									<Columns>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleOthersContentLinkedDocVM" Filterable="false" Title="@translationState.Translate("Action")" Width="80px" Sortable="false" TextAlign="TextAlign.Center">
											<Template Context="filedetails">
												@{
													string result = (filedetails.ReferenceId.ToString() + filedetails.UploadedDocumentId.ToString() + filedetails.PageNumber.ToString());

													if (result != pdfViewer.DownloadFileName)
													{
														<RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="visibility" class="addIcon" title="@translationState.Translate("View")" Size="ButtonSize.Medium" Click="@((args) => OnGridViewClick(filedetails))" @onclick:stopPropagation="true" />
													}
												}
											</Template>
										</RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="LLSLegalPrincipleOthersContentLinkedDocVM" Property="DocumentDate" Title="@translationState.Translate("Document_Date")" FormatString="{0:dd/MM/yyyy}" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleOthersContentLinkedDocVM" Property="OtherAttachmentType" Title="@translationState.Translate("Document_Type")" />
										<RadzenDataGridColumn TItem="LLSLegalPrincipleOthersContentLinkedDocVM" Property="PageNumber" Title="@translationState.Translate("Page_Number")" />
									</Columns>
								</RadzenDataGrid>
							}
						</div>
					}
				</div>
			</div>
		</ChildContent>
	</RadzenContent>
}
else
{
	<div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}
<style>
	input#pdfviewer_fileUploadElement {
		display: none !important;
	}
	/* Sample specific styles */
	.control_wrapper {
		margin: auto;
		border: 1px solid #dddddd;
		border-radius: 3px;
		overflow: auto;
	}
	/* Specifies the styles for custom generated elements in the TreeView component */
	.e-treeview .e-list-text {
	}

	.treeCount.e-badge {
		padding: 0.4em;
		vertical-align: text-bottom;
	}

	.material .treeCount.e-badge {
		vertical-align: middle;
	}

	.bootstrap5.e-bigger .treeCount.e-badge,
	.tailwind.e-bigger .treeCount.e-badge,
	.tailwind-dark.e-bigger .treeCount.e-badge,
	.bootstrap5-dark.e-bigger .treeCount.e-badge {
		line-height: 10px;
	}

	.bootstrap4 .treeviewdiv .treeCount.e-badge,
	.bootstrap5 .treeviewdiv .treeCount.e-badge,
	.bootstrap .treeviewdiv .treeCount.e-badge,
	.bootstrap-dark .treeviewdiv .treeCount.e-badge,
	.highcontrast .treeviewdiv .treeCount.e-badge,
	.bootstrap5-dark .treeviewdiv .treeCount.e-badge {
		background-color: #008800;
	}

	.highcontrast .treeviewdiv .treeCount.e-badge {
		color: white;
	}

	.nodetext {
		float: left;
	}

	.e-rtl .nodetext {
		float: right;
	}

	.nodebadge {
		float: right;
		margin-right: 5px;
		padding-left: 20px;
	}

	.e-rtl .nodebadge {
		float: left;
		margin-left: 5px
	}

    .e-badge.e-badge-primary:not(.e-badge-ghost):not([href]) {
        background-color: #000000 !important;
        color: #fff !important;
        margin: 0px 20px !important;
    }

	.e-contextmenu-container ul .e-menu-item.e-disabled {
		cursor: auto;
		background: #dadae3 !important;
		pointer-events: none;
		color: black !important;
	}

   .e-menu-item.e-disabled {
        cursor: auto;
        pointer-events: none;
        background: #c5c0c7 !important;
        color: black !important;
    }

	div#wizard-step-0 {
		padding: 0px !important;
	}

	img.k-image.k-step-indicator-icon {
		width: 30px !important;
	}

	span.k-step-label {
		font-size: 13px;
	}

	a.k-step-link {
		max-width: 8rem !important;
		height: 4rem !important;
	}
	span.k-step-label {
    height: 20px;
}

	.telerik-blazor.k-progressbar.k-progressbar-horizontal {
		top: 30px !important;
	}

	label.k-label.k-form-label {
		padding-bottom: 10px !important;
		font-weight: 500 !important;
		font-size: 13px !important;
	}

	.k-i-launch {
		transform: rotate(270deg) !important;
	}
</style>
