@using FATWA_DOMAIN.Models.ViewModel.LLSLegalPrinciple
@layout MainLayout

<PageTitle>@headings</PageTitle>


@* @if (loginState.ClaimList.Where(x => x.Value == "Permissions.LPS.Principles.Review").Count() > 0)
{ *@
<RadzenContent Container="main">
    <ChildContent>
        <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
            <div class="col-md-6">
                <RadzenBreadCrumb>
                    <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                    <RadzenBreadCrumbItem Text="@headings" />
                </RadzenBreadCrumb>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <div class="backtoDashboard">
                    @*<RadzenButton ButtonStyle="ButtonStyle.Secondary"
                    Size="ButtonSize.Small"
                    title="@translationState.Translate("Go_Back")"
                    class="returnBtn" Icon="@(System.Globalization.CultureInfo.CurrentCulture.Name == "en-US"? "arrow_back" : "arrow_forward")" Click="@RedirectBack" />*@

                    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back_Dashboard")"
                                  class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back_HomeScreen")"
                                  class="returnBtn"
                                  Icon="home" Click="@GoBackHomeScreen" />
                </div>
            </div>
        </div>
        <div class="row TitleBar justify-content-center align-items-center py-4">
            <div class="col-md-6">
                <div class="row no-gutters">
                    <RadzenHeading Size="H1" class="pageTitle" Text="@headings" />
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
            </div>
        </div>
        <div class="row justify-content-center mainContentBlock py-4">
            <div class="col-md-12">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex">
                        <RadzenTextBox class="searchBox"
                                       Placeholder="@translationState.Translate("Grid_Search")"
                                       Name="Textbox0"
                                       @bind-Value="search"
                                       @oninput="@(async(args) => {await OnSearchInput($"{args.Value}");})" />
                     </div>
                    <div class="col-md-8 tableAdditionButton addPrincipleBtn px-0 pb-3">
                        @* <RadzenButton class="addBtn"
                        Icon="search"
                        Text="@translationState.Translate("Advanced_Search")"
                        Click="ToggleAdvanceSearch" /> *@
                    </div>
                </div>

                <div class="row tableContent table-responsive no-gutters pb-3">
                    <RadzenDataGrid @ref="grid"
                                    ColumnWidth="180px"
                                    FilterMode="Radzen.FilterMode.Advanced"
                                    Count="@(getLegalPrinciples?.Any() == true ? getLegalPrinciples.FirstOrDefault().TotalCount : 0)"
                                    AllowPaging="true"
                                    AllowSorting="true"
                                    LoadData="OnLoadData"
                                    AllowFiltering="false"
                                    Data="@FiltergetLegalPrinciples"
                                    Sort="OnSortData"
                                    TItem="LLSLegalPrinciplesReviewVM"
                                    PageSize="@systemSettingState.Grid_Pagination"
                                    PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                    PageSizeText="@translationState.Translate("Items_Per_Page")"
                                    PageSizeOptions="@systemSettingState.Page_Size_Options"
                                    EmptyText="@translationState.Translate("No_record_found")"
                                    PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                    ShowPagingSummary="true">
                        <Columns>
                            <RadzenDataGridColumn TItem="LLSLegalPrinciplesReviewVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="80px" TextAlign="TextAlign.Center">
                                <Template Context="rowItem">
                                    @if (loginState.ClaimList.Where(x => x.Value == "Permissions.Submenu.LPS.Principles.Detailsview").Count() > 0)
                                    {
                                        <RadzenButton ButtonStyle="ButtonStyle.Info"
                                                      class="viewIcon"
                                                      Icon="visibility"
                                                      Title="@translationState.Translate("View")"
                                                      Size="ButtonSize.Small"
                                                      Click="@((args) => ViewPrincipleDetail(rowItem))"
                                                      @onclick:stopPropagation="true" />
                                    }
                                    <RadzenButton ButtonStyle="ButtonStyle.Primary"
                                                  class="approvalIcon"
                                                  Icon="rule"
                                                  Title="@translationState.Translate("Details_and_Desicions")"
                                                  Size="ButtonSize.Small"
                                                  Click="@((args) => LegalPrincipleDescision(rowItem))"
                                                  @onclick:stopPropagation="true" />

                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="LLSLegalPrinciplesReviewVM" Property="PrincipleNumber" Title="@translationState.Translate("Principle_Number")" Width="100px" />
                            <RadzenDataGridColumn TItem="LLSLegalPrinciplesReviewVM" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "TypeEn" : "TypeAr") Title="@translationState.Translate("Type")" />
                            <RadzenDataGridColumn TItem="LLSLegalPrinciplesReviewVM" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "FlowStatusEn" : "FlowStatusAr") Title="@translationState.Translate(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Principle_Flow_Status_En" : "Principle_Flow_Status_Ar")" />
                            <RadzenDataGridColumn TItem="LLSLegalPrinciplesReviewVM" Property="NumberOfPrincipleContents" Title="@translationState.Translate("NumberOfPrincipleContents")" Width="100px" />
                            <RadzenDataGridColumn TItem="LLSLegalPrinciplesReviewVM" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Issue_Date")" Width="100px" />
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
@* }
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
} *@