@page "/assign-consultationtolawyer"
@using FATWA_DOMAIN.Models.AdminModels.UserManagement
@using FATWA_DOMAIN.Models.CaseManagment
@using FATWA_DOMAIN.Models.Consultation
@using FATWA_DOMAIN.Models.ViewModel.AdminVM.CaseManagment
@using FATWA_DOMAIN.Models.ViewModel.AdminVM.UserManagement
@using FATWA_DOMAIN.Models.ViewModel.CaseManagment
@layout MainLayout

<RadzenTemplateForm Data="@consultationRequestLawyerAssignment" Visible="@(consultationRequestLawyerAssignment != null)" TItem="ConsultationAssignment" Submit="@FormSubmit">
    <ChildContent>
        <div class="col-12 pt-4 popup-buttons-alignment">
            <RadzenButton class="btn btn-primary"
                          Text="@translationState.Translate("Select_More_Member")"
                          Click="ShowAdvanceSelectionGrid" />
        </div>

        <div class="col-12">
            <div class="form-group">
                <RadzenLabel Text="@(translationState.Translate("Lawyer_Selection"))" />
                <RadzenDropDown TValue="string"
                                AllowClear="true"
                                AllowFiltering="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Name="LawyerName"
                @bind-Value="consultationRequestLawyerAssignment.LawyerId"
                                Placeholder="@translationState.Translate("Select_Lawyer")"
                                Data=@users
                                Change="@(args => OnTypeChange(args))"
                                TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "UserNameEn" : "UserNameAr")
                                ValueProperty="Id"
                                Style="display:block;">
                    <Template Context="data">
                        @{
                            var lawyer = data as LawyerVM;
                        }
                        <div class=@(lawyer.AbsentTillDate != null ? "disable-item" : "")>
                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? lawyer.UserNameEn : lawyer.UserNameAr),
                            @translationState.Translate("Current_Tasks"): @lawyer.TotalTasks
                            @(lawyer.AbsentTillDate != null ? $"{"," + translationState.Translate("Absent_Till_Date")}: {lawyer.AbsentTillDate?.ToString("dd/MM/yyyy")}" : "")
                        </div>
                    </Template>
                </RadzenDropDown>
                @if (selectedLawyer is not null)
                {
                    <div class="row mt-2">
                        <div class="col-6">
                            <label for="ccs" class="k-label k-form-label col-12 text-center">@translationState.Translate("Last_Activity_Date")</label>
                            <label for="ccs" class="k-label k-form-label col-12 text-center">@(selectedLawyer?.LastActivityDate == null ? "---" : selectedLawyer?.LastActivityDate.Value.ToString("dd/MM/yyyy"))</label>
                        </div>
                        <div class="col-6">
                            <label for="ccs" class="k-label k-form-label col-12 text-center">@translationState.Translate("Current_Tasks")</label>
                            <label for="ccs" class="k-label k-form-label col-12 text-center">@selectedLawyer?.TotalTasks</label>
                        </div>
                    </div>
                }

                @if (!IsVisible)
                {
                    <RadzenRequiredValidator Component="LawyerName" Text="@translationState.Translate("Required_Field")" DefaultValue="0" />

                }
            </div>
        </div>
        @if (IsVisible)
        {
            <div class="col-md-12">
                <div class="form-group">
                    <RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
                    @ref="grid"
                                    AllowRowSelectOnRowClick="@allowRowSelectOnRowClick"
                                    AllowFiltering="false"
                                    FilterMode="Radzen.FilterMode.Advanced"
                                    AllowPaging="true"
                                    AllowSorting="true"
                                    SelectionMode="DataGridSelectionMode.Multiple"
                                    Data="@users"
                                    TItem="LawyerVM"
                                    PageSize="@loginState.PageSize"
                                    PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                    Visible="@IsVisible"
                    @bind-Value="consultationRequestLawyerAssignment.SelectedUsers">
                        <Columns>
                            <RadzenDataGridColumn TItem="LawyerVM" Width="40px" Sortable="false" Filterable="false">

                                <Template Context="data">
                                    <RadzenCheckBox TriState="false"
                                                    Value="@(consultationRequestLawyerAssignment.SelectedUsers != null && consultationRequestLawyerAssignment.SelectedUsers.Contains(data))"
                                                    TValue="bool"
                                                    Change=@(args => { if(!allowRowSelectOnRowClick) {grid.SelectRow(data); }}) />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="LawyerVM" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "UserNameEn" : "UserNameAr") Title="@translationState.Translate("Lawyer_Name")" />
                            <RadzenDataGridColumn TItem="LawyerVM" Width="130px"  Property="TotalTasks" Title="@translationState.Translate("Current_Tasks")" />
                            <RadzenDataGridColumn TItem="LawyerVM" Width="150px" Property="LastActivityDate" Title="@translationState.Translate("Last_Activity_Date")" FormatString="{0:dd/MM/yyyy}" />

                        </Columns>
                    </RadzenDataGrid>

                </div>
            </div>
        }

        @if (IsVisible)
        {
            <div class="col-md-12">
                <div class="form-group">
                    <RadzenLabel Text="@translationState.Translate("Select_Primary_Lawyer")" Visible="IsVisible" />
                    <RadzenDropDown TValue="string"
                                    Data="@consultationRequestLawyerAssignment.SelectedUsers"
                                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    AllowClear="true"
                                    Name="PrimaryLawyer"
                                    TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "UserNameEn" : "UserNameAr")
                                    ValueProperty="Id"
                    @bind-Value="consultationRequestLawyerAssignment.PrimaryLawyerId"
                                    Placeholder="@translationState.Translate("Select_Lawyer")"
                                    Style="display:block;"
                                    Visible="IsVisible">
                    </RadzenDropDown>
                    @if (IsVisible == true)
                    {
                        <RadzenRequiredValidator Component="PrimaryLawyer" Text="@translationState.Translate("Required_Field")" DefaultValue="0" />
                    }
                </div>
            </div>

        }

        <div class="col-md-12">
            <div class="form-group">
                <RadzenLabel Text="@(translationState.Translate("Supervisor_Selection"))" />
                <RadzenDropDown TValue="string"
                                Data="@supervisors"
                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowClear="true"
                                TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "UserNameEn" : "UserNameAr")
                                ValueProperty="Id"
                                Name="SupervisorName"
                @bind-Value="consultationRequestLawyerAssignment.SupervisorId"
                                Placeholder="@translationState.Translate("Select_Supervisor")"
                                Style="display:block;">
                    <Template Context="data">
                        @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? (data as LawyerVM).UserNameEn + ", " + translationState.Translate("Current_Tasks") + ": " + (data as LawyerVM).TotalTasks : (data as LawyerVM).UserNameAr + ", " + translationState.Translate("Current_Tasks") + ": " + (data as LawyerVM).TotalTasks)
                    </Template>
                </RadzenDropDown>
                <RadzenRequiredValidator Component="SupervisorName" Text="@translationState.Translate("Required_Field")" DefaultValue="0" />
            </div>
        </div>



            <RadzenFieldset AllowCollapse="false" Style="width: 100% !important; ">
                <HeaderTemplate>
                    <span class="d-inline-flex align-items-center align-middle">
                        <RadzenIcon Class="me-1" /><b>@translationState.Translate("Priority")</b>
                    </span>
                </HeaderTemplate>
                <ChildContent>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group textboxsavemeeting">
                                    <RadzenDropDown Data="@Priorities"
                                                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                AllowClear="true"
                                                TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")
                                                ValueProperty="Id"
                                                Name="Priority"
                                                Placeholder="@translationState.Translate("Select")"
                                                Style="display:block;"
                                                @bind-Value="@consultationRequestLawyerAssignment.FatwaPriorityId" />
                                <RadzenRequiredValidator Component="Priority" Text="@translationState.Translate("Required_Field")" DefaultValue="0" />
                            </div>
                        </div>
                    </div>
                </ChildContent>
            </RadzenFieldset>
            <RadzenFieldset AllowCollapse="false" Style="width: 100% !important; ">
                <HeaderTemplate>
                    <span class="d-inline-flex align-items-center align-middle">
                        <RadzenIcon Class="me-1" /><b>@translationState.Translate("Remarks")</b>
                    </span>
                </HeaderTemplate>
                <ChildContent>
                    <div class="row">
                        <div class="col-md-12">
                            <RadzenTextArea @bind-Value="consultationRequestLawyerAssignment.Remarks"
                                            class="w-100"
                                            Name="Remarks"
                                            Placeholder="@translationState.Translate("Remarks")"
                                            Style="display:block;" Rows="3" />
                            <RadzenLengthValidator Max="1000" Text="@translationState.Translate("Max_Thousand_Characters")" Component="Remarks" />
                            <RadzenRegexValidator Component="Remarks" Text="@(translationState.Translate("Cannot_Have_Trailing_Spaces"))" Pattern="@RegexPatterns.NoLeadingSpacesTextAreaPattern" />

                        </div>
                    </div>
                </ChildContent>
            </RadzenFieldset>
            <div class="row mt-4 popup-buttons-alignment">
                <div class="col-12 p-0">
                        <RadzenButton Text="@translationState.Translate("Assign")"
                                  ButtonStyle="ButtonStyle.Primary"
                                  style="margin-right: 0.2rem !important"
                                  ButtonType="Radzen.ButtonType.Submit" />
                        <RadzenButton Text="@translationState.Translate("Cancel")"
                                  ButtonStyle="ButtonStyle.Light"
                                  Style=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "" : "margin-left: 1rem")
                                  Click="@ButtonCloseDialog" />
                </div>
            </div>
        </ChildContent>
    </RadzenTemplateForm>

