@page "/Coms-Request-For-More-Information"
@page "/Coms-Request-For-More-Information/{ReferenceId}/{IsConsultationRequest}"
@page "/Coms-Request-For-More-Information/{ReferenceId}/{PreCommunicationId}/{IsReminder}"
@page "/Coms-Request-For-More-Information/{ReferenceId}/{IsConsultationRequest}/{PreCommunicationId}/{IsReminder}/{TaskId}"
@page "/Coms-Request-For-More-Information-Final/{ReferenceId}/{IsConsultationRequest}/{IsFinalDraft}"


@using FATWA_DOMAIN.Models.ViewModel.AdminVM.CaseManagment;
@using FATWA_DOMAIN.Models.ViewModel.CaseManagment;
@using FATWA_DOMAIN.Models.ViewModel.CommunicationVMs
@using FATWA_DOMAIN.Models.ViewModel;
@using FATWA_WEB.Services.Lms;
@using static FATWA_DOMAIN.Enums.GeneralEnums;
@using static FATWA_DOMAIN.Enums.CaseManagementEnums;

@layout MainLayout
<PageTitle>@translationState.Translate("Send_Request_For_More_Information")</PageTitle>
<RadzenContent Container="main">
    <ChildContent>
        <div class="row breadcrumbBar justify-content-center align-items-center pb-3 tab-webkit-fill">
            <div class="col-md-6">
                <div class="row no-gutters">
                    <RadzenBreadCrumb>
                        <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                        @if (!IsRequest)
                        {
                            <RadzenBreadCrumbItem Path="@consultationFileUrl" Text="@translationState.Translate("View_Details")" />
                        }
                        else
                        {
                            <RadzenBreadCrumbItem Path="@consultationRequestUrl" Text="@translationState.Translate("Consultation_Requests_Detail")" />
                        }
                        <RadzenBreadCrumbItem Text="@translationState.Translate("Send_Request_For_More_Information")" />
                    </RadzenBreadCrumb>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-end">
                <div class="backtoDashboard">
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back")"
                                  class="returnBtn" Icon="@(System.Globalization.CultureInfo.CurrentCulture.Name == "en-US"? "arrow_back" : "arrow_forward")" Click="@RedirectBack" />
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back_Dashboard")"
                                  class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back_HomeScreen")"
                                  class="returnBtn"
                                  Icon="home" Click="@GoBackHomeScreen" />
                </div>
            </div>
        </div>

        <div class="row TitleBar justify-content-left align-items-center py-4">

            <div class="row no-gutters">
                <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Send_Request_For_More_Information")" />
            </div>
        </div>

        <div class="row justify-content-center mainContentBlock py-4">
            <div class="col-md-12">
                <div class="tableContent no-gutters">

                    @if (!IsRequest)
                    {
                        <div class="row pb-4">
                            <div class="col-md-4">
                                <RadzenLabel Text="@translationState.Translate("File_Number")" Component="FileNumber" />
                                <RadzenNumeric Disabled="true" Class="w-100" Name="FileNumber" @bind-Value="@consultationFileDetail.FileNumber" />
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-4">
                                <RadzenLabel Text="@translationState.Translate("File_Date")" Component="File_Date" />
                                <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Disabled="true" @bind-Value="@consultationFileDetail.FileDate" />

                            </div>
                            <div class="col-md-4">
                                <RadzenLabel Text="@translationState.Translate("Response_Date")" Component="Response_Date" />
                                <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Disabled="true" @bind-Value="@NowTime" />
                            </div>
                            <div class="col-md-4">
                                <RadzenLabel Text="@(translationState.Translate("Response_Type") + " *")" Component="Response_Type" />
                                <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                AllowClear="true"
                                                Data="@ResponseType"
                                                TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")
                                                ValueProperty="Id"
                                                Name="response"
                                                Disabled="@(IsFinalDraft != null ? true : false)"
                                                Placeholder="@translationState.Translate("Select")"
                                                Style="display:block;"
                                                @bind-Value="@sendCommunication.CommunicationResponse.ResponseTypeId" />
                                <div class="rz-message rz-messages-error ">@typeValidationMsg</div>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-4">
                                <RadzenLabel Text="@translationState.Translate("Reminder_Frequency")" Component="Frequency" />
                                <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                AllowClear="true"
                                                Data="@frequency"
                                                TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")
                                                ValueProperty="Id"
                                                Placeholder="@translationState.Translate("Select")"
                                                Style="display:block;"
                                                @bind-Value="@sendCommunication.CommunicationResponse.FrequencyId"
                                                Name="Frequency" />
                            </div>
                            <div class="col-md-4">
                                <RadzenLabel Text="@translationState.Translate("Additional_GE")"
                                             Component="Additional_GE" />
                                <RadzenDropDown Data="@GovernmentEntities"
                                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                AllowClear="true"
                                                TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")
                                                ValueProperty="EntityId"
                                                SelectAllText="@translationState.Translate("Selected_All")"
                                                SelectedItemsText="@translationState.Translate("Items_Ielected")"
                                                Multiple="true"
                                                Placeholder="@translationState.Translate("Select")"
                                                Style="display:block;" @bind-Value="@sendCommunication.CommunicationResponse.EntityIds"
                                                Name="Additional_GE" />
                            </div>
                            <div class="col-md-4">
                                <RadzenLabel Text="@translationState.Translate("Priority")" Component="Priority" />
                                <RadzenDropDown Data="@Priorities"
                                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                AllowClear="true"
                                                TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")
                                                ValueProperty="Id"
                                                Name="Priority"
                                                Placeholder="@translationState.Translate("Select")"
                                                Style="display:block;"
                                                @bind-Value="@sendCommunication.CommunicationResponse.PriorityId" />
                                <RadzenRequiredValidator Component="Priority" Text="@translationState.Translate("Required_Field")" DefaultValue="0" />

                            </div>
                        </div>
                    }
                    else
                    {
                        <RadzenTemplateForm Data="@sendCommunication" Visible="@(sendCommunication != null)" TItem="SendCommunicationVM" Submit="@ButtonSaveClick">
                            <ChildContent>
                                <div class="row pb-4">
                                    <div class="col-md-4">
                                        <RadzenLabel Text="@translationState.Translate("Request_Number")" Component="RequestNumber" />
                                        <RadzenNumeric Disabled="true" Class="w-100" Name="RequestNumber" @bind-Value="@consultationRequest.RequestNumber" />
                                    </div>
                                    <div class="col-md-4">
                                        <RadzenLabel Text="@translationState.Translate("Subject")" Component="Subject" />
                                        <RadzenNumeric Disabled="true" Class="w-100" Name="Subject" @bind-Value="@consultationRequest.Subject" />
                                    </div>
                                </div>
                                <div class="row pb-2">
                                    <div class="col-md-4">
                                        <RadzenLabel Text="@translationState.Translate("Request_Date")" Component="RequestDate" />
                                        <RadzenDatePicker Disabled="true" DateFormat="dd/MM/yyyy" Class="w-100" Name="File_Date" @bind-Value="@consultationRequest.RequestDate" />

                                    </div>
                                    <div class="col-md-4">
                                        <RadzenLabel Text="@translationState.Translate("Response_Date")" Component="Response_Date" />
                                        <RadzenDatePicker Disabled="true" DateFormat="dd/MM/yyyy" Class="w-100" Name="Response_Date" @bind-Value="@ResponseDate" />
                                    </div>
                                    <div class="col-md-4">
                                        <RadzenLabel Text="@translationState.Translate("Response_Type")" />
                                        <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        AllowClear="true"
                                                        Data="@getExcludedConsultationResponseType"
                                                        TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar")
                                                        ValueProperty="Id"
                                                        Name="response"
                                                        Placeholder="@translationState.Translate("Select")"
                                                        Style="display:block;"
                                                        @bind-Value="@sendCommunication.CommunicationResponse.ResponseTypeId" />
                                        <div class="rz-message rz-messages-error ">@typeValidationMsg</div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <RadzenLabel Text="@translationState.Translate("Reason")"
                                                     Component="communicationRequestMore.CommunicationResponse.Reason" />

                                        <RadzenTextArea Cols="30"
                                                        @bind-Value="@sendCommunication.CommunicationResponse.Reason"
                                                        Rows="2"
                                                        class="w-100"
                                                        Placeholder="@translationState.Translate("Reason_Of_Response")"
                                                        Name="Reason" />
                                        <div class="rz-message rz-messages-error ">@reasonValidationMsg</div>

                                    </div>
                                    <div class="col-md-4">
                                        <RadzenLabel Text="@translationState.Translate("Other")" Component="Other" />
                                        <RadzenTextArea @bind-Value="@sendCommunication.CommunicationResponse.Other"
                                                        class="w-100"
                                                        Cols="30"
                                                        Rows="2" />
                                    </div>

                                </div>
                            </ChildContent>
                        </RadzenTemplateForm>
                    }
                    @* @if (uploadedAttachment != null && uploadedAttachment.Count() != 0)
                    { *@
                    <RadzenAccordion>
                        <Items>
                            <RadzenAccordionItem Text="@(translationState.Translate("Upload_Document")+ " / " +translationState.Translate("Existing_Document"))" Selected="false">
                                <RadzenTabs TabPosition="Radzen.TabPosition.Top" RenderMode="TabRenderMode.Client">
                                    <Tabs>
                                        <RadzenTabsItem Text="@translationState.Translate("Upload_Document")">
                                            <div class="row">
                                                <div class="col-md-12 d-flex justify-content-end">
                                                    <TelerikButton Class="cancleBtn"
                                                                   ButtonType="Telerik.Blazor.ButtonType.Button"
                                                                   ThemeColor="light"
                                                                   OnClick="@AddDocument">@translationState.Translate("Add_Document") </TelerikButton>
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <div class="row tableContent table-responsive no-gutters pb-3">
                                                            <RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
                                                                            @ref="upload"
                                                                            AllowFiltering="false"
                                                                            FilterMode="Radzen.FilterMode.Advanced"
                                                                            AllowPaging="true"
                                                                            AllowSorting="true"
                                                                            Data="@uploadedAttachment"
                                                                            TItem="TempAttachementVM"
                                                                            PageSize="@systemSettingState.Grid_Pagination"
                                                                            PagerHorizontalAlign="Radzen.HorizontalAlign.Center">
                                                                <Columns>
                                                                    <RadzenDataGridColumn TItem="TempAttachementVM" Width="120px" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                                                        <Template Context="rowItem">
                                                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                                                                          Icon="delete"
                                                                                          Size="ButtonSize.Small"
                                                                                          Click="@((args) => RemoveDocument(rowItem))"
                                                                                          @onclick:stopPropagation="true" />
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="TempAttachementVM" Width="150px" Property="AttachmentTypeId" Title="@translationState.Translate("Document_Type")">
                                                                        <Template Context="attachment">
                                                                            <RadzenLabel Text="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? AttachmentTypes?.Where(t => t.AttachmentTypeId == attachment.AttachmentTypeId)?.FirstOrDefault()?.Type_En : AttachmentTypes?.Where(t => t.AttachmentTypeId == attachment.AttachmentTypeId)?.FirstOrDefault()?.Type_Ar)" />
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="TempAttachementVM" Width="150px" Property="FileName" Title="@translationState.Translate("File_Name")" />

                                                                </Columns>
                                                            </RadzenDataGrid>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </RadzenTabsItem>
                                        <RadzenTabsItem Text="@translationState.Translate("Existing_Document")">
                                            <div class="row pb-2">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="tableContent table-responsive datagrid-rz-label">
                                                        <RadzenDataGrid @ref="gridAttachments"
                                                                        AllowFiltering="false"
                                                                        AllowPaging="true"
                                                                        AllowSorting="true"
                                                                        Data="@attachments?.Where(a => a.DocType?.ToLower() == ".pdf")"
                                                                        TItem="TempAttachementVM"
                                                                        Count="@(attachments != null ? attachments.Count() : 0)"
                                                                        PageSize="@systemSettingState.Grid_Pagination"
                                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                                        PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                                        SelectionMode="DataGridSelectionMode.Multiple"
                                                                        AllowRowSelectOnRowClick="@allowRowSelectOnRowClick"
                                                                        @bind-Value=@sendCommunication.SelectedDocuments
                                                                        ShowPagingSummary="true">
                                                            <Columns>
                                                                <RadzenDataGridColumn TItem="TempAttachementVM" Width="40px" Sortable="false" Filterable="false">
                                                                    <HeaderTemplate>
                                                                        <RadzenCheckBox TriState="false"
                                                                                        Value="@((attachments!=null && sendCommunication.SelectedDocuments != null)? (attachments.Except(sendCommunication.SelectedDocuments).Any()? false : true) :false)"
                                                                                        TValue="bool"
                                                                                        Change="@(args => sendCommunication.SelectedDocuments = args ? attachments.ToList() : null)" />
                                                                    </HeaderTemplate>
                                                                    <Template Context="data">
                                                                        <RadzenCheckBox TriState="false"
                                                                                        Value="@(sendCommunication.SelectedDocuments != null && sendCommunication.SelectedDocuments.Contains(data))"
                                                                                        TValue="bool"
                                                                                        Change=@(args => { if(!allowRowSelectOnRowClick) { gridAttachments.SelectRow(data); }}) />
                                                                    </Template>
                                                                </RadzenDataGridColumn>
                                                                <RadzenDataGridColumn TItem="TempAttachementVM" Property="AttachmentTypeId" Title="@translationState.Translate("Document_Type")">
                                                                    <Template Context="attachment">
                                                                        @if (attachment.AttachmentTypeId == (int)AttachmentTypeEnum.Other)
                                                                        {
                                                                            <RadzenLabel Text="@attachment.OtherAttachmentType" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <RadzenLabel Text=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? $"{attachment.AttachmentTypeAr}" : $"{attachment.AttachmentTypeEn}") />
                                                                        }
                                                                    </Template>
                                                                </RadzenDataGridColumn>
                                                                <RadzenDataGridColumn TItem="TempAttachementVM" Property="Description" Title="@translationState.Translate("Description")">
                                                                    <Template Context="attachment">
                                                                        @if (String.IsNullOrEmpty(attachment.Description) || attachment.Description == "null")
                                                                        {
                                                                            <RadzenLabel Text="-" />
                                                                        }
                                                                        else
                                                                        {
                                                                            <RadzenLabel Text="@attachment.Description" />
                                                                        }
                                                                    </Template>
                                                                </RadzenDataGridColumn>
                                                                <RadzenDataGridColumn TItem="TempAttachementVM" Property="FileName" Title="@translationState.Translate("File_Name")">
                                                                </RadzenDataGridColumn>
                                                                <RadzenDataGridColumn TItem="TempAttachementVM" Property="DocDateTime" Width="90px" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Document_Date")">
                                                                </RadzenDataGridColumn>

                                                            </Columns>
                                                        </RadzenDataGrid>
                                                    </div>
                                                </div>
                                            </div>
                                        </RadzenTabsItem>
                                    </Tabs>
                                </RadzenTabs>
                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>
                    @* } *@
                    <div class="row justify-content-end pt-3">
                        <div class="col-md-6" style="text-align:right;">
                            <TelerikButton Class="cancleBtn"
                                           ButtonType="Telerik.Blazor.ButtonType.Button"
                                           ThemeColor="light"
                                           OnClick="@ButtonBackClick">@translationState.Translate("Back") </TelerikButton>
                            @*@if(loginState.UserDetail.SectorTypeId == (int)OperatingSectorTypeEnum.Contracts)
                            {
                            <TelerikButton Class="cancleBtn"
                            ButtonType="Telerik.Blazor.ButtonType.Button"
                            ThemeColor="light"
                            OnClick="@ReviewContractTemplateButtonClick"> @translationState.Translate("Review_Contract_Template") </TelerikButton>
                            }
                            else
                            {*@
                            <TelerikButton Class="cancleBtn"
                                           ButtonType="Telerik.Blazor.ButtonType.Button"
                                           ThemeColor="light"
                                           OnClick="@ButtonSaveClick"> @translationState.Translate(loginState.UserDetail.SectorTypeId == (int)OperatingSectorTypeEnum.Contracts ? "Review_Contract_Template" : "Draft_A_File") </TelerikButton>
                            @* }*@
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </ChildContent>
</RadzenContent>
<style>
    .rz-label {
        margin-bottom: 0;
        float: none;
    }
</style>