@page "/comstask-list"

@using FATWA_DOMAIN.Models.ViewModel.TaskVMs;
@using static FATWA_DOMAIN.Enums.TaskEnums;

@layout MainLayout

<!--<History Author = "Hassan Abbas" Date="2023-03-08" Version="1.0" Branch="master">List of Tasks related to Case Management filtered based on screen, task type and submodule</History>-->
@if (loginState.ClaimList.Where(x => x.Value == "Permissions.Submenu.Task.TaskList").Count() > 0)
{
    <div class="row justify-content-center mainTaskContentBlock ">
        <div class="col-md-12">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <RadzenTextBox class="searchBox"
                               Placeholder="@translationState.Translate("Grid_Search")"
                               Name="Textbox0"
                               @oninput="@(async(args) => {search = $"{args.Value}";
				await grid.GoToPage(0);
				await Load();})" />
                </div>
                <div class="col-md-8 d-flex justify-content-end tableAdditionButton px-0 pb-3">
                    <RadzenButton class="addBtn"
                              Icon="search"
                              Text="@translationState.Translate("Advanced_Search")"
                              Click="ToggleAdvanceSearch" />
                </div>
            </div>
            <div class="row tableContent table-responsive no-gutters pb-3">
                <RadzenDataGrid @ref="grid"
                            FilterMode="Radzen.FilterMode.Advanced"
                            Count="@(getTaskList != null ? getTaskList.Count() : 0)"
                            AllowPaging="true"
                            AllowSorting="true"
                            AllowFiltering="false"
                            Data="@getTaskList"
                            TItem="TaskVM"
                            PageSize="@systemSettingState.Grid_Pagination"
                            PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                            PageSizeText="@translationState.Translate("Items_Per_Page")"
                            PageSizeOptions="@systemSettingState.Page_Size_Options"
                            EmptyText="@translationState.Translate("No_record_found")"
                            PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                            ShowPagingSummary="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="TaskVM"
                                          Title="@translationState.Translate("Action")"
                                          Filterable="false"
                                          Sortable="false"
                                          Width="130px"
                                          TextAlign="TextAlign.Center">
                            <Template Context="rowItem">
                                <RadzenButton ButtonStyle="ButtonStyle.Info"
                                          Class="viewIcon"
                                          Title="@translationState.Translate("Details")"
                                          Icon="visibility"
                                          Size="ButtonSize.Small"
                                          Click="@((args) => DetailTask(rowItem))"
                                          @onclick:stopPropagation="true" />
                                @if (!rowItem.IsSystemGenerated)
                                {
                                    <RadzenButton ButtonStyle="ButtonStyle.Primary"
                                          Icon="send"
                                          Title="@translationState.Translate("Response")"
                                          Size="ButtonSize.Small"
                                          Click="@((args) => TaskResponse(rowItem))"
                                          @onclick:stopPropagation="true" />
                                }

                                <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                          Class="viewIcon"
                                          Title="@translationState.Translate("View_TaskDetails")"
                                          Icon="chrome_reader_mode"
                                          Size="ButtonSize.Small"
                                          Click="@((args) => DetailTaskDetails(rowItem))"
                                          @onclick:stopPropagation="true" />

                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TItem="TaskVM" Width="175px" Property="ReferenceNumber" Title="@translationState.Translate("Reference_Number")" />
                        <RadzenDataGridColumn TItem="TaskVM" Width="143px" Property="TaskNo" Title="@translationState.Translate("Task_Number")" />
                        <RadzenDataGridColumn TItem="TaskVM" Width="140px" Property="Name" Title="@translationState.Translate("Task_Name")">
                            <Template Context="rowItem">
                                <RadzenLabel Text="@translationState.Translate(rowItem.Name)" />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="TaskVM" Width="140px" Property="Date" Title="@translationState.Translate("Task_Date")" FormatString="{0:dd/MM/yyyy}" />
                            <RadzenDataGridColumn TItem="TaskVM" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "StatusNameEn" : "StatusNameAr") Title="@translationState.Translate("Status")" />
                        <RadzenDataGridColumn TItem="TaskVM" Width="140px" Property="AssignedBy" Title="@translationState.Translate("Assigned_By")" />
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </div>

    @*Advance search Window*@
    <TelerikWindow Class="advance-search-window" Size="@(ThemeConstants.Window.Size.Medium)" Draggable="true" Top="45%" Left="45%" Visible="@isVisible">
        <WindowTitle>
            <h1 class="pageTitle">@translationState.Translate("Advanced_Search")</h1>
        </WindowTitle>
        <WindowActions>
            <WindowAction Name="Minimize"></WindowAction>
            <WindowAction Name="Close" OnClick="ToggleAdvanceSearch"></WindowAction>
        </WindowActions>
        <WindowContent>
            <div class="row">
                <div class="col-md-6">
                    <RadzenLabel Text="@translationState.Translate("Task_Name")" Component="Name" />
                    <RadzenTextBox Placeholder="@translationState.Translate("Task_Name")" @bind-Value="@advanceSearchVM.Name" Name="Name" />
                </div>@*
            <div class="col-md-6">
            <RadzenLabel Text="@translationState.Translate("Description")" Component="Description" />
            <RadzenTextBox Placeholder="@translationState.Translate("Description")" @bind-Value="@advanceSearchVM.Description" Name="Description" />
            </div>*@
            </div>
            <div class="row" Style="margin-top:10px;">
                <div class="col-md-6" style="padding-left: 10px;">
                    <RadzenLabel Text="@translationState.Translate("From_Date")" Component="From_Date" />
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="From_Date" @bind-Value="@advanceSearchVM.FromDate" />
                </div>
                <div class="col-md-6" style="padding-left: 10px;">
                    <RadzenLabel Text="@translationState.Translate("To_Date")" Component="To_Date" />
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="To_Date" @bind-Value="@advanceSearchVM.ToDate" />
                </div>
            </div>
            <div class="row" Style="margin-top:10px;">
                <div class="col-md-6" style="padding-left: 10px;">
                    <RadzenLabel Text="@translationState.Translate("Task_Status")" Component="Status" />
                    <RadzenDropDown @ref="@ddlStatus"
                                Data="@TaskStatuses"
                                @bind-Value="advanceSearchVM.TaskStatusId"
                                ValueProperty="TaskStatusId"
                                TextProperty="NameEn"
                                Placeholder="@translationState.Translate("Select")"
                                Style="display:block;"
                                Name="Status"
                                AllowFiltering="false"
                                AllowClear="true" />
                </div>
            </div>

            <div class="row justify-content-end pt-3">
                <div class="col-md-12 popup-buttons-alignment" >
                    <RadzenButton ButtonType="Radzen.ButtonType.Button" Icon="search" Text="@translationState.Translate("Grid_Search")" Click="SubmitAdvanceSearch" />
                    @if (Keywords == true)
                    {
                        <RadzenButton ButtonSize="Radzen.ButtonSize.Medium" Icon="find_replace" Text="@translationState.Translate("Reset")" Click="ResetForm" />
                    }
                </div>
            </div>
        </WindowContent>
    </TelerikWindow>

}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
} 