@page "/document-list"
@using FATWA_DOMAIN.Models.ViewModel.DmsVMs

@layout MainLayout


@if (loginState.ClaimList.Where(x => x.Value == "Permissions.Submenu.Document.DocumentList").Count() > 0)
{
    <RadzenContent Container="main">
        <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenBreadCrumb>
                            <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                            <RadzenBreadCrumbItem Text="@translationState.Translate("Document_List")" />
                        </RadzenBreadCrumb>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="backtoDashboard">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_Dashboard")"
                                      class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_HomeScreen")"
                                      class="returnBtn"
                                      Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>

            <div class="row TitleBar justify-content-left align-items-center py-4">
                <div class="col-md-6">
                    <div class="row pt-3 no-gutters">
                        <RadzenHeading Size="H1" Text="@(IsFavourite == false? translationState.Translate("Document_List") : @translationState.Translate("Favourite_Documents_List"))" />
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mainContentBlock py-4">
                <div class="col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <RadzenTextBox class="searchBox"
                                           Placeholder="@translationState.Translate("Grid_Search")"
                                           Name="Textbox0"
                                           @bind-Value="search"
                                           @oninput="@(async(args) => {search = $"{args.Value}";await OnSearchInput();})" />
                        </div>
                        <div class="col-md-8 d-flex justify-content-end tableAdditionButton px-0 pb-3">
                            <RadzenButton class="addBtn" Icon="add" Text="@translationState.Translate("Add_Document")" Click="@AddDocument" />
                            <RadzenButton class="addBtn"
                                          Icon="search"
                                          Text="@translationState.Translate("Advanced_Search")"
                                          Click="ToggleAdvanceSearch" />
                        </div>
                    </div>
                    <div class="row tableContent table-responsive no-gutters pb-3">
                        <RadzenTabs TabPosition="Radzen.TabPosition.Top" @bind-SelectedIndex="selectedTabIndex" RenderMode="TabRenderMode.Server" Change="OnTabChange" Style="margin: 20px auto;">
                            <Tabs>

                                <RadzenTabsItem Text="@translationState.Translate("Document_List")">
                                        <RadzenDataGrid @ref="grid"
                                                        FilterMode="Radzen.FilterMode.Advanced"
                                                        Count="@(documentList?.Any() == true ? documentList.FirstOrDefault().TotalCount : 0)"
                                                        AllowPaging="true"
                                                        AllowSorting="true"
                                                        AllowFiltering="false"
                                                        Data="FilteredDocumentList"
                                                        TItem="DMSDocumentListVM"
                                                        LoadData=@OnLoadData
                                                        Sort="@OnSortData"
                                                        PageSize="@systemSettingState.Grid_Pagination"
                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                        PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                        ShowPagingSummary="true">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="50px" TextAlign="TextAlign.Center">
                                                    <Template Context="rowItem">
                                                        <RadzenButton ButtonStyle="ButtonStyle.Info" Class="viewIcon" Icon="visibility" Size="ButtonSize.Small" Click="@((args) => DocumentDetail(rowItem))" @onclick:stopPropagation="true" />
                                                        @if (rowItem.IsDocunentFavourite == false)
                                                        {
                                                            <RadzenButton ButtonStyle="ButtonStyle.Success"
                                                                          Icon="favorite"
                                                                          Size="ButtonSize.Small"
                                                                          Click="@((args) => AddFavouriteDocument(rowItem))"
                                                                          @onclick:stopPropagation="true" />
                                                        }
                                                        else
                                                        {
                                                            <RadzenButton ButtonStyle="ButtonStyle.Warning"
                                                                          Icon="favorite_border"
                                                                          Size="ButtonSize.Small"
                                                                          Click="@((args) => RemoveFavouriteDocument(rowItem))"
                                                                          @onclick:stopPropagation="true" />
                                                        }
                                                        @if (rowItem.IsDocumentAddedStatus == false)
                                                        {
                                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="download" Class="m-1" Click="@(args => DownloadAttachement(rowItem))" @onclick:stopPropagation="true">
                                                            </RadzenButton>

                                                        }
                                                        else
                                                        {
                                                            @if (!String.IsNullOrEmpty(rowItem.StoragePath))
                                                            {
                                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="download" Class="m-1" Click="@(args => DownloadAttachement(rowItem))" @onclick:stopPropagation="true">
                                                                </RadzenButton>
                                                            }
                                                            else
                                                            {
                                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="download" Class="m-1" Click="@(args => ConvertAndDownloadAttachement(rowItem))" @onclick:stopPropagation="true">
                                                                </RadzenButton>
                                                            }
                                                        }
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="80px" Property="DocumentName" Title="@translationState.Translate("Document_Name")" />
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="80px" Property="FileName" Title="@translationState.Translate("File_Name")" />
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="80px" Property="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "SharedByEn" : "SharedByAr")" Title="@translationState.Translate("Shared_By")" />
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="50px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Created_Date")" />
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="50px" Property="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "AttachmentTypeEn" : "AttachmentTypeAr")" Title="@translationState.Translate("Attachment_Type")" />
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="50px" Title="@translationState.Translate("Version_Number")">
                                                    <Template Context="row">
                                                        @(row.VersionNumber == null ? 0 : row.VersionNumber)
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="50px" Title="@translationState.Translate("Status")">
                                                    <Template Context="row">
                                                        @if (row.StatusId == null)
                                                        {
                                                            @translationState.Translate("Uploaded")
                                                        }
                                                        else
                                                        {
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? row.StatusEn : row.StatusAr)
                                                        }
                                                    </Template>
                                                </RadzenDataGridColumn>

                                            </Columns>
                                        </RadzenDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Text="@translationState.Translate("Favourite_Documents_List")">
                                        <RadzenDataGrid @ref="gridFav"
                                                        FilterMode="Radzen.FilterMode.Advanced"
                                                        Count="@(documentList?.Any() == true ? documentList.FirstOrDefault().TotalCount : 0)"
                                                        AllowPaging="true"
                                                        AllowSorting="true"
                                                        AllowFiltering="false"
                                                        Data="FilteredDocumentList"
                                                        TItem="DMSDocumentListVM"
                                                        LoadData=@OnLoadData
                                                        Sort="@OnSortData"
                                                        PageSize="@systemSettingState.Grid_Pagination"
                                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                        EmptyText="@translationState.Translate("No_record_found")"
                                                        PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                        ShowPagingSummary="true">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="50px" TextAlign="TextAlign.Center">
                                                    <Template Context="rowItem">
                                                        <RadzenButton ButtonStyle="ButtonStyle.Info" Class="viewIcon" Icon="visibility" Size="ButtonSize.Small" Click="@((args) => DocumentDetail(rowItem))" @onclick:stopPropagation="true" />
                                                        @if (rowItem.IsDocunentFavourite == false)
                                                        {
                                                            <RadzenButton ButtonStyle="ButtonStyle.Success"
                                                                          Icon="favorite"
                                                                          Size="ButtonSize.Small"
                                                                          Click="@((args) => AddFavouriteDocument(rowItem))"
                                                                          @onclick:stopPropagation="true" />
                                                        }
                                                        else
                                                        {
                                                            <RadzenButton ButtonStyle="ButtonStyle.Warning"
                                                                          Icon="favorite_border"
                                                                          Size="ButtonSize.Small"
                                                                          Click="@((args) => RemoveFavouriteDocument(rowItem))"
                                                                          @onclick:stopPropagation="true" />
                                                        }
                                                        @if (rowItem.IsDocumentAddedStatus == false)
                                                        {
                                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="download" Class="m-1" Click="@(args => DownloadAttachement(rowItem))" @onclick:stopPropagation="true">
                                                            </RadzenButton>

                                                        }
                                                        else
                                                        {
                                                            @if (!String.IsNullOrEmpty(rowItem.StoragePath))
                                                            {
                                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="download" Class="m-1" Click="@(args => DownloadAttachement(rowItem))" @onclick:stopPropagation="true">
                                                                </RadzenButton>
                                                            }
                                                            else
                                                            {
                                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="download" Class="m-1" Click="@(args => ConvertAndDownloadAttachement(rowItem))" @onclick:stopPropagation="true">
                                                                </RadzenButton>
                                                            }
                                                        }
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="80px" Property="DocumentName" Title="@translationState.Translate("Document_Name")" />
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="80px" Property="FileName" Title="@translationState.Translate("File_Name")" />
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="80px" Property="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "SharedByEn" : "SharedByAr")" Title="@translationState.Translate("Shared_By")" />
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="50px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Created_Date")" />
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="50px" Property="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "AttachmentTypeEn" : "AttachmentTypeAr")" Title="@translationState.Translate("Attachment_Type")" />
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="50px" Title="@translationState.Translate("Version_Number")">
                                                    <Template Context="row">
                                                        @(row.VersionNumber == null ? 0 : row.VersionNumber)
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="DMSDocumentListVM" Width="50px" Title="@translationState.Translate("Status")">
                                                    <Template Context="row">
                                                        @if (row.StatusId == null)
                                                        {
                                                            @translationState.Translate("Uploaded")
                                                        }
                                                        else
                                                        {
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? row.StatusEn : row.StatusAr)
                                                        }
                                                    </Template>
                                                </RadzenDataGridColumn>

                                            </Columns>
                                        </RadzenDataGrid>
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    </div>
                </div>
            </div>
        </ChildContent>
    </RadzenContent>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}
@*Advance search Window*@
<TelerikWindow Class="advance-search-window" Size="@(ThemeConstants.Window.Size.Medium)" Draggable="true" Top="45%" Left="45%" Visible="@isVisible">
    <WindowTitle>
        <h1 class="pageTitle">@translationState.Translate("Advanced_Search")</h1>
    </WindowTitle>
    <WindowActions>
        <WindowAction Name="Minimize"></WindowAction>
        <WindowAction Name="Close" OnClick="@ToggleAdvanceSearch"></WindowAction>
    </WindowActions>
    <WindowContent>
        <div class="row">
            <div class="col-md-6">
                <RadzenLabel Text="@translationState.Translate("File_Name")" Component="Filename" />
                <RadzenTextBox Placeholder="@translationState.Translate("File_Name")" @bind-Value="@advanceSearchVM.Filename" Name="Filename" />
            </div>
            <div class="col-md-6">
                <RadzenLabel Text="@translationState.Translate("Attachment_Type")" Component="AttachmentTypeId" />

                <RadzenDropDown Data="@attachmentTypes" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowClear="true"
                                TextProperty="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US"? "Type_En" : "Type_Ar")" ValueProperty="AttachmentTypeId" Placeholder="@translationState.Translate("Select")"
                                Style="display:block;" @bind-Value="@advanceSearchVM.AttachmentTypeId" Name="AttachmentTypeId" />
            </div>

        </div>
        <div class="row" Style="margin-top:10px;">
            <div class="col-md-6">
                <RadzenLabel Text="@translationState.Translate("From_Date")" Component="CreatedFrom" />
                <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="CreatedFrom" @bind-Value="@advanceSearchVM.CreatedFrom" />
            </div>
            <div class="col-md-6">
                <RadzenLabel Text="@translationState.Translate("To_Date")" Component="CreatedTo" />
                <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="CreatedTo" @bind-Value="@advanceSearchVM.CreatedTo" />
            </div>
        </div>
        <div class="row" Style="margin-top:10px;">
            <div class="col-md-6">
                <div class="NT-sub-div">
                    <p class="NT-label">@translationState.Translate("isFavourite")</p>
                    <RadzenCheckBox class="NT-checkbox" @bind-Value="@(advanceSearchVM.isFavourite)" Name="isFavourite"></RadzenCheckBox>
                </div>
            </div>
        </div>
        <div class="row justify-content-end pt-3">
            <div class="col-md-12 popup-buttons-alignment">
                <RadzenButton ButtonType="Radzen.ButtonType.Button" Icon="search" Text="@translationState.Translate("Grid_Search")" Click="SubmitAdvanceSearch" />
                @if (Keywords == true)
                {
                    <RadzenButton ButtonSize="Radzen.ButtonSize.Medium" Icon="find_replace" Text="@translationState.Translate("Reset")" Click="ResetForm" />
                }
            </div>
        </div>
    </WindowContent>
</TelerikWindow>

