@page "/time-log-consultation-request-list"
@using FATWA_DOMAIN.Models.ViewModel.CaseManagment;
@using FATWA_DOMAIN.Models.ViewModel.ConsultationVMs
@using FATWA_WEB.Pages.CaseManagment.Shared
@using FATWA_WEB.Pages.Consultation.Shared
@using static FATWA_DOMAIN.Enums.Consultation.ConsultationEnums
@using static FATWA_DOMAIN.Enums.GeneralEnums
@using static FATWA_DOMAIN.Enums.CaseManagementEnums
@layout MainLayout

<PageTitle>@translationState.Translate("Time_Log_Consultation_Request_List")</PageTitle>
@if (loginState.ClaimList.Where(x => x.Value == "Permissions.Submenu.COMS.Request.List").Count() > 0)
{

    <RadzenContent Container="main">
        <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenBreadCrumb>
                            <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                            @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.Contracts)
                            {
                                <RadzenBreadCrumbItem Text="@translationState.Translate("Time_Log_Contracts_Request_List")" />
                            }
                            @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.InternationalArbitration)
                            {
                                <RadzenBreadCrumbItem Text="@translationState.Translate("Time_Log_International_Arbitration_Request_List")" />
                            }
                            @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.LegalAdvice)
                            {
                                <RadzenBreadCrumbItem Text="@translationState.Translate("Time_Log_Legal_Advice_Request_List")" />
                            }
                            @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.Legislations)
                            {
                                <RadzenBreadCrumbItem Text="@translationState.Translate("Time_Log_Legislations_Request_List")" />
                            }
                            @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.AdministrativeComplaints)
                            {
                                <RadzenBreadCrumbItem Text="@translationState.Translate("Time_Log_Administrative_Complaints_Request_List")" />
                            }
                            @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.PrivateOperationalSector)
                            {
                                <RadzenBreadCrumbItem Text="@translationState.Translate("Time_Log_Requests_List")" />
                            }
                            @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.PublicOperationalSector)
                            {
                                <RadzenBreadCrumbItem Text="@translationState.Translate("Time_Log_Requests_List")" />
                            }
                        </RadzenBreadCrumb>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="backtoDashboard">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_Dashboard")"
                                      class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_HomeScreen")"
                                      class="returnBtn"
                                      Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>
            <div class="row TitleBar justify-content-left align-items-center py-4">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.Contracts)
                        {
                            <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Time_Log_Contracts_Request_List")" />
                        }
                        @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.InternationalArbitration)
                        {
                            <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Time_Log_International_Arbitration_Request_List")" />
                        }
                        @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.LegalAdvice)
                        {
                            <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Time_Log_Legal_Advice_Request_List")" />
                        }
                        @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.Legislations)
                        {
                            <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Time_Log_Legislations_Request_List")" />
                        }
                        @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.AdministrativeComplaints)
                        {
                            <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Time_Log_Administrative_Complaints_Request_List")" />
                        }
                        @if (advanceSearchCOMSVM.SectorTypeId == (int)OperatingSectorTypeEnum.PublicOperationalSector)
                        {
                            <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("TimeLog_Request_List")" />
                        }
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end ">
                </div>
            </div>
            <div class="row justify-content-center mainContentBlock py-4">
                <div class="col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <RadzenTextBox class="searchBox"
                                           Placeholder="@translationState.Translate("Grid_Search")"
                                           Name="Textbox0"
                                           @oninput="@(async(args) => {search = $"{args.Value}";await OnSearchInput();})" />
                        </div>
                        <div class="col-md-8 tableAdditionButton addPrincipleBtn  pb-3 ">
                            <div class="d-flex flex-row-reverse">

                                <RadzenButton class="addBtn"
                                              Icon="search"
                                              Text="@translationState.Translate("Advanced_Search")"
                                              Click="ToggleAdvanceSearch" />
                            </div>

                        </div>

                    </div>
                    <div class="row tableContent table-responsive no-gutters pb-3">
                        <RadzenDataGrid @ref="grid"
                                        FilterMode="Radzen.FilterMode.Advanced"
                                        Count="@(getConsultationRequestDetail?.Any() == true ? getConsultationRequestDetail.FirstOrDefault().TotalCount : 0)"
                                        AllowPaging="true"
                                        AllowSorting="true"
                                        AllowFiltering="false"
                                        SelectionMode="DataGridSelectionMode.Multiple"
                                        ExpandMode="DataGridExpandMode.Single"
                                        LoadData=@OnLoadData
                                        Data="@FilteredConsultationRequestDetail"
                                        Sort=@OnSort
                                        TItem="ConsultationRequestVM"
                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                        EmptyText="@translationState.Translate("No_record_found")"
                                        ShowPagingSummary="true"
                                        AllowRowSelectOnRowClick="@allowRowSelectOnRowClick">
                            <Template Context="file">
                                <TimeTrackingDataGrid ReferenceId="file.ConsultationRequestId" SubModuleId="(int)SubModuleEnum.ConsultationRequest"></TimeTrackingDataGrid>
                            </Template>
                            <Columns>
                                <RadzenDataGridColumn TItem="ConsultationRequestVM" Width="150px" Property="RequestNumber" Title="@translationState.Translate("Request_Number")" />
                                <RadzenDataGridColumn TItem="ConsultationRequestVM" Width="150px" Property="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Status_Name_En" :"Status_Name_Ar")" Title="@translationState.Translate("Status")" />
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </div>
            </div>

        </ChildContent>
    </RadzenContent>

    @*Advance search Window*@
    <TelerikWindow Class="advance-search-window" Size="@(ThemeConstants.Window.Size.Medium)" Draggable="true" Top="45%" Left="45%" Visible="@isVisible">
        <WindowTitle>
            <h1 class="pageTitle">@translationState.Translate("Advanced_Search")</h1>
        </WindowTitle>
        <WindowActions>
            <WindowAction Name="Minimize"></WindowAction>
            <WindowAction Name="Close" OnClick="@ToggleAdvanceSearch"></WindowAction>
        </WindowActions>
        <WindowContent>
            <div class="row">
                <div class="col-md-6">

                    <RadzenLabel Text="@translationState.Translate("Request_Number")" Component="Number" />
                    <RadzenTextBox Placeholder="@translationState.Translate("Request_Number")" @bind-Value="@advanceSearchCOMSVM.RequestNumber" Name="Number" />
                </div>
                <div class="col-md-6">
                    <RadzenLabel Text="@translationState.Translate("Status")" Component="Status" />
                    <RadzenDropDown Data="@Statuses" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowClear="true"
                                    TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar") ValueProperty="Id" Placeholder="@translationState.Translate("Select")"
                                    Style="display:block;" @bind-Value="@advanceSearchCOMSVM.StatusId" Name="Status" />
                </div>
            </div>
            <div class="row justify-content-end pt-3">
                <div class="col-md-12 popup-buttons-alignment">
                    <RadzenButton ButtonType="Radzen.ButtonType.Button" Icon="search" Text="@translationState.Translate("Grid_Search")" Click="SubmitAdvanceSearch" />
                    @if (Keywords == true)
                    {
                        <RadzenButton ButtonSize="Radzen.ButtonSize.Medium" Icon="find_replace" Text="@translationState.Translate("Reset")" Click="ResetForm" />
                    }
                </div>
            </div>
        </WindowContent>
    </TelerikWindow>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}

<style>
    .rz-datatable .rz-col-icon {
        text-align: center;
        vertical-align: middle;
        width: 1.4rem !important;
        padding: 0;
    }
</style>
