@page "/consultationrequest-more-detail-view/{consultationRequestId}"
@using FATWA_DOMAIN.Models.ViewModel;
@using Syncfusion.Blazor.PdfViewer
@using Syncfusion.Blazor.PdfViewerServer
@using static FATWA_DOMAIN.Enums.GeneralEnums;
@layout MainLayout

<PageTitle>"@translationState.Translate("View_Response_Need_More_Details")</PageTitle>
<RadzenContent Container="main">
    <ChildContent>
        <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
            <div class="col-md-6">
                <div class="row no-gutters">
                    <RadzenBreadCrumb>
                        <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                        <RadzenBreadCrumbItem Path="/consultationrequest-list" Text="@translationState.Translate("Consultation_Request_List")" />
                        <RadzenBreadCrumbItem Text="@translationState.Translate("View_Response_Need_More_Details")" />
                    </RadzenBreadCrumb>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <div class="backtoDashboard">
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back")"
                                  class="returnBtn" Icon="@(System.Globalization.CultureInfo.CurrentCulture.Name == "en-US"? "arrow_back" : "arrow_forward")" Click="@RedirectBack" />
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back_Dashboard")"
                                  class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                    <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                  Size="ButtonSize.Small"
                                  title="@translationState.Translate("Go_Back_HomeScreen")"
                                  class="returnBtn"
                                  Icon="home" Click="@GoBackHomeScreen" />
                </div>
            </div>



        </div>
        <div class="col-4 save-case-request-col">
            @if (ShowDocumentViewer)
            {
                @* <TelerikPdfViewer @ref="PdfViewerRef"
                    Width="100%"
                    Height="1000px"
                    Data="@FileData"
                    Class="m-3" /> *@
                <SfPdfViewerServer EnableNavigationToolbar="false"
                                   Width="100%"
                                   Height="1000px"
                                   @ref="@pdfViewer"
                                   EnableRtl="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? false : true)"
                                   Locale="@(Thread.CurrentThread.CurrentUICulture.Name)"
                                   ID="pdfviewerDetailCommunication"
                                   DocumentPath="@DocumentPath"
                                   InteractionMode="InteractionMode.Pan">
                </SfPdfViewerServer>
            }
        </div>
        <div class="row no-gutters pb-3">
            <div class="col-md-08">
                <RadzenAccordion>
                    <Items>
                        <RadzenAccordionItem Text="@translationState.Translate("File_Request_Need_More_Details")" Selected="true">
                            <div class="row no-gutters">

                                <div class="col-6 detailSection">
                                    <div class="detailHeading">
                                        <h3>@translationState.Translate("Date")</h3>
                                    </div>
                                    <div class="detailContent">
                                        <h3>@consultationRequestResponseVM?.RequestOrFileDate?.ToString("dd/MM/yyyy")</h3>
                                    </div>
                                </div>

                                <div class="col-6 detailSection">
                                    <div class="detailHeading">
                                        <h3>@translationState.Translate("Response_Date")</h3>
                                    </div>
                                    <div class="detailContent">
                                        <h3>@consultationRequestResponseVM?.ResponseDate?.ToString("dd/MM/yyyy")</h3>
                                    </div>
                                </div>
                                <div class="col-6 detailSection">
                                    <div class="detailHeading">
                                        <h3>@translationState.Translate("Response_Type")</h3>
                                    </div>
                                    <div class="detailContent">
                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? consultationRequestResponseVM?.ResponseTypeEn : consultationRequestResponseVM?.ResponseTypeAr)</h3>
                                    </div>
                                </div>
                                <div class="col-6 detailSection">
                                    <div class="detailHeading">
                                        <h3>@translationState.Translate("Reason")</h3>
                                    </div>
                                    <div class="detailContent">
                                        <h3>@consultationRequestResponseVM?.Reason</h3>
                                    </div>
                                </div>
                                <div class="col-6 detailSection">
                                    <div class="detailHeading">
                                        <h3>@translationState.Translate("Other")</h3>
                                    </div>
                                    <div class="detailContent">
                                        <h3>@consultationRequestResponseVM?.Other</h3>
                                    </div>
                                </div>
                                <div class="col-6 detailSection">
                                    <div class="detailHeading">
                                        <h3>@translationState.Translate("Due_Date")</h3>
                                    </div>
                                    <div class="detailContent">
                                        <h3>@consultationRequestResponseVM?.DueDate?.ToString("dd/MM/yyyy")</h3>
                                    </div>
                                </div>
                                <div class="col-6 detailSection">
                                    <div class="detailHeading">
                                        <h3>@translationState.Translate("Priority")</h3>
                                    </div>
                                    <div class="detailContent">
                                        <h3>@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? consultationRequestResponseVM?.PriorityNameEN : consultationRequestResponseVM?.PriorityNameAr)</h3>
                                    </div>
                                </div>
                                <div class="col-6 detailSection">
                                    <div class="detailHeading">
                                        <h3>@translationState.Translate("Is_Urgent")</h3>
                                    </div>
                                    <div class="detailContent">
                                        <h3>@consultationRequestResponseVM?.IsUrgent</h3>
                                    </div>
                                </div>

                            </div>

                        </RadzenAccordionItem>
                    </Items>
                </RadzenAccordion>
            </div>
        </div>




        <div class="row">
            <div class="col-12">
                <RadzenCard>
                    <div class="row">
                        <div class="col-4">
                            <h2 class="formHeading">@translationState.Translate("Attachments")</h2>
                            <div class="row pb-2">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="tableContent table-responsive datagrid-rz-label">
                                        <RadzenDataGrid AllowPaging="true"
                                                        PageSize="3"
                                                        Data="@OfficialAttachments"
                                                        TItem="TempAttachementVM">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="TempAttachementVM" Width="150px" Property="AttachmentTypeId" Title="@translationState.Translate("Document_Type")">
                                                    <Template Context="attachment">
                                                        @if (attachment.AttachmentTypeId == (int)AttachmentTypeEnum.Other)
                                                        {
                                                            <RadzenLabel Text="@attachment.OtherAttachmentType" />
                                                        }
                                                        else
                                                        {
                                                            <RadzenLabel Text="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? AttachmentTypes?.Where(t => t.AttachmentTypeId == attachment.AttachmentTypeId).FirstOrDefault()?.Type_En : AttachmentTypes?.Where(t => t.AttachmentTypeId == attachment.AttachmentTypeId).FirstOrDefault()?.Type_Ar)" />
                                                        }
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="TempAttachementVM" Width="50px" Frozen="true" Context="attachment" Filterable="false" Sortable="false" TextAlign="Radzen.TextAlign.Center">
                                                    <Template Context="attachment">
                                                        <RadzenButton ButtonStyle="ButtonStyle.Info"
                                                                      Icon="visibility"
                                                                      Class="viewIcon"
                                                                      Click="@(args => ViewAttachement(attachment))"
                                                                      @onclick:stopPropagation="true"
                                                                      Disabled="attachment.StoragePath == null" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-8" style="text-align: right;">
                            <TelerikButton Class="mt-4 cancleBtn"
                                           ButtonType="Telerik.Blazor.ButtonType.Button"
                                           ThemeColor="light">
                                @translationState.Translate("Back")
                            </TelerikButton>
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>

    </ChildContent>
</RadzenContent>