@page "/case-requests"

@using FATWA_DOMAIN.Models.ViewModel.AdminVM.CaseManagment;
@using FATWA_DOMAIN.Models.ViewModel.CaseManagment;
@using FATWA_WEB.Services.Lms;
@using static FATWA_DOMAIN.Enums.CaseManagementEnums;
@using FATWA_WEB.Pages.CaseManagment.Shared;
@using static FATWA_DOMAIN.Enums.GeneralEnums;
@layout MainLayout
<PageTitle>@translationState.Translate("Case_Requests")</PageTitle>
@if (loginState.ClaimList.Where(x => x.Value == "Permissions.Submenu.CMS.CaseRequest.List").Count() > 0)
{

    <RadzenContent Container="main">
        <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenBreadCrumb>
                            <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                            <RadzenBreadCrumbItem Text="@translationState.Translate("Case_Requests")" />
                        </RadzenBreadCrumb>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="backtoDashboard">

                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_Dashboard")"
                                      class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_HomeScreen")"
                                      class="returnBtn"
                                      Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>
            <div class="row TitleBar justify-content-left align-items-center py-4">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("Case_Requests")" />
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                </div>
            </div>

            <div class="row justify-content-center mainContentBlock py-4">
                <div class="col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-4 tableAdditionButton addPrincipleBtn px-0">
                            <RadzenTextBox class="searchBox"
                                           Placeholder="@translationState.Translate("Grid_Search")"
                                           Name="Textbox0"
                                           @oninput="@(async(args) => {search = $"{args.Value}";await OnSearchInput();})" />
                        </div>
                        <div class="col-md-8 d-flex justify-content-end tableAdditionButton px-0 pb-3 addPrincipleBtn">
                            <RadzenButton style="margin-left: 0.2rem !important" ButtonStyle="ButtonStyle.Primary" Text="@translationState.Translate("Link")" Disabled="@(selectedRequests == null || selectedRequests.Count() < 2)" Click="@LinkRequests" />
                            <RadzenButton class="addBtn"
                                          Icon="search"
                                          Text="@translationState.Translate("Advanced_Search")"
                                          Click="ToggleAdvanceSearch" />
                        </div>
                    </div>
                    <div class="row tableContent table-responsive no-gutters pb-3">
                        <RadzenDataGrid Width="100%"
                                        @ref="grid"
                                        SelectionMode="DataGridSelectionMode.Multiple"
                                        AllowRowSelectOnRowClick="@allowRowSelectOnRowClick"
                                        ExpandMode="DataGridExpandMode.Single"
                                        RowExpand="@ExpandWithDrawAndLinkedCaseRequest"
                                        FilterMode="Radzen.FilterMode.Advanced"
                                        Count="@(getCaseRequestDetail?.Any() == true ? getCaseRequestDetail.FirstOrDefault().TotalCount : 0)"
                                        AllowPaging="true"
                                        AllowSorting="true"
                                        AllowFiltering="false"
                                        Data="@FilteredGetCaseRequestDetail"
                                        TItem="CmsCaseRequestVM"
                                        LoadData=@OnLoadData
                                        Sort=@OnSort
                                        PageSize="@systemSettingState.Grid_Pagination"
                                        PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                        @bind-Value=@selectedRequests
                                        PageSizeText="@translationState.Translate("Items_Per_Page")"
                                        PageSizeOptions="@systemSettingState.Page_Size_Options"
                                        EmptyText="@translationState.Translate("No_record_found")"
                                        RowRender="@RowRender"
                                        CellRender="@CellRender"
                                        PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                        ShowPagingSummary="true">
                            <Template Context="file">
                                <RadzenCard class="bg-light">
                                    <RadzenTabs TabPosition="Radzen.TabPosition.Top" Style="margin: 15px auto;" RenderMode="TabRenderMode.Server" Change="OnTabChange">
                                        <Tabs>
                                            <RadzenTabsItem Text="@translationState.Translate("Withdraw_Case_Request")">
                                                <div class="row pb-2">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        <div class="tableContent table-responsive">
                                                            <RadzenDataGrid AllowFiltering="false"
                                                                            AllowPaging="true"
                                                                            AllowSorting="true"
                                                                            Data="@getWithDrawCaseRequest"
                                                                            TItem="CmsWithDrawCaseRequestVM"
                                                                            Count="@(getWithDrawCaseRequest !=null ? getWithDrawCaseRequest.Count() : 0)"
                                                                            PageSize="@systemSettingState.Grid_Pagination"
                                                                            PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                            PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                                            PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                                            EmptyText="@translationState.Translate("No_record_found")"
                                                                            PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                                            ShowPagingSummary="true">
                                                                <Columns>
                                                                    <RadzenDataGridColumn TItem="CmsWithDrawCaseRequestVM" Width="100px" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                                                        <Template Context="rowItem">
                                                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                                                                          Icon="visibility"
                                                                                          Size="ButtonSize.Small"
                                                                                          Click="@((args) => ViewDetail(rowItem))"
                                                                                          @onclick:stopPropagation="true" />
                                                                        </Template>
                                                                    </RadzenDataGridColumn>
                                                                    <RadzenDataGridColumn TItem="CmsWithDrawCaseRequestVM" Width="125px" Property="RequestNumber" Title="@translationState.Translate("Request_Number")" />
                                                                    <RadzenDataGridColumn TItem="CmsWithDrawCaseRequestVM" Width="150px" Property="Subject" Title="@translationState.Translate("Subject")" />
                                                                    <RadzenDataGridColumn TItem="CmsWithDrawCaseRequestVM" Width="140px" Property="RequestDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Submitted_Date")" />
                                                                    <RadzenDataGridColumn TItem="CmsWithDrawCaseRequestVM" Width="100px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Status_Name_En" : "Status_Name_Ar") Title="@translationState.Translate("Status")" />
                                                                    <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="180px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "GovermentEntity_Name_En": "GovermentEntity_Name_Ar") Title="@translationState.Translate("Government_Entity")" />
                                                                </Columns>
                                                            </RadzenDataGrid>
                                                        </div>
                                                    </div>
                                                </div>
                                            </RadzenTabsItem>
                                            <RadzenTabsItem Text="@translationState.Translate("Linked_Requests")">
                                                <div class="row pb-2">
                                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        <div class="tableContent table-responsive">
                                                            <RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
                                                                            Width="100%"
                                                                            AllowFiltering="false"
                                                                            FilterMode="Radzen.FilterMode.Advanced"
                                                                            AllowPaging="true"
                                                                            AllowSorting="true"
                                                                            Data="@linkedRequests"
                                                                            Count="@(linkedRequests !=null ? linkedRequests.Count() : 0)"
                                                                            PageSize="@systemSettingState.Grid_Pagination"
                                                                            PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                            PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                                            PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                                            PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                                            ShowPagingSummary="true">
                                                                <Columns>
                                                                    <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="125px" Property="RequestNumber" Title="@translationState.Translate("Request_Number")" />

                                                                    <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="150px" Property="Subject" Title="@translationState.Translate("Subject")" />
                                                                    <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="140px" Property="RequestDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Submitted_Date")" />
                                                                    <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="100px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Status_Name_En" : "Status_Name_Ar") Title="@translationState.Translate("Status")" />
                                                                    <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="100px" Property="CreatedBy" Title="@translationState.Translate("Sent_By")" />
                                                                    <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="180px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "GovermentEntity_Name_En" : "GovermentEntity_Name_Ar") Title="@translationState.Translate("Government_Entity")" />
                                                                </Columns>
                                                            </RadzenDataGrid>
                                                        </div>
                                                    </div>
                                                </div>
                                            </RadzenTabsItem>
                                        </Tabs>
                                    </RadzenTabs>
                                </RadzenCard>
                            </Template>
                            <Columns>
                                <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="40px" Sortable="false" Filterable="false" TextAlign="TextAlign.Center">
                                    <HeaderTemplate>
                                        <RadzenCheckBox TriState="false"
                                                        Value="@((getCaseRequestDetail!=null && selectedRequests != null)? (getCaseRequestDetail.Except(selectedRequests).Any()? false : true) :false)"
                                                        TValue="bool"
                                                        Change="@(args => selectedRequests = args ? getCaseRequestDetail.ToList() : null)" />
                                    </HeaderTemplate>
                                    <Template Context="data">
                                        <RadzenCheckBox TriState="false"
                                                        Value="@(selectedRequests != null && selectedRequests.Contains(data))"
                                                        TValue="bool"
                                                        Change=@(args => { if(!allowRowSelectOnRowClick) { grid.SelectRow(data); }}) />
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="CmsCaseRequestVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                    <Template Context="rowItem">
                                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                                      Icon="visibility"
                                                      Size="ButtonSize.Small"
                                                      Click="@((args) => Grid0RowSelect(rowItem))"
                                                      @onclick:stopPropagation="true" />
                                        @if (rowItem.StatusId == (int)CaseRequestStatusEnum.ConvertedToFile)
                                        {
                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                                          Icon="file_copy"
                                                          Size="ButtonSize.Small"
                                                          Click="@((args) => ConvertedtoFileButton(rowItem))"
                                                          @onclick:stopPropagation="true" />
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="125px" Property="RequestNumber" Title="@translationState.Translate("Request_Number")" />
                                <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="180px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "GovermentEntity_Name_En" : "GovermentEntity_Name_Ar") Title="@translationState.Translate("Government_Entity")" />
                                <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="150px" Property="Subject" Title="@translationState.Translate("Subject")" />
                                <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="140px" Property="RequestDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Submitted_Date")" />
                                <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="120px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Status_Name_En" : "Status_Name_Ar") Title="@translationState.Translate("Status")" />
                                <RadzenDataGridColumn TItem="CmsCaseRequestVM" Width="105px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Priority_Name_En" : "Priority_Name_Ar") Title="@translationState.Translate("Priority")" />
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </div>
            </div>
        </ChildContent>
    </RadzenContent>

    @*Advance search Window*@
    <TelerikWindow Class="advance-search-window" Size="@(ThemeConstants.Window.Size.Medium)" Draggable="true" Top="45%" Left="45%" Visible="@isVisible">
        <WindowTitle>
            <h1 class="pageTitle">@translationState.Translate("Advanced_Search")</h1>
        </WindowTitle>
        <WindowActions>
            <WindowAction Name="Minimize"></WindowAction>
            <WindowAction Name="Close" OnClick="@ToggleAdvanceSearch"></WindowAction>
        </WindowActions>
        <WindowContent>
            <div class="row">
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Request_Number")" Component="Number" />
                    <RadzenTextBox Placeholder="@translationState.Translate("Request_Number")" @bind-Value="@advanceSearchVM.RequestNumber" Name="Number" />
                </div>
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Subject")" Component="Subject" />
                    <RadzenTextBox Placeholder="@translationState.Translate("Subject")" @bind-Value="@advanceSearchVM.Subject" Name="Subject" />
                </div>
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Status")" Component="Status" />
                    <RadzenDropDown Data="@Statuses" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowClear="true"
                                    TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar") ValueProperty="Id" Placeholder="@translationState.Translate("Select")"
                                    Style="display:block;" @bind-Value="@advanceSearchVM.StatusId" Name="Status" />
                </div>
            </div>
            <div class="row" Style="margin-top:10px;">
                <div class="col-md-6">
                    <RadzenLabel Text="@translationState.Translate("Request_From")" Component="Request_From" />
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="Request_From" @bind-Value="@advanceSearchVM.RequestFrom" />
                </div>
                <div class="col-md-6">
                    <RadzenLabel Text="@translationState.Translate("Request_To")" Component="Request_To" />
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="Request_To" @bind-Value="@advanceSearchVM.RequestTo" />
                </div>
            </div>
            <div class="row justify-content-end pt-3">
                <div class="col-md-12 popup-buttons-alignment">
                    <RadzenButton ButtonType="Radzen.ButtonType.Button" Icon="search" Text="@translationState.Translate("Grid_Search")" Click="SubmitAdvanceSearch" />
                    @if (Keywords == true)
                    {
                        <RadzenButton ButtonSize="Radzen.ButtonSize.Medium" Icon="find_replace" Text="@translationState.Translate("Reset")" Click="ResetForm" />
                    }
                </div>
            </div>
        </WindowContent>
    </TelerikWindow>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}
