@page "/list-committee"
@using FATWA_DOMAIN.Models.ViewModel.OrganizingCommitteeVMs
@using static FATWA_DOMAIN.Enums.OrganizingCommittee.OrganizingCommitteeEnum
@layout MainLayout

@if (loginState.ClaimList.Where(x => x.Value == "Permissions.Submenu.OrganizingCommittee.CommitteeList").Count() > 0)
{
    <RadzenContent Container="main">
        <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenBreadCrumb>
                            <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                            <RadzenBreadCrumbItem Text="@translationState.Translate("List_Committee")" />
                        </RadzenBreadCrumb>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="backtoDashboard">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_HomeScreen")"
                                      class="returnBtn"
                                      Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>
            <div class="row TitleBar justify-content-left align-items-center py-4">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("List_Committee")" />
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                </div>
            </div>
            <div class="row justify-content-center pt-4">
                <div class="col-md-12">
                    <RadzenCard>
                        <div class="row no-gutters">
                            <div class="col-md-4 " style="padding-left:0px;">
                                <RadzenTextBox class="searchBox"
                                               Placeholder="@translationState.Translate("Grid_Search")"
                                               Style="display: block; margin-bottom: 10px; width: 100%"
                                               Name="Textbox0"
                                               @oninput="@(async(args) => {await OnSearchInput($"{args.Value}");})" />
                             </div>
                            <div class="col-md-8 d-flex justify-content-end tableAdditionButton px-0 pb-3">
                                <RadzenButton class="addBtn btn-margin" Icon="add" Text="@translationState.Translate("Create_New_Committee")" Click="@AddCommittee" />
                                <RadzenButton class="addBtn"
                                              Icon="search"
                                              Text="@translationState.Translate("Advanced_Search")"
                                              Click="@ToggleAdvanceSearch" />
                            </div>

                            <div class="row tableContent table-responsive no-gutters pb-3">
                                <RadzenDataGrid Width="100%"
                                                @ref="committeeGrid"
                                                FilterMode="Radzen.FilterMode.Advanced"
                                                Count="@(GetCommittee?.Any() == true ? GetCommittee.FirstOrDefault().TotalCount : 0)"
                                                AllowPaging="true"
                                                AllowSorting="true"
                                                AllowFiltering="false"
                                                LoadData="OnLoadData"
                                                Data="@FilteredCommitteeListVM"
                                                Sort="OnSortData"
                                                SelectionMode="DataGridSelectionMode.Multiple"
                                                TItem="CommitteeListVm"
                                                PageSize="@systemSettingState.Grid_Pagination"
                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                EmptyText="@translationState.Translate("No_record_found")"
                                                PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                                ShowPagingSummary="true">
                                    <Columns>

                                        <RadzenDataGridColumn TItem="CommitteeListVm" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="140px" TextAlign="TextAlign.Center">
                                            <Template Context="rowItem">
                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                                              Icon="visibility"
                                                              Title="@translationState.Translate("View_Detail")"
                                                              Size="ButtonSize.Small"
                                                              Click="@((args) => ViewCommittee(rowItem))" @onclick:stopPropagation="true" />
                                                @if (rowItem.StatusId == (int)CommitteeStatusEnum.Draft)
                                                {
                                                    <RadzenButton ButtonStyle="ButtonStyle.Primary"
                                                                  Class="editIcon"
                                                                  Icon="mode"
                                                                  Title="@translationState.Translate("Edit")"
                                                                  Size="ButtonSize.Small"
                                                                  Click="@((args) => EditCommittee(rowItem))"
                                                                  @onclick:stopPropagation="true" />
                                                }
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="CommitteeListVm" Width="150px" Property="CommitteeNumber" Title="@translationState.Translate("Committe_Number")" />

                                        <RadzenDataGridColumn TItem="CommitteeListVm" Width="150px" Property="Subject" Title="@translationState.Translate("Subject")" />

                                        <RadzenDataGridColumn TItem="CommitteeListVm" Width="200px" Property="@(Thread.CurrentThread.CurrentUICulture.Name=="en-US"? "RoleNameEn":"RoleNameAr")" Title="@translationState.Translate("Committee_Role")"></RadzenDataGridColumn>

                                        <RadzenDataGridColumn TItem="CommitteeListVm" Width="150px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Created_Date")" />

                                        <RadzenDataGridColumn TItem="CommitteeListVm" Width="150px" Property="CircularIssueDate" Title="@translationState.Translate("Circular_Issue_Date")" />

                                        <RadzenDataGridColumn TItem="CommitteeListVm" Width="150px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US"?"StatusEn" :"StatusAr") Title="@translationState.Translate("Status")" />
                                    </Columns>
                                </RadzenDataGrid>
                            </div>

                        </div>
                    </RadzenCard>
                </div>
            </div>
        </ChildContent>
    </RadzenContent>
    @*Advance search Window*@
    <TelerikWindow Class="advance-search-window" Size="@(ThemeConstants.Window.Size.Medium)" Draggable="true" Top="45%" Left="45%" Visible="@isVisible">
        <WindowTitle>
            <h1 class="pageTitle">@translationState.Translate("Advanced_Search")</h1>
        </WindowTitle>
        <WindowActions>
            <WindowAction Name="Minimize"></WindowAction>
            <WindowAction Name="Close" OnClick="@ToggleAdvanceSearch"></WindowAction>
        </WindowActions>
        <WindowContent>
            <div class="row pt-2">
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Committe_Number")" Component="CommitteeNumber" />
                    <RadzenDropDown FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFiltering="true" Placeholder="@translationState.Translate("Committe_Number")"
                                    Data=@GetCommittee TextProperty=@("CommitteeNumber") ValueProperty="CommitteeNumber" AllowClear="true" @bind-Value="@advanceSearchCommitteeList.CommitteeNumber" Style="display:block;" Name="CommitteeNumber" />
                </div>
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Subject")" Component="Number" />
                    <RadzenTextBox Style="display:block;" Placeholder="@translationState.Translate("Subject")" class="claim-amount-field" Min="1" @bind-Value="@advanceSearchCommitteeList.Subject" Name="Subject" />
                </div>
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Status")" Component="CommitteeStatus" />
                    <RadzenDropDown Data="@CommitteeStatus" AllowFiltering="true" AllowClear="true"
                                    TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "NameEn" : "NameAr") ValueProperty="Id" Placeholder="@translationState.Translate("Select")"
                                    Style="display:block;" @bind-Value="@advanceSearchCommitteeList.StatusId" Name="CommitteeStatus" />

                </div>
            </div>
            <div class="row" Style="margin-top:10px;">
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Start_Date_From")" Component="CreatedDate_From" />
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="CreatedDate_From" @bind-Value="@advanceSearchCommitteeList.CreatedDateFrom" />
                </div>
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Start_Date_To")" Component="CreatedDate_To" />
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="CreatedDate_To" @bind-Value="@advanceSearchCommitteeList.CreatedDateTo" />
                </div>
            </div>
            <div class="row justify-content-end pt-3">
                <div class="col-md-6 popup-buttons-alignment">
                    <RadzenButton ButtonType="Radzen.ButtonType.Button" Icon="search" Text="@translationState.Translate("Grid_Search")" Click="SubmitAdvanceSearch" />
                    @if (Keywords == true)
                    {
                        <RadzenButton ButtonSize="Radzen.ButtonSize.Medium" Icon="find_replace" Text="@translationState.Translate("Reset")" Click="ResetForm" />
                    }
                </div>
            </div>
        </WindowContent>
    </TelerikWindow>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}