@page "/decision"
@using Syncfusion.Blazor.RichTextEditor
@using static FATWA_DOMAIN.Enums.Inventory.InventoryEnum
@using static FATWA_DOMAIN.Enums.GeneralEnums
@using static FATWA_DOMAIN.Enums.WorkflowModuleAndActivitiesEnum
@using static FATWA_DOMAIN.Enums.ServiceRequests.ServiceRequestEnums;

@layout MainLayout

<div class="row pt-2">
    <div class="col-md-12">
        <RadzenCard>
            <div class="row pb-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-group">
                        <RadzenLabel Text="@(translationState.Translate("Action") + " *")" Component="RemarkType" />
                        <RadzenDropDown Data="@RequestStatuses"
                                        AllowFiltering="true"
                                        AllowClear="true"
                                        Disabled="RemarkType > 0 ? true :false"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        TextProperty="RemarkTypeEnumName"
                                        ValueProperty="RemarkTypeEnumValue"
                                        Placeholder="@translationState.Translate("Select")"
                                        Style="display:block;"
                                        @bind-Value="@remarks.TypeId"
                                        Name="RemarkType" />
                        <div class="rz-message rz-messages-error ">@StatusValidationMessage</div>
                    </div>
                </div>
                @if (remarks.TypeId == (int)RemarkTypeEnum.Rejected || remarks.TypeId == (int)RemarkTypeEnum.NeedModification)
                {
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group claim-amount-field">
                            <RadzenLabel Text="@(translationState.Translate("Reason") + " *")" Component="Reason" />
                            <RadzenTextArea Placeholder=@translationState.Translate("Reason") Class="w-100" @bind-Value="remarks.RemarkContent" Min="1" Name="Reason" />
                            <div class="rz-message rz-messages-error ">@reasonValidationMessage</div>
                        </div>
                    </div>
                    @*  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <FileUpload ReferenceGuid="decisionStatus.CommentId"
                @bind-DeletedAttachementIds="@DeletedAttachementIds"
                Multiple="true"
                MaxFileSize="systemSettingState.File_Maximum_Size"
                FileTypes="@(systemSettingState.FileTypes.ToList())"
                UploadFrom="BugReporting"
                HideView="true"
                MandatoryAttachmentTypeId="(int)AttachmentTypeEnum.Bug"
                ModuleId="(int)WorkflowModuleEnum.BugReporting" />
                </div> *@
                }
                @*       @if (remarks.TypeId == (int)RemarkTypeEnum.Rejected)
                {
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="form-group claim-amount-field">
                <RadzenLabel Text="@(translationState.Translate("Reason") + " *")" Component="Reason" />
                <RadzenTextArea Placeholder=@translationState.Translate("Reason") Class="w-100" @bind-Value="decisionStatus.Reason" Min="1" Name="Reason" />
                <div class="rz-message rz-messages-error ">@reasonValidationMessage</div>
                </div>
                </div>
                } *@
                @if (remarks.TypeId == (int)RemarkTypeEnum.AddResolution || remarks.TypeId == (int)RemarkTypeEnum.ReOpen)
                {
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="form-group claim-amount-field">
                            <RadzenLabel Text="@(translationState.Translate("Description") + " *")" Component="Reason" />
                            <SfRichTextEditor EnableAutoUrl="false" EnableRtl="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? false : true)"
                                              Locale="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "en-US" : "ar-KW")" @bind-Value="remarks.RemarkContent">
                                <RichTextEditorToolbarSettings Items="@Tools" />
                                <RichTextEditorQuickToolbarSettings Image="@ImageTools" />
                                <RichTextEditorImageSettings EnableResize="true" AllowedTypes=@allowedTypes SaveFormat="SaveFormat.Base64"></RichTextEditorImageSettings>
                            </SfRichTextEditor>
                            <div class="rz-message rz-messages-error ">@reasonValidationMessage</div>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-12 p-3" style="text-align:end;">
                    <RadzenButton Text="@translationState.Translate("Submit")"
                                  ButtonStyle="ButtonStyle.Primary"
                                  style="margin-right: 0.2rem !important"
                                  Click="SubmitRemark"
                                  ButtonType="Radzen.ButtonType.Button" />
                    <RadzenButton Text="@translationState.Translate("Cancel")"
                                  ButtonStyle="ButtonStyle.Light"
                                  ButtonType="Radzen.ButtonType.Button"
                                  Click="@ButtonCancelClick" />
                </div>
            </div>
        </RadzenCard>
    </div>
</div>