@page "/add-inventory-request/{RequestTypeId}/{SectorTypeId}"
@page "/add-inventory-request/{ServiceRequestId}"
@using FATWA_DOMAIN.Models.InventoryManagement
@using FATWA_DOMAIN.Models.ServiceRequestModels
@layout MainLayout

<!--<History Author = "Umer Zaman" Date="2022-04-02" Version="1.0" Branch="master"> Add / update Contact request</History>-->
@if ((loginState.ClaimList.Where(x => x.Value == "Permissions.SR.ServiceRequest.Create").Count() > 0 && ServiceRequestId == null) || (loginState.ClaimList.Where(x => x.Value == "Permissions.SR.ServiceRequest.Edit").Count() > 0 && ServiceRequestId != null))
{
    <RadzenContent Container="main">
        <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenBreadCrumb>
                            <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                            <RadzenBreadCrumbItem Path="/servicerequest-list" Text="@translationState.Translate("Service_Requests")" />
                            <PageTitle>@(ServiceRequestId == null ? translationState.Translate("Add_Inventory_Request") : translationState.Translate("Edit_Service_Request"))</PageTitle>
                            <RadzenBreadCrumbItem Text="@((ServiceRequestId == null ? translationState.Translate("Add_Inventory_Request") : translationState.Translate("Edit_Inventory_Request")))" />
                        </RadzenBreadCrumb>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="backtoDashboard"> 
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_Dashboard")"
                                      class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_HomeScreen")"
                                      class="returnBtn"
                                      Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>
            <div class="row TitleBar justify-content-left align-items-center py-4">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <div class="row no-gutters">
                            <RadzenHeading Size="H1" class="pageTitle" Text="@((ServiceRequestId == null ? translationState.Translate("Add_Inventory_Request") : translationState.Translate("Edit_Inventory_Request")))"></RadzenHeading>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                </div>
            </div>

            <div class="row justify-content-center mainContentBlock no-gutters bg-light p-0">
                <div class="col-md-12 save-case-request-col k-overflow-y-scroll">
                    <RadzenTemplateForm Data="@InvServiceRequests" Visible="@(InvServiceRequests.ServiceRequestId != null)" TItem="ServiceRequest" Submit="@Form0Submit">
                        <ChildContent>
                            <div class="col-md-12 save-case-request-col k-overflow-y-scroll">
                                <RadzenCard class="m-2">
                                    <div class="row pb-2">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <RadzenLabel Style="font-weight:bold"
                                                             Text="@(translationState.Translate("Request_Number"))"
                                                             Component="Store_Name" />

                                                <RadzenTextBox @bind-Value="@(InvServiceRequests.ServiceRequestNumber)"
                                                               Placeholder="@translationState.Translate("Request_Number")"
                                                               Name="Store_Name" Disabled />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <RadzenLabel Style="font-weight:bold"
                                                             Text="@(translationState.Translate("Request_Date"))"
                                                             Component="Store_Type" />

                                                <RadzenTextBox Value="@(InvServiceRequests.CreatedDate.ToString())"
                                                               Placeholder="@translationState.Translate("Request_Date")"
                                                               Name="Store_Type" Disabled />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row pb-2">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <RadzenLabel Style="font-weight:bold"
                                                             Text="@(translationState.Translate("Submitted_By"))"
                                                             Component="Store_Name" />

                                                <RadzenTextBox @bind-Value="@(RequestorName)"
                                                               Placeholder="@translationState.Translate("Submitted_By")"
                                                               Name="Store_Name" Disabled />
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                            <div class="form-group">
                                                <RadzenLabel Style="font-weight:bold"
                                                             Text="@(translationState.Translate("Approved_By"))"
                                                             Component="Store_Type" />

                                                <RadzenTextBox Value="@("Approved_By")"
                                                               Placeholder="@translationState.Translate("Approved_By")"
                                                               Name="Store_Type" Disabled />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row pb-2">
                                        <div class="col-12 col-sm-12  col-md-4 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <RadzenLabel Style="font-weight:bold"
                                                             Text="@(translationState.Translate("Category") + "*")"
                                                             Component="Category" />
                                                <RadzenDropDown Data="@Categories"
                                                                Style="width:100%;max-width:100%;"
                                                                PageSize="20"
                                                                @bind-Value="@categoryId"
                                                                ValueProperty="ItemCategoryId"
                                                                TextProperty="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "NameEn" : "NameAr")"
                                                                AllowClear=true
                                                                AllowFiltering="true"
                                                                AllowColumnResize="true"
                                                                AllowFilteringByAllStringColumns="true"
                                                                Placeholder="@translationState.Translate("Select")"
                                                                Change="@(args => OnChangeCategory(categoryId))"
                                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                                @onclick:stopPropagation="true"
                                                                Name="Category">
                                                </RadzenDropDown>
                                                @* <RadzenRequiredValidator DefaultValue="0" Component="Category" Text="@translationState.Translate("Required_Field")" /> *@
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <RadzenLabel Style="font-weight:bold" Text="@(translationState.Translate("Select_Item"))" Component="Item" />
                                                <RadzenDropDown Data="@FilterItems.ExceptBy(AddedItems.Select(x=>x.ItemId),x=>x.ItemId)"
                                                                Style="width:100%;max-width:100%;"
                                                                PageSize="20"
                                                                @bind-Value="@RequestItem.ItemId"
                                                                ValueProperty="ItemId"
                                                                TextProperty="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "ItemNameEn" : "ItemNameAr")"
                                                                AllowClear=true
                                                                AllowFiltering="true"
                                                                Placeholder="@translationState.Translate("Select")"
                                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                                @onclick:stopPropagation="true"
                                                                Name="Item"
                                                                Disabled="@(categoryId == 0)">
                                                </RadzenDropDown>
                                                @* <RadzenRequiredValidator DefaultValue="0" Component="Item" Text="@translationState.Translate("Required_Field")" /> *@
                                            </div>
                                        </div>



                                        <div class="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4">
                                            <div class="form-group">
                                                <RadzenLabel Style="font-weight:bold" Text="@(translationState.Translate("Item_Quantity") + "*")" Component="Item_Quantity" />
                                                <RadzenNumeric Name="Item_Quantity"
                                                               Min="1"
                                                               Placeholder="@translationState.Translate("Item_Quantity")"
                                                               @bind-Value="@RequestItem.RequestQuantity" />
                                                @* <RadzenRequiredValidator DefaultValue="0" Component="Item_Quantity" Text="@translationState.Translate("Required_Field")" /> *@
                                            </div>
                                        </div>

                                        <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 pt-1">
                                            <div class="form-group ">

                                                <RadzenButton ButtonStyle="ButtonStyle.Primary"
                                                              Size="ButtonSize.Small"
                                                              ButtonType="Radzen.ButtonType.Button"
                                                              Icon="add_circle_outline"
                                                              Text="@translationState.Translate("Add_To_List")"
                                                              Click="@AddItemToSelectedList"
                                                              @onclick:stopPropagation="true"
                                                              Disabled="@(categoryId == 0 || RequestItem.RequestQuantity == 0 || RequestItem.ItemId == Guid.Empty)" />


                                            </div>
                                        </div>


                                    </div>

                                    <div class="row pb-4">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="tableContent table-responsive">
                                                <RadzenDataGrid @ref="grid"
                                                                AllowFiltering="false"
                                                                EmptyText="@translationState.Translate("No_record_found")"
                                                                AllowPaging="true"
                                                                AllowSorting="true"
                                                                Data="@AddedItems"
                                                                TItem="InvItemsVM"
                                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                                PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                                ShowPagingSummary="true"
                                                                ColumnWidth="180px">
                                                    <Columns>
                                                        <RadzenDataGridColumn TItem="InvItemsVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="50px" TextAlign="TextAlign.Center">
                                                            <Template Context="rowItem">
                                                                <RadzenButton ButtonStyle="ButtonStyle.Danger"
                                                                              Icon="delete"
                                                                              Size="ButtonSize.Small"
                                                                              Click="@((args) => DeleteSelectedItem(rowItem))"
                                                                              @onclick:stopPropagation="true" />
                                                            </Template>
                                                        </RadzenDataGridColumn>
                                                        <RadzenDataGridColumn TItem="InvItemsVM" Width="80px" Property="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "CategoryNameEn" : "CategoryNameEn")" Title="@translationState.Translate("Category")" />
                                                        <RadzenDataGridColumn TItem="InvItemsVM" Width="80px" Property="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "ItemNameEn" : "ItemNameAr")" Title="@translationState.Translate("Name")" />
                                                        <RadzenDataGridColumn TItem="InvItemsVM" Width="50px" Property="TotalQuantity" Title="@translationState.Translate("Quantity")" />

                                                    </Columns>
                                                </RadzenDataGrid>
                                            </div>
                                        </div>
                                    </div>
                                </RadzenCard>

                                <RadzenCard>
                                    <div class="col-12 p-0 d-flex justify-content-end">
                                        <RadzenButton ButtonType="Radzen.ButtonType.Submit" style="margin-left: 0.5rem !important" Disabled="@(!AddedItems.Any())" ButtonStyle="ButtonStyle.Primary" Text="@translationState.Translate("Save")" />
                                        <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 0.5rem !important" Text="@translationState.Translate("Cancel")" Click="@CancelForm">
                                        </RadzenButton>
                                    </div>
                                </RadzenCard>
                            </div>

                        </ChildContent>
                    </RadzenTemplateForm>
                </div>
            </div>
        </ChildContent>
    </RadzenContent>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}

