@page "/list-bugticket"
@using FATWA_DOMAIN.Models.ViewModel.BugReportingVMs
@using static FATWA_DOMAIN.Enums.BugReporting.BugReportingEnum
@layout MainLayout
@implements IDisposable

<PageTitle>@translationState.Translate("List_Bug_Ticket")</PageTitle>



@if (loginState.ClaimList.Any(x => x.Value == "Permissions.SubMenu.Ticket.List"))
{
    <RadzenContent Container="main">
        <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenBreadCrumb>
                            <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                            <RadzenBreadCrumbItem Text="@translationState.Translate("List_Bug_Ticket")" />
                        </RadzenBreadCrumb>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="backtoDashboard">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_HomeScreen")"
                                      class="returnBtn"
                                      Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>
            <div class="row TitleBar justify-content-left align-items-center py-4">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenHeading Size="H1" class="pageTitle" Text="@translationState.Translate("List_Bug_Ticket")" />
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                </div>
            </div>
            <div class="row justify-content-center pt-4">
                <div class="col-md-12">
                    <RadzenCard>
                        <div class="row no-gutters">
                            <div class="col-md-4 " style="padding-left:0px;">
                                <RadzenTextBox class="searchBox"
                                               Placeholder="@translationState.Translate("Grid_Search")"
                                               Style="display: block; margin-bottom: 10px; width: 100%"
                                               Name="Textbox0"
                                @oninput="@(async(args) => {await OnSearchInput($"{args.Value}");})" />
                            </div>
                            <div class="col-md-8 d-flex justify-content-end tableAdditionButton px-0 pb-3">
                                @if (SelectedTicketList.Count() == 0)
                                {
                                    <RadzenButton class="addBtn btn-margin" Icon="close" Text="@translationState.Translate("Close_Ticket")" Click="@CloseTicketList" Disabled="true" />
                                }
                                @if (SelectedTicketList.Count() > 0)
                                {
                                    <RadzenButton class="addBtn btn-margin" Icon="close" Text="@(SelectedTicketList.Count() > 1 ? translationState.Translate("Close_All_Tickets") : translationState.Translate("Close_Ticket"))" Click="@CloseTicketList" />
                                }
                                <RadzenButton class="addBtn btn-margin" Icon="add" Text="@translationState.Translate("Raise_A_Ticket")" Click="@AddTicket" />
                                <RadzenButton class="addBtn"
                                              Icon="search"
                                              Text="@translationState.Translate("Advanced_Search")"
                                              Click="@ToggleAdvanceSearch" />
                            </div>

                        </div>
                        <div class="row tableContent table-responsive no-gutters pb-3">
                            <RadzenDataGrid Width="100%"
                            @ref="ticketGrid"
                                            FilterMode="Radzen.FilterMode.Advanced"
                                            Count="@(GetTicket?.Any() == true ? GetTicket.FirstOrDefault().TotalCount : 0)"
                                            AllowPaging="true"
                                            AllowSorting="true"
                                            AllowFiltering="false"
                                            LoadData="OnLoadData"
                                            Data="@FilteredTicketListVM"
                                            Sort="OnSortData"
                                            SelectionMode="DataGridSelectionMode.Multiple"
                            @bind-Value="@SelectedTicketList"
                                            TItem="TicketListVM"
                                            PageSize="@systemSettingState.Grid_Pagination"
                                            PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                            PageSizeText="@translationState.Translate("Items_Per_Page")"
                                            PageSizeOptions="@systemSettingState.Page_Size_Options"
                                            EmptyText="@translationState.Translate("No_record_found")"
                                            PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")"
                                            ShowPagingSummary="true"
                                            AllowRowSelectOnRowClick="false">
                                <Columns>
                                    <RadzenDataGridColumn TItem="TicketListVM" Width="60px" Sortable="false" Filterable="false" TextAlign="TextAlign.Center">
                                        <HeaderTemplate>
                                            <RadzenCheckBox TriState="false"
                                                            Value="@((FilteredTicketListVM!=null && SelectedTicketList != null) ? (FilteredTicketListVM.Except(SelectedTicketList).Any() ? false : true) :false)"
                                                            TValue="bool"
                                                            Change="(args => OnSelectList(args))" />

                                        </HeaderTemplate>
                                        <Template Context="data">
                                            <RadzenCheckBox Disabled="(data.StatusId != (int)BugStatusEnum.Resolved)"
                                                            TriState="false"
                                                            Value="@(SelectedTicketList != null && SelectedTicketList.Contains(data))"
                                                            TValue="bool" Change=@(args => ticketGrid.SelectRow(data)) />
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="TicketListVM" Title="@translationState.Translate("Action")" Filterable="false" Sortable="false" Width="140px" TextAlign="TextAlign.Center">
                                        <Template Context="rowItem">
                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="visibility" Title="@translationState.Translate("View_Detail")" Size="ButtonSize.Small" Click="@((args) => ViewBugTicket(rowItem))" @onclick:stopPropagation="true" />
                                            @if (rowItem.StatusId == (int)BugStatusEnum.Resolved)
                                            {
                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="close" Title="@translationState.Translate("Close_Ticket")" Size="ButtonSize.Small" Click="@((args) => CloseTicket(rowItem))" @onclick:stopPropagation="true" />
                                            }
                                            @if (rowItem.StatusId == (int)BugStatusEnum.Draft)
                                            {
                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="edit" title="@translationState.Translate("Edit")" Size="ButtonSize.Small" Click="@((args) => EditBugTicket(rowItem))" @onclick:stopPropagation="true" />
                                            }
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property="TicketId" Title="@translationState.Translate("Ticket_Id")" />
                                    <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US"?"IssueTypeEn" :"IssueTypeAr") Title="@translationState.Translate("Issue_Type")" />
                                    <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property="Subject" Title="@translationState.Translate("Subject")" />
                                    <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US"?"StatusEn" :"StatusAr") Title="@translationState.Translate("Status")" />
                                    <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "ApplicationEn":"ApplicationAr" )" Title="@translationState.Translate("Application")" />
                                    <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US"?"ModuleEn":"ModuleAr") Title="@translationState.Translate("Module")" />
                                    <RadzenDataGridColumn TItem="TicketListVM" Width="150px" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Creation_Date")" />
                                </Columns>
                            </RadzenDataGrid>
                        </div>
                    </RadzenCard>
                </div>
            </div>
        </ChildContent>
    </RadzenContent>
    @*Advance search Window*@
    <TelerikWindow Class="advance-search-window" Size="@(ThemeConstants.Window.Size.Medium)" Draggable="true" Top="45%" Left="45%" Visible="@isVisible">
        <WindowTitle>
            <h1 class="pageTitle">@translationState.Translate("Advanced_Search")</h1>
        </WindowTitle>
        <WindowActions>
            <WindowAction Name="Minimize"></WindowAction>
            <WindowAction Name="Close" OnClick="@ToggleAdvanceSearch"></WindowAction>
        </WindowActions>
        <WindowContent>
            <div class="row pt-2">
                <div class="col-md-3">
                    <RadzenLabel Text="@translationState.Translate("Ticket_Id")" Component="Number" />
                    <RadzenTextBox Style="display:block;" Placeholder="@translationState.Translate("Ticket_Id")" class="claim-amount-field" Min="1" @bind-Value="@advanceSearchTicketList.TicketId" Name="Number" />
                </div>
                <div class="col-md-3">
                    <RadzenLabel Text="@translationState.Translate("Application")" Component="Application" />
                    <RadzenDropDown Data="@Applications" AllowFiltering="true" AllowClear="true"
                                    TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar") ValueProperty="Id" Placeholder="@translationState.Translate("Select")"
                                    Style="display:block;" @bind-Value="@advanceSearchTicketList.ApplicationId" Name="Application" />
                </div>
                <div class="col-md-3">
                    <RadzenLabel Text="@translationState.Translate("Module")" Component="Module" />
                    <RadzenDropDown Data="@Modules" AllowFiltering="true" AllowClear="true"
                                    TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Name_En" : "Name_Ar") ValueProperty="Id" Placeholder="@translationState.Translate("Select")"
                                    Style="display:block;" @bind-Value="@advanceSearchTicketList.ModuleId" Name="Module" />
                </div>
                <div class="col-md-3">
                    <RadzenLabel Text="@translationState.Translate("Status")" Component="BugStatus" />
                    <RadzenDropDown Data="@BugStatuses" AllowFiltering="true" AllowClear="true"
                                    TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "Value_En" : "Value_Ar") ValueProperty="Id" Placeholder="@translationState.Translate("Select")"
                                    Style="display:block;" @bind-Value="@advanceSearchTicketList.StatusId" Name="BugStatus" />

                </div>
            </div>
            <div class="row" Style="margin-top:10px;">
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Date_From")" Component="CreatedDate_From" />
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="CreatedDate_From" @bind-Value="@advanceSearchTicketList.CreatedDateFrom" />
                </div>
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Date_To")" Component="CreatedDate_To" />
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="CreatedDate_To" @bind-Value="@advanceSearchTicketList.CreatedDateTo" />
                </div>
                <div class="col-md-4">
                    <RadzenLabel Text="@translationState.Translate("Subject")" Component="Number" />
                    <RadzenTextBox Style="display:block;" Placeholder="@translationState.Translate("Subject")" class="claim-amount-field" Min="1" @bind-Value="@advanceSearchTicketList.Subject" Name="Number" />
                </div>
            </div>
            <div class="row justify-content-end pt-3">
                <div class="col-md-12 popup-buttons-alignment">
                    <RadzenButton ButtonType="Radzen.ButtonType.Button" Icon="search" Text="@translationState.Translate("Grid_Search")" Click="SubmitAdvanceSearch" />
                    @if (Keywords == true)
                    {
                        <RadzenButton ButtonSize="Radzen.ButtonSize.Medium" Icon="find_replace" Text="@translationState.Translate("Reset")" Click="ResetForm" />
                    }
                </div>
            </div>
        </WindowContent>
    </TelerikWindow>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}

<style>
    .advance-search-window {
        max-width: 880px !important;
    }
</style>


