@page "/leave-request-detail/{RequestTypeId}/{ServiceRequestId}"
@page "/reduceworkinghours-request-detail/{RequestTypeId}/{ServiceRequestId}"
@page "/fingerprintexemption-request-detail/{RequestTypeId}/{ServiceRequestId}"
@page "/permission-request-detail/{RequestTypeId}/{ServiceRequestId}"
@page "/appointment-medicalcouncil-request-detail/{RequestTypeId}/{ServiceRequestId}"

@page "/leave-request-detail/{RequestTypeId}/{ServiceRequestId}/{TaskId}"
@page "/reduceworkinghours-request-detail/{RequestTypeId}/{ServiceRequestId}/{TaskId}"
@page "/fingerprintexemption-request-detail/{RequestTypeId}/{ServiceRequestId}/{TaskId}"
@page "/permission-request-detail/{RequestTypeId}/{ServiceRequestId}/{TaskId}"
@page "/appointment-medicalcouncil-request-detail/{RequestTypeId}/{ServiceRequestId}/{TaskId}"
@layout MainLayout


@using FATWA_DOMAIN.Common
@using FATWA_DOMAIN.Models.ViewModel.InventoryManagementVMs;
@using FATWA_DOMAIN.Models.ViewModel.ServiceRequestVMs
@using FATWA_WEB.Pages.Shared
@using static FATWA_DOMAIN.Enums.TaskEnums
@using static FATWA_DOMAIN.Enums.WorkflowModuleAndActivitiesEnum
@using static FATWA_DOMAIN.Enums.ServiceRequests.ServiceRequestEnums
@using static FATWA_DOMAIN.Enums.Inventory.InventoryEnum;

@if (loginState.ClaimList.Where(x => x.Value == "Permissions.SR.ServiceRequest.Detail").Any())
{
    <PageTitle>@PageHeading</PageTitle>
    <RadzenContent Container="main">
        <ChildContent>
            <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenBreadCrumb>
                            <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                            @if (TaskId is not null)
                            {
                                <RadzenBreadCrumbItem onclick="@RedirectBack" Text="@translationState.Translate("Previous_Page")" />
                            }
                            else
                            {
                                <RadzenBreadCrumbItem Path="/servicerequest-list" Text="@translationState.Translate("Service_Requests")" />
                            }
                            <RadzenBreadCrumbItem Text="@PageHeading" />
                        </RadzenBreadCrumb>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="backtoDashboard">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_Dashboard")"
                                      class="returnBtn" Icon="dashboard" Click="@GoBackDashboard" />
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                      Size="ButtonSize.Small"
                                      title="@translationState.Translate("Go_Back_HomeScreen")"
                                      class="returnBtn"
                                      Icon="home" Click="@GoBackHomeScreen" />
                    </div>
                </div>
            </div>

            <div class="row TitleBar justify-content-left align-items-center py-4">
                <div class="col-md-6">
                    <div class="row no-gutters">
                        <RadzenHeading Size="H1" Text="@PageHeading" />
                    </div>
                </div>
            </div>

            <div class="row d-block justify-content-left p-0 m-0 tab-webkit-fill">
                <RadzenCard>
                    <RadzenAccordion>
                        <Items>
                            <RadzenAccordionItem Text="@translationState.Translate("Details")" Selected="true">
                                <div class="row pb-2">
                                    <div class="col-12 datagrid-rz-label">
                                        <div class="row no-gutters">
                                            @if (ServiceRequestDetail?.RequestTypeId == (int)ServiceRequestTypeEnum.SubmitaLeaveRequest)
                                            {
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Service_Request_Number")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @ServiceRequestDetail?.ServiceRequestNumber
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @ServiceRequestDetail?.RequestCreatedDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Status")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.RequestStatusEn : @ServiceRequestDetail?.RequestStatusAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Sector_Sent_By")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.SectorFromEn : @ServiceRequestDetail.SectorFromAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Requestor_Name")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.RequestorNameEn : @ServiceRequestDetail?.RequestorNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Leave_Type")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? LeaveAttendanceRequestDetail.LeaveTypeEn : LeaveAttendanceRequestDetail.LeaveTypeAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                @* <div class="col-6 detailSection">
                                        <div class="detailHeading">
                                        <h3>@translationState.Translate("Annual_Leave_Balance")</h3>
                                        </div>
                                        <div class="detailContent">
                                        <h3>
                                        @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? LeaveAttendanceRequestDetail.Le : LeaveAttendanceRequestDetail.LeaveTypeAr)
                                        </h3>
                                        </div>
                                        </div> *@
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Start_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail.StartDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("End_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail.EndDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Total_Duration")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail.TotalDuration
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Hand_Over_To")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? LeaveAttendanceRequestDetail.DelegatedUserNameEn : LeaveAttendanceRequestDetail.DelegatedUserNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Remarks")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail.Remarks
                                                        </h3>
                                                    </div>
                                                </div>
                                            }
                                            @if (ServiceRequestDetail?.RequestTypeId == (int)ServiceRequestTypeEnum.RequestToReduceWorkingHours)
                                            {
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Service_Request_Number")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @ServiceRequestDetail?.ServiceRequestNumber
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @ServiceRequestDetail?.RequestCreatedDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Status")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.RequestStatusEn : @ServiceRequestDetail?.RequestStatusAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Sector_Sent_By")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.SectorFromEn : @ServiceRequestDetail.SectorFromAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Requestor_Name")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.RequestorNameEn : @ServiceRequestDetail?.RequestorNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reason")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? LeaveAttendanceRequestDetail?.ReduceHoursReasonEn : @LeaveAttendanceRequestDetail?.ReduceHoursReasonAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                @* <div class="col-6 detailSection">
                                        <div class="detailHeading">
                                        <h3>@translationState.Translate("Other")</h3>
                                        </div>
                                        <div class="detailContent">
                                        <h3>
                                        @LeaveAttendanceRequestDetail?.Other
                                        </h3>
                                        </div>
                                        </div> *@
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Start_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.StartDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("End_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.EndDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Total_Duration")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.TotalDuration
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Days_Of_Absence")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? LeaveAttendanceRequestDetail.selectedDaysNameEn : LeaveAttendanceRequestDetail.selectedDaysNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Start_Time")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.StartTime
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("End_Time")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.EndTime
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Total_Time_Duration")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.TotalTimeDuration
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Remarks")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail.Remarks
                                                        </h3>
                                                    </div>
                                                </div>
                                            }
                                            @if (ServiceRequestDetail?.RequestTypeId == (int)ServiceRequestTypeEnum.RequestForFingerprintExemption)
                                            {
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Service_Request_Number")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @ServiceRequestDetail?.ServiceRequestNumber
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @ServiceRequestDetail?.RequestCreatedDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Status")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.RequestStatusEn : @ServiceRequestDetail?.RequestStatusAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Sector_Sent_By")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.SectorFromEn : @ServiceRequestDetail.SectorFromAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Requestor_Name")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.RequestorNameEn : @ServiceRequestDetail?.RequestorNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Exemption_Type")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? LeaveAttendanceRequestDetail?.ExemptionNameEn : @LeaveAttendanceRequestDetail?.ExemptionNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Exemption_Time")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? LeaveAttendanceRequestDetail?.ExemptionTimeNameEn : @LeaveAttendanceRequestDetail?.ExemptionTimeNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Start_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.StartDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("End_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.EndDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Total_Duration")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.TotalDuration
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reason")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.Reason
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Remarks")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail.Remarks
                                                        </h3>
                                                    </div>
                                                </div>
                                            }
                                            @if (ServiceRequestDetail?.RequestTypeId == (int)ServiceRequestTypeEnum.SubmitaRequestforPermission)
                                            {
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Service_Request_Number")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @ServiceRequestDetail?.ServiceRequestNumber
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @ServiceRequestDetail?.RequestCreatedDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Status")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.RequestStatusEn : @ServiceRequestDetail?.RequestStatusAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Sector_Sent_By")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.SectorFromEn : @ServiceRequestDetail.SectorFromAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Requestor_Name")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.RequestorNameEn : @ServiceRequestDetail?.RequestorNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Permission_Type")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? LeaveAttendanceRequestDetail.PermissionNameEn : LeaveAttendanceRequestDetail.PermissionNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Permission_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail.PermissionDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Start_Time")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.StartTime
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("End_Time")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.EndTime
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Total_Time_Duration")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.TotalTimeDuration
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Hand_Over_To")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? LeaveAttendanceRequestDetail.DelegatedUserNameEn : LeaveAttendanceRequestDetail.DelegatedUserNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Reason")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail?.Reason
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Remarks")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail.Remarks
                                                        </h3>
                                                    </div>
                                                </div>
                                            }
                                            @if (ServiceRequestDetail?.RequestTypeId == (int)ServiceRequestTypeEnum.RequestforAppointmentwithMedicalCouncil)
                                            {
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Service_Request_Number")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @ServiceRequestDetail?.ServiceRequestNumber
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @ServiceRequestDetail?.RequestCreatedDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Request_Status")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.RequestStatusEn : @ServiceRequestDetail?.RequestStatusAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Sector_Sent_By")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.SectorFromEn : @ServiceRequestDetail.SectorFromAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Requestor_Name")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? ServiceRequestDetail?.RequestorNameEn : @ServiceRequestDetail?.RequestorNameAr)
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Suggested_Appointment_Date")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail.SuggestedAppointmentDate?.ToString("dd/MM/yyyy")
                                                        </h3>
                                                    </div>
                                                </div>
                                               
                                                <div class="col-6 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Remarks")</h3>
                                                    </div>
                                                    <div class="detailContent">
                                                        <h3>
                                                            @LeaveAttendanceRequestDetail.Remarks
                                                        </h3>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        @if (ServiceRequestDetail?.RequestTypeId == (int)ServiceRequestTypeEnum.RequestforAppointmentwithMedicalCouncil)
                                        {
                                            <div class="row no-gutters">
                                                <div class="col-12 detailSection">
                                                    <div class="detailHeading">
                                                        <h3>@translationState.Translate("Description")</h3>
                                                    </div>
                                                </div>
                                                <div class="col-12 detailSection">
                                                    <div class="detailContent">
                                                        <h3>
                                                            @((MarkupString)LeaveAttendanceRequestDetail.Description)
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>

                    <RadzenAccordion>
                        <Items>
                            <RadzenAccordionItem Text="@translationState.Translate("Document_Details")" Selected="false">
                                <FileUpload ReferenceGuid="LeaveAttendanceRequestDetail.Id"
                                            IsViewOnly="true"
                                            ModuleId="(int)WorkflowModuleEnum.LeaveAndAttendance " />
                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>

                    @if (RequestRemarksDetailVM.Where(x => x.TypeId == (int)RemarkTypeEnum.NeedModification).Count() > 0)
                    {
                        <RadzenAccordion>
                            <Items>
                                <RadzenAccordionItem Text="@translationState.Translate("Reason_For_Need_Modification")">
                                    @foreach (var item in RequestRemarksDetailVM.Where(x => x.TypeId == (int)RemarkTypeEnum.NeedModification))
                                    {
                                        <RadzenCard class="mb-3">
                                            <div class="row pb-2">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="row no-gutters">
                                                        <div class="col-6 detailSection">
                                                            <div class="detailHeading">
                                                                <h3>@translationState.Translate("Added_By")</h3>
                                                            </div>
                                                            <div class="detailContent">
                                                                <h3>
                                                                    @(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? item.RemarkByEn : item.RemarkByEn)
                                                                </h3>
                                                            </div>
                                                        </div>

                                                        <div class="col-6 detailSection">
                                                            <div class="detailHeading">
                                                                <h3>@translationState.Translate("Date")</h3>
                                                            </div>
                                                            <div class="detailContent">
                                                                <h3> @item.CreatedDate.ToString("dd/MM/yyyy")</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row no-gutters">
                                                        <div class="col-12 detailSection">
                                                            <div class="detailHeading">
                                                                <h3>@translationState.Translate("Description")</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row no-gutters">
                                                        <div class="detailContent">
                                                            <h3>@item.RemarkContent)</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </RadzenCard>
                                    }
                                </RadzenAccordionItem>
                            </Items>
                        </RadzenAccordion>
                    }

                    @if (RequestRemarksDetailVM.Where(x => x.TypeId == (int)RemarkTypeEnum.Rejected).Count() > 0)
                    {
                        <RadzenAccordion>
                            <Items>
                                <RadzenAccordionItem Text="@translationState.Translate("Rejection_Reason")">
                                    <div class="row pb-2">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="tableContent table-responsive">
                                                <RadzenDataGrid EmptyText="@translationState.Translate("No_record_found")"
                                                                AllowPaging="true"
                                                                PageSize="@systemSettingState.Grid_Pagination"
                                                                Data="@RequestRemarksDetailVM.Where(x => x.TypeId == (int)RemarkTypeEnum.Rejected)"
                                                                TItem="RequestRemarksDetailVM"
                                                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                                PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                                ShowPagingSummary="true"
                                                                ColumnWidth="200px"
                                                                Width="100%"
                                                                AllowFiltering="false"
                                                                FilterMode="Radzen.FilterMode.Advanced"
                                                                AllowSorting="true">
                                                    <Columns>
                                                        <RadzenDataGridColumn TItem="RequestRemarksDetailVM" Property="RemarkContent" Title="@translationState.Translate("Description")" />
                                                        <RadzenDataGridColumn TItem="RequestRemarksDetailVM" Property="@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "RemarkByEn" : "RemarkByAr")" Title="@translationState.Translate("Rejected_By")" />
                                                        <RadzenDataGridColumn TItem="RequestRemarksDetailVM" Property="CreatedDate" FormatString="{0:dd/MM/yyyy}" Title="@translationState.Translate("Date")" />

                                                    </Columns>
                                                </RadzenDataGrid>
                                            </div>
                                        </div>
                                    </div>
                                </RadzenAccordionItem>
                            </Items>
                        </RadzenAccordion>
                    }
                    @if (!managerTaskReminderData.Where(x => x.ManagerId == loginState.UserDetail.UserId).Any())
                    {
                        @if (TaskId is not null && taskDetailVM.TaskStatusId == (int)TaskStatusEnum.Pending)
                        {
                            <div class="row d-flex justify-content-center align-items-center pb-3 mt-2">
                                <div class="col-md-12 d-flex justify-content-end">
                                    <RadzenButton ButtonStyle="ButtonStyle.Primary"
                                    class="m-1"
                                    Size="ButtonSize.Small"
                                    Text="@translationState.Translate("Approve")"
                                    Click="@((args) => UpdateServiceRequestStatus((int)ServiceRequestStatusEnum.ApprovedbyHOS))"
                                    @onclick:stopPropagation="true" />

                                    <RadzenButton ButtonStyle="ButtonStyle.Light"
                                    Size="ButtonSize.Small"
                                    Text="@translationState.Translate("Need_Mofification")"
                                    class="m-1"
                                    Click="@((args) => AddServcieRequestRemarks((int)RemarkTypeEnum.NeedModification, (int)ServiceRequestStatusEnum.NeedModification))"
                                    @onclick:stopPropagation="true" />

                                    <RadzenButton ButtonStyle="ButtonStyle.Light"
                                    Size="ButtonSize.Small"
                                    Text="@translationState.Translate("Reject")"
                                    class="m-1"
                                    Click="@((args) => AddServcieRequestRemarks((int)RemarkTypeEnum.Rejected, (int)ServiceRequestStatusEnum.RejectedByHOS))"
                                    @onclick:stopPropagation="true" />

                                </div>
                            </div>
                        }
                    }
                </RadzenCard>
            </div>
        </ChildContent>
    </RadzenContent>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}
