@page "/workerservice-executiondetail-view"
@using FATWA_DOMAIN.Models.ViewModel.WorkerServiceVMs;
@layout MainLayout

<PageTitle>@translationState.Translate("Worker_Service_Execution_Detail")</PageTitle>
@if (loginState.ClaimList.Any(x => x.Value == "Admin.Permissions.Menu.BackgroundServices"))
{
    <div class="row breadcrumbBar justify-content-center align-items-center pb-3">
        <div class="col-md-6">
            <div class="row no-gutters">
                <RadzenBreadCrumb>
                    <RadzenBreadCrumbItem Path="/Index" Text="@translationState.Translate("Home")" />
                    <RadzenBreadCrumbItem Text="@translationState.Translate("Worker_Service")" />
                </RadzenBreadCrumb>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="backtoDashboard">
                <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                              Size="ButtonSize.Small"
                              title="@translationState.Translate("Go_Back_HomeScreen")"
                              class="returnBtn"
                              Icon="home" Click="@GoBackHomeScreen" />
            </div>
        </div>
    </div>
    <div class="row TitleBar justify-content-left align-items-center py-4 pt-5">
        <div class="col-md-6">
            <div class="row no-gutters">
                <RadzenHeading Size="H1" Text="@translationState.Translate("Worker_Service_Execution_Log")" />

            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end ">
        </div>
    </div>
    <RadzenContent Container="main">
        <ChildContent>
            <RadzenCard Style="padding: 30px; border-radius: 8px;">
                <div class="row">
                    <div class="col-lg-12">
                        <RadzenCard>
                            <RadzenAccordion Multiple="true">
                                <Items>
                                    <RadzenAccordionItem Text="@translationState.Translate("Worker_Service_Execution_Log_Detail")">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <RadzenTextBox Placeholder="@translationState.Translate("Grid_Search")"
                                                               style="display: block; margin-bottom: 10px; width: 100%"
                                                               Name="Textbox0"
                                                @oninput="@(async(args) => {await OnSearchInput($"{args.Value}");})" />

                                            </div>
                                            <div class="col-md-8 d-flex justify-content-end tableAdditionButton pb-3 addPrincipleBtn">
                                                <RadzenButton class="addBtn"
                                                              Icon="search"
                                                              Text="@translationState.Translate("Advanced_Search")"
                                                              Click="ToggleAdvanceSearch" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="table-responsive">
                                                    <RadzenDataGrid @ref="grid1"
                                                                    CellRender="@RowCellRender"
                                                                    FilterMode="Radzen.FilterMode.Advanced"
                                                                    Count="@(WSExecutionDetailVMs?.Any() == true ? WSExecutionDetailVMs.FirstOrDefault().TotalCount : 0)"
                                                                    AllowPaging="true"
                                                                    AllowSorting="true"
                                                                    AllowFiltering="false"
                                                                    TItem="WSExecutionDetailVM"
                                                                    LoadData="OnLoadData"
                                                                    Data="@FilteredExecutionDetailResult"
                                                                    Sort="OnSortData"
                                                                    TItem="WSExecutionDetailVM"
                                                                    PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                                                    PageSizeText="@translationState.Translate("Items_Per_Page")"
                                                                    EmptyText="@translationState.Translate("No_record_found")"
                                                                    ShowPagingSummary="true"
                                                                    PageSize="@loginState.PageSize"
                                                                    PageSizeOptions="@systemSettingState.Page_Size_Options"
                                                                    PagingSummaryFormat="@(translationState.PageSummaryFormat != null ? translationState.PageSummaryFormat : "")">
                                                        <Columns>
                                                            <RadzenDataGridColumn TItem="WSExecutionDetailVM" Width="80px" Property=WorkerServiceId Title="@translationState.Translate("Id")"></RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="WSExecutionDetailVM" Width="280px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "WorkerServiceEn" :"WorkerServiceAr") Title="@translationState.Translate("Worker_Service")"></RadzenDataGridColumn>
                                                            <RadzenDataGridColumn TItem="WSExecutionDetailVM" Width="140px" Property="StartDateTime" FormatString="{0:dd/MM/yyyy hh:mm tt}" Title="@translationState.Translate("Start_Date_Time")" />
                                                            <RadzenDataGridColumn TItem="WSExecutionDetailVM" Width="140px" Property="EndDateTime" FormatString="{0:dd/MM/yyyy hh:mm tt}" Title="@translationState.Translate("End_Date_Time")" />
                                                            <RadzenDataGridColumn TItem="WSExecutionDetailVM" Width="140px" Property=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "ExecutionStatusEn" :"ExecutionStatusAr") Title="@translationState.Translate("Execution_Status")" />
                                                            <RadzenDataGridColumn TItem="WSExecutionDetailVM" Width="80px" Property="ReattemptCount" Title="@translationState.Translate("Reattempt_Count")" />
                                                            <RadzenDataGridColumn TItem="WSExecutionDetailVM" Width="200px" Property="ExecutionDetails" Title="@translationState.Translate("Execution_Detail")" />
                                                        </Columns>
                                                    </RadzenDataGrid>
                                                </div>
                                            </div>
                                        </div>
                                    </RadzenAccordionItem>
                                </Items>
                            </RadzenAccordion>
                        </RadzenCard>
                    </div>
                </div>
            </RadzenCard>
        </ChildContent>
    </RadzenContent>
    @*Advance search Window*@
    <TelerikWindow Class="advance-search-window" Size="@(ThemeConstants.Window.Size.Medium)" Draggable="true" Top="45%" Left="45%" Visible="@isVisible">
        <WindowTitle>
            <h1 class="pageTitle">@translationState.Translate("Advanced_Search")</h1>
        </WindowTitle>
        <WindowActions>
            <WindowAction Name="Minimize"></WindowAction>
            <WindowAction Name="Close" OnClick="@ToggleAdvanceSearch"></WindowAction>
        </WindowActions>
        <WindowContent>
            <div class="row">
                <div class="col-md-6">
                    <RadzenLabel Text="@translationState.Translate("Worker_Service")" Component="WorkerService" />
                    <RadzenDropDown Data="@WSWorkerServices"
                                    AllowFiltering="true"
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    AllowClear="true"
                                    TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "WorkerServiceEn" :"WorkerServiceEn")
                                    ValueProperty="Id"
                                    Placeholder="@translationState.Translate("Select")"
                                    Style="display:block;" @bind-Value="@advanceSearchVM.WorkerServiceId"
                                    Name="Status" />
                </div>
                <div class="col-md-6">
                    <RadzenLabel Text="@translationState.Translate("Status")" Component="Status" />
                    <RadzenDropDown Data="@WSExecutionStatuses"
                                    AllowFiltering="true"
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    AllowClear="true"
                                    TextProperty=@(Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "ExecutionStatusEn" :"ExecutionStatusAr")
                                    ValueProperty="Id"
                                    Placeholder="@translationState.Translate("Select")"
                                    Style="display:block;" @bind-Value="@advanceSearchVM.StatusId"
                                    Name="Status" />
                </div>
            </div>
            <div class="row" Style="margin-top:10px;">
                <div class="col-md-6">
                    <RadzenLabel Text="@translationState.Translate("Date_From")" Component="Date_From" />
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="Date_From" @bind-Value="@advanceSearchVM.FromDate" />
                </div>
                <div class="col-md-6">
                    <RadzenLabel Text="@translationState.Translate("Date_To")" Component="Date_To" />
                    <RadzenDatePicker DateFormat="dd/MM/yyyy" Class="w-100" Name="Date_To" @bind-Value="@advanceSearchVM.ToDate" />
                </div>
            </div>
            <div class="row justify-content-end pt-3">
                <div class="col-md-12 popup-buttons-alignment">
                    <RadzenButton ButtonType="Radzen.ButtonType.Button" Icon="search" Text="@translationState.Translate("Grid_Search")" Click="SubmitAdvanceSearch" />
                    @if (Keywords == true)
                    {
                        <RadzenButton ButtonSize="Radzen.ButtonSize.Medium" Icon="find_replace" Text="@translationState.Translate("Reset")" Click="ResetForm" />
                    }
                </div>
            </div>
        </WindowContent>
    </TelerikWindow>
}
else
{
    <div class="demo-alert demo-alert-error" role="alert">@translationState.Translate("Unauthorized")</div>
}
<style>
    .rz-grid-table-fixed {
        table-layout: auto !important;
    }
</style>
